


{{ define "main" }}		
<section class="blog-post">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post-header">
					<h1 itemprop="name" id="title">{{ .Title }} </h1>
					  <ul class="list-inline d-block pb-4 border-bottom mb-3">
                            <li class="list-inline-item"><i class="fa fa-user-circle"></i> <em>{{ .Params.Author }}</em></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> <em>{{ .Date.Format "January 2, 2006" }} </em></li>
                          
                        </ul>
				</div>
				{{if .Params.featuredImage}}
					<div class="image-post">
						<img src="{{ .Params.featuredImage}}"  alt="{{ .Title }}" class="img-fluid">
					</div>
				{{ end }}
				
				<article itemprop="articleBody" id="content" class="w-90 lh-copy">
					{{ .Content }}
				</article>
			</div>
		
		
		  {{ partial "communities/pandemic/share.html" . }}
		  {{ partial "communities/pandemic/pagination-np.html" . }}
		  <!-- {{ partial "communities/pandemic/related-post.html" . }} -->

		</div>

  <section id="main" class="mt5">
   

      

      <!-- last modified note -->
      <span class="f6 gray mv3" title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
        {{ end }}
      </span>



  </section>

	</div>
</section>
{{ end }}





