<!--<div class="col-md-4">-->
<!--<div class="categorylisting">-->
<div class="pandemic-content-left-secion-header">
	<div class="row">
		<div class="col-lg-6 col-md-9">
			<a href="{{ .href }}" onclick="dataLayer.push({'event': 'pandemictitleclick','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})"><span class="pandemic-content-left-secion-header-title">
					{{ .headText }}
				</span></a>
		</div>
		<div class="col-lg-6 col-md-3 pandemic-content-left-secion-header-more">
			<a href="{{ .href }}" onclick="dataLayer.push({'event': 'pandemicmorebuttonclick','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})">More <i class="fas fa-chevron-right p-more-ico-1"></i></a>
		</div>
	</div>
</div>
<div class="pandemic-content-left-secion-content-row">
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="pandemic-content-list-main">
				<a href="{{ .href }}" onclick="dataLayer.push({'event': 'pandemicimage','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})">
					<div class="pandemic-content-list-main-img">
						<img src="{{ .featuredImage }}"
							alt="Pfizer and BioNTech to Co-Develop Potential COVID-19 Vaccine "
							onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'">
					</div>
					<div class="pandemic-content-list-main-txt">{{ .descptText }} </div>
				</a>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="categorylisting pandemic-content-list-1">
				<div class="contentpart">
					<ul>
						{{ range first 3 (where .context.Site.RegularPages ".Params.contentcategories" "==" .contentcategories ) }}
						<li>
							<a href="{{.Permalink}}">
								{{ if ne  .Params.contentcategories "pandemic-actionablecontent" }}
								<div class="imgleft">
									{{ if .Params.featuredimage.href }}
									{{ $fpath:=  .File.Dir }}
									{{ $fileDir := replace $fpath "\\" "/"}}
									<img src="/{{$fileDir}}{{ .Params.featuredimage.href }}" alt="{{ .Title }}"
										onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'">

									{{ else if  .Params.featuredimage }}
									{{ $fpath:=  .File.Dir }}
									{{ $fileDir := replace $fpath "\\" "/"}}
									<img src="/{{$fileDir}}{{ .Params.featuredimage  }}" alt="{{ .Title }}"
										onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'">
									{{ else }}
									<img src="{{ $.context.Scratch.Get "default-image" }}" alt="{{ .Title }}">
									{{ end }}
								</div>
								<div class="imgcontent">
									<p>{{.Title}}</p>
								</div>
								{{ else }}
								<div class="contentOnly">
									<p>{{.Title}}</p>
								</div>
								{{ end }}

							</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
<!--</div>-->
<!--</div>-->