 
<script type="text/javascript" src="/modules/innovation-lifecycle-management/config.js"></script>
<script type="text/javascript" src="/js/tenant.js"></script>
<script type="text/javascript" src="/js/page-service-call.js"></script>
<script>
  var origin  = window.location.origin;
  function setCookie(key, value) {
    var expires = new Date();
    if (key != 'cookie-agree')
      expires.setTime(expires.getTime() + (30 * 24 * 60 * 60 * 1000));
    else
      expires.setTime(expires.getTime() + (5 * 24 * 60 * 60 * 1000));
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
  }
  function getCookie(key) {
    var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
  }
</script>
</head>
 
<script>
  $(document).ready(function () {
    var cookieQueryStatus = window.location.href.indexOf("cookie-policy");
    console.log(cookieQueryStatus);
    if (getCookie('personid') == null && getCookie('cookie-agree') != 'true' && cookieQueryStatus < 0) {
      $('.cookie-bottom').show();
    }
    $('.cookie-agree, .cookie-disagree').on("click", function (e) {
      var expires = new Date();
      expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000));
      document.cookie = 'cookie-agree=true;expires=' + expires.toUTCString() + ';path=/';
      location.reload(true);
    });
     
    // Checking Session value starts here
    var sessionId = getCookie('sessionId');
    if (sessionId != null) {
       var serviceData = { "url": ilmGraphql, "method": "GET", "query": "query{\n  checkAuthentication(authorization:{\n    sessionID:\"" + sessionId + "\"\n    \n  }){\n    valid\n    displayName\n    userName\n    mail\n    personId\n  }\n}" };
        ajaxPageServiceCall.serviceCall(serviceData).then(response => {
            if (response.data.checkAuthentication.valid != true && getCookie('userEmail') != null)
          callLogin();
        })
          .catch(error => {
            console.log(error);
          });  
    }
    // Checking Session value ends here    

    // addOffering button margin-top issue fixes starts here
    if (getCookie('personid') !== null) {
      $('.admin-area').addClass('space-top');
      if (getCookie('personid') == '7eea82e6-c0bd-11e8-85c1-e1894e45cc6e')
        $('#claimDashboardMenu').show();
      else
        $('#claimDashboardMenu').hide();
    }
    else {
      $('.admin-area').removeClass('space-top');
      $('#claimDashboardMenu').hide();
    }
    // addOffering button margin-top issue fixes ends here

    // Collect all tenant of an user starts here
    var sessionId = getCookie('sessionId');
    if (sessionId != null) {
      //console.log("query{\n  getMyTenants(authorization:{\n    sessionID:\""+sessionId+"\"\n  }){\n    tenantId\n    name\n    displayName\n  }\n}");
      var serviceData = { "url": ilmGraphql, "method": "GET", "query": "query{\n  getMyTenants(authorization:{\n    sessionID:\"" + sessionId + "\"\n  }){\n    tenantId\n    name\n    displayName\n  }\n}" };
        ajaxPageServiceCall.serviceCall(serviceData).then(response => {
        var options = '';
        var selectStatus = 0;
        for (var i = 0; i < response.data.getMyTenants.length; i++) {

          var opt = '';
          if (response.data.getMyTenants[i].tenantId != 'cb39d53a-1ef0-11e9-9d28-bb451ba91f54' && response.data.getMyTenants[i].tenantId != 'e8d7b61e-4f8b-11e9-b5be-c51857ed28a4' && response.data.getMyTenants[i].tenantId != 'e7dfc497-707f-11e9-8c9d-33682264df93' && response.data.getMyTenants[i].tenantId != null) {
            if (getCookie('tenantId') !== null && getCookie('tenantId') == response.data.getMyTenants[i].tenantId) {
              var opt = 'selected="selected"';
              selectStatus = 1;

            } $('#tenantDetails').val() == getCookie('tenantId')
            
            options += '<option value ="' + response.data.getMyTenants[i].tenantId + '" ' + opt + '>' + response.data.getMyTenants[i].displayName + '</option>';
          }
        }
        if (options != '') {
          // if(selectStatus == 0)

          $('#tenantDetails').html(options);
          $('#tenantIdForClaim').html(options);
          $('#tenantId').html(options);
          return false;
          // $('#tenantDetails').show();
        }

        })
          .catch(error => {
            console.log(error);
          });
 
    }
    // Collect all tenant of an user ends here    

    $("#tenantDetails").on("change", function () {
      setCookie('tenantId', $("#tenantDetails").val());
      location.reload(true);
    });
    var delete_cookie = function (name) {
      document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
    };
  });
  $(document).ready(function () {
    var addtoILM = getCookie('addtoilmbutton');  
    if (addtoILM == 'reload') {
      $('#addNewsIlm').modal('toggle');
      setCookie('addtoilmbutton', ''); 
    }
    if (getCookie('personid') != null) {
      $('.dropdown').show();
    }
    $(".login-bt").on("click", function () {
      document.loginform.username2.value = '';
      document.loginform.password2.value = '';
      $('#sessionname').val('');
    });

    //ILM section login check
    $("#Innovation_Lifecycle_Top_Menu").on("click", function (e) {
        e.preventDefault();
      if (getCookie('personid') !== null) {
        window.location.href = "/modules/innovation-lifecycle-management/";
      }
      else {        
        setCookie('ilmLoginCheck', 'true');
        $('#loginModalCenter').modal('toggle');
      }
    });
   //ILM section login check End

    $("#register").on("click", function () {
      $('#loginModalCenter').modal('toggle');
      $('#registerModalCenter').modal('toggle');
      $("#userSignup")[0].reset();
      $('#signupMessage').hide();
      $('#signupMessage').html('');
    });
    $("#userlogin").on("click", function () {
      $('#loginModalCenter').modal('toggle');
      $("#loginform")[0].reset();
      $('#errorcode').html('');
    });
    $("#registerlogin").on("click", function () {
      $('#registerModalCenter').modal('toggle');
      $('#loginModalCenter').modal('toggle');
      $("#userSignup")[0].reset();
      $('#signupMessage').hide();
      $('#signupMessage').html('');
    })
  });
</script>


<script>
  function gtmSignUp(status, userName) {
    window.dataLayer.push({
      'gtmUserName': userName,
      'gtmSignupStatus': status,
      'event': 'signUp'
    });
  }
  function gtmSignIn(status, userName) {
    window.dataLayer.push({
      'gtmUserName': userName,
      'gtmSigninStatus': status,
      'url': window.location.href,
      'event': 'signIn'
    });
    console.log(userName + '-' + status + '-' + window.location.href);
    return;
  }
  function getGraphQlUrl() {
    return ilmGraphql;
  }
</script>


<script type="text/javascript">
  $(document).ready(function () {
    $('#zoomsearch').click(function () {
      if ($('#search-query').val() != '')
        $("#searchsubmit").submit();
    });
  });
  $(document).on('keyup', function (e) {
    e.preventDefault();

    /* 
     if(e.which == 13 && $("#loginModalCenter").is(":visible")){
       submitentry();
     }
     */
    //  if(e.which == 13 && ('#search-query').val()!='' && ('#search-query').is(":focus")) {
    //$("#searchsubmit").submit();
    //  }
  });
</script>
<script>
  function base64EncodeUnicode(str) {    
    utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
      return String.fromCharCode('0x' + p1);
    });

    return btoa(utf8Bytes);
  }
  var personid = getCookie('personid');
  var deleteproject = getCookie('deleteprojectlist');
  var deleteName = getCookie('deleteprojectname');
  var sessionId = getCookie('sessionId');
  if (sessionId != null) { 
    var userSession = sessionId;
    var publicCheck = 0; 
  }
  else
  {
    var userSession = '';
    var publicCheck = 1;
  }
  
  $(document).ready(function () {
    if(getCookie('projectId')) {  
     document.cookie = 'projectId=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
    }
    if (sessionId == '') {
       window.location.href = "/";
     }
    if (deleteproject == 'true'){ 
      var notifyMessage = 'ILM Project <b>'+deleteName+'</b> Deleted Successfully'; 
      $('#deletesucess').html(notifyMessage);
      $("#deletesucess").addClass('alert alert-success');
      $('#deletesucess').fadeOut(7300);
      setCookie('deleteprojectlist', '');
      setCookie('deleteprojectname', '');
    }
  var pandemicTenant = pandemicDiseasesTenantID;
  //var pandemicTenant = 596;
  var serviceData = { "url": ilmGraphql, "method": "GET", "query": " query{\n  getAllProjects(authorization:{\n    sessionID:\""+userSession+"\"\n  }\n  tenantId:\""+pandemicTenant+"\",type:[\"MEDIGY_COMMUNITY\",\"MEDIGY_PROJECT\"],isPublic:"+publicCheck+",getAnalytics:false){\n    id\n    name\n    path_with_namespace\n  description\n created_at\n    analytics{\n      offeringTotalCount\n      eventsTotalCount\n      newsTotalCount\n      offeringProductCount\n      offeringSolutionCount\n      offeringServiceCount\n    }\n  }\n}" };
  ajaxPageServiceCall.serviceCall(serviceData).then(response => {
      $('.communityloader').hide();
      var projectResults = response.data.getAllProjects.length;
      if(projectResults == 0){
          $( "#noIlmProjects" ).show();
      }
      console.log(response);  
  var html = "";
  for (key in response.data.getAllProjects) {
    var identifierProjectid = response.data.getAllProjects[key].id;
    var communityDivId = `#just-`+key;
    var create_date = response.data.getAllProjects[key].createdOn; 
    var createdOndt = new Date(create_date);
    var createdOndate =  createdOndt.toLocaleString();
    var arr = createdOndate.split(',');
    var split_createdOndate = arr[0];
    const months = ["Jan", "Feb", "Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
 
    let formatted_date =  months[createdOndt.getMonth()]  + " " + createdOndt.getDate() + ", " + createdOndt.getFullYear()
    
      html += `<div class="pandemic-content-right-secion-row">
                    <div class="pandemic-content-left-secion">
                  <div class="pandemic-content-left-secion-header">
               <div class="row">
                <div class="col-lg-9 col-8">
                 <span class="pandemic-content-left-secion-header-title">
                  <a href="/communities/covid-19-pandemic/covid?ilm=`+response.data.getAllProjects[key].path_with_namespace+`"> `+response.data.getAllProjects[key].name+` </a><a href="/communities/pandemic/covid?ilm=`+response.data.getAllProjects[key].path_with_namespace+`"></a>
                 </span> 
                </div>
                <div class="col-lg-3 col-4 pandemic-content-left-secion-header-more">
                <a href="/communities/covid-19-pandemic/covid?ilm=`+response.data.getAllProjects[key].path_with_namespace+`">More <i class="fas fa-chevron-right p-more-ico-1"></i></a>
                </div>
                </div></div>
                <div class = "nolistingproject alert alert-success" style="display: none;"  id = "nillisting`+identifierProjectid+`"> Currently not added any articles to this ILM project </div>
               
               <div id = "just-`+key+`"> </div>
               </div></div>
               
               `;

      var slug = response.data.getAllProjects[key].path_with_namespace;
      console.log("query{\n  getProjectDetails(authorization:{\n    sessionID:\"" + userSession + "\"\n    \n  }\n    \n    projectSlug:\"" + response.data.getAllProjects[key].path_with_namespace + "\"\n,getAnalytics:true){\n    projectId\n   projectName\n  projectDescription\n  isPublic\n topics{\n key \n} searchKeyWord\n community\n    analytics{\n      offeringTotalCount\n      newsTotalCount\n  eventsTotalCount\n      offeringProductCount\n offeringSolutionCount\n      offeringServiceCount\n    }\n items{\n id\n title\n imageUrl\n label\n uniqueIdentifier\n}  }\n}");
      var serviceData = { "url": ilmGraphql, "divId": communityDivId, "method": "GET", "query": "query{\n  getProjectDetails(authorization:{\n    sessionID:\"" + userSession + "\"\n    \n  }\n    \n    projectSlug:\"" + response.data.getAllProjects[key].path_with_namespace + "\"\n,getAnalytics:true){\n    projectId\n   projectName\n  projectDescription\n  isPublic\n topics{\n key \n} searchKeyWord\n community\n    analytics{\n      offeringTotalCount\n      newsTotalCount\n  eventsTotalCount\n      offeringProductCount\n offeringSolutionCount\n      offeringServiceCount\n    }\n items{\n id\n title\n imageUrl\n label\n uniqueIdentifier\n}  }\n}"};
      ajaxPageServiceCall.serviceCall(serviceData).then(response => {
      $('.ilmprojectsloading').hide();
      var projectDetailsID = response.data.getProjectDetails.projectId;
      var analytics = response.data.getProjectDetails.analytics;
      var totalNewsCount = parseInt(analytics.newsTotalCount);
      var totalEventsCount = parseInt(analytics.eventsTotalCount);
      var totalproductsCount = parseInt(analytics.offeringProductCount);
      var totalservicesCount = parseInt(analytics.offeringServiceCount);
      var totalsolutionsCount = parseInt(analytics.offeringSolutionCount);
      //  console.log(analytics,totalOfferingsCount,totalNewsCount,totalEventsCount);
      var totalcount = (totalproductsCount + totalNewsCount +  totalEventsCount + totalservicesCount + totalsolutionsCount ); 
      if(totalcount==0){
        $( "#nillisting"+projectDetailsID ).show();
      }
        

         console.log('new response',response);


       var divident = response.service.divId;
       console.log('dividentifier',divident);

       var solutionhtml = "";
 
        var solutionscountlist = 0;


    for (key in response.data.getProjectDetails.items) {

    var ilmLabel =  response.data.getProjectDetails.items[key].label;
    var ilmCommunityImage =  response.data.getProjectDetails.items[key].imageUrl;

    if(ilmLabel == "News")
    {
      var ilmCommunityImagePath = (origin+'/news/'+ilmCommunityImage);
    }
    else if(ilmLabel == "Events")
    {

      var ilmCommunityImagePath = (origin+'/events/'+ilmCommunityImage);
      
    }

    else if(ilmLabel == "Service")
    {

      var ilmCommunityImagePath = (ilmCommunityImage);

    }

    else if(ilmLabel == "Solution")
    {

      var ilmCommunityImagePath = (ilmCommunityImage);

    }

    else if(ilmLabel == "Product")
    {

      var ilmCommunityImagePath = (ilmCommunityImage);

    }

    else{

      var ilmCommunityImagePath = '/img/featured/default.png';

    }



  if(solutionscountlist < 4){
 

          solutionhtml  += `<div class="pandemic-content-left-secion-content-row">
    <div class="row">
      <div class="col-md-12">
        <div class="categorylisting pandemic-content-list-1">
          <div class="contentpart">
            <ul>
              <li>
                <a target = "blank" href="` + response.data.getProjectDetails.items[key].uniqueIdentifier + `">
                  <div class="imgleft">
                    <img src="`+ilmCommunityImagePath+`"  alt="" onerror="this.onerror=null; this.src='/communities/pandemic/images/featured-default.png'">
                  </div>
                  <div class="imgcontent">
                    <p>`+response.data.getProjectDetails.items[key].title+`</p>
                  </div>
                </a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>`;
}
  solutionscountlist++
  

 
  
}
console.log('checkingdivid',divident);
$(response.service.divId).html(solutionhtml);



  
 
 

        })
          .catch(error => {
            console.log(error);
          });
  


  }
 $('#test-api').html(html);

        })
          .catch(error => {
            console.log(error);
          });
  

  
});
</script>

<div id = "noIlmProjects" class = "alert alert-success text-center" style="display: none;">

    Currently not added any ILM projects. You can create <a style="text-decoration: underline;" href = "/create-ilm-project/">ILM project</a> to this Pandemic community

 </div>

    <div id="test-api" >
        <div class = "ilmprojectsloading row">
            <div class = "col-md-12"> <span class="ph-load-small">  </span> <span class="ph-load-2">  </span>    </div> 
            <!--<div class = "col-md-4"> <span class="ph-load-small">  </span> <span class="ph-load-2">  </span>    </div> 
            <div class = "col-md-4"> <span class="ph-load-small">  </span> <span class="ph-load-2">  </span>    </div>         
            -->
           
        </div>
        
    </div>
 
       