{{ $basePath := "/node.health-fitt-awards/nodehealth-from-innovation-to-transformation-fitt-awards" }} 
{{ $innerBasePath := "" }} 
{{ $staticPath := "/node.health-fitt-awards/nodehealth-from-innovation-to-transformation-fitt-awards" }}
{{ $jsPath := "node.health-fitt-awards/nodehealth-from-innovation-to-transformation-fitt-awards" }}
{{ $imagePath := "node.health-fitt-awards/nodehealth-from-innovation-to-transformation-fitt-awards" }}




<!-- set varile to get on more scopes -->
{{ $.Scratch.Set "basePath"             $basePath }}
{{ $.Scratch.Set "innerBasePath"        $innerBasePath }}
{{ $.Scratch.Set "staticPath"          $staticPath }}
{{ $.Scratch.Set "jsPath"           $jsPath }}
{{ $.Scratch.Set "imagePath"           $imagePath }}
