<main class="fhir-list-row">
{{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Params.displayinlist" "!=" false ) }} 
        {{ range $paginator.Pages}}
        {{ .Render "li" }}
    {{ end }} 
</main>
{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <nav class="pagination-nav side-padding page-number-position">
        {{ if $paginator.HasPrev }}
            <a href="{{ $paginator.Prev.URL  }}" class="pagination-newer">&lt; Newer Posts</a>
        {{ end }}
        {{ if $paginator.HasNext }}
            <a href="{{ $paginator.Next.URL  }}" class="pagination-older">Older Posts &gt;</a>
        {{ end }}
     <span class="page-number">Page {{.Paginator.PageNumber}}/{{.Paginator.TotalPages}}</span>
     </nav> 

{{ end }}
