<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partialCached "head.html" .  .Title}}
  <body class="single-body">
     <!-- Google Tag Manager (noscript) -->
     <div id="g-tag-body">
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
          style="display:none;visibility:hidden"></iframe></noscript>
    </div>
    <!-- End Google Tag Manager (noscript) -->
    {{ partialCached "nav-bar.html" . .Title}}
    <script>

function base64EncodeUnicode(str) {
    // First we escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
    // then we convert the percent encodings into raw bytes, and finally feed it to btoa() function.
    utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
      return String.fromCharCode('0x' + p1);
    });

    return btoa(utf8Bytes);
  }
      $(document).ready(function () {

    loadComment();

     $("#addNewsIlm .form-control").on("keypress", function(e) {
      if (e.which === 32 && !this.value.length)
        e.preventDefault();
     });

    // Project listing 
   var personid = getCookie('personid');
   var usersession = getCookie('sessionId');
   var tenantId = getCookie('tenantId');
     

    var settings = {
  "async": true,
  "crossDomain": true,
  "url": "{{ $.Site.Params.GraphQLUrl }}",
  "method": "POST",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Connection": "keep-alive",
    "cache-control": "no-cache"
  },
  "data": {
    "query": " query{\n  getAllIlmProjects(authorization:{\n    sessionID:\""+usersession+"\"\n  },getAnalytics:false){\n    id\n    name\n    description\n    created_at\n   }\n}"
  }
}
//console.log(" query{\n  getAllProjects(tenantId:\"7822da54-c0ba-11e8-85c1-6301a0c839d6\",\n  authorization:{\n    sessionID:\""+usersession+"\"\n  }){\n    id\n    name\n    description\n    createdOn\n    updatedOn\n    expiryOn\n  }\n}");

$.ajax(settings).done(function (response) {
  console.log(response);
   html = '<option selected disabled value="">Select</option>';
   for (key in response.data.getAllIlmProjects) {

    html += '<option value = "'+response.data.getAllIlmProjects[key].id+'">'+response.data.getAllIlmProjects[key].name+'</option>'

   }
  $('#projectlistfornews').html(html);
});


// End Project listing 

// Project- offering relation 

  $("#canccel").click(function(e){

  location.reload(); 


  });
 
$("#newsrelationbtn").click(function(){

   

  var imagePath = "{{.Params.featuredimage.href}}";
   console.log('my image',imagePath);
   var urlPermalink = window.location.pathname;

   var description = "{{ .Summary }}";
   description = description.replace(/%/g, "percentage");
   description = base64EncodeUnicode(description);

   var notes = $('#eventsProjectcmnts').val();
   notes = notes.replace(/%/g, "percentage");
   notes = base64EncodeUnicode(notes);

   var usersession = getCookie('sessionId');
   var newsDate =  "{{ .Date.Format "2006-01-02" }}";

     
     console.log("mutation{\n\n  createIlmProjectItem(\n  \n  authorization:{sessionID:\""+usersession+"\"}\n  projectId:\""+$('#projectlistfornews').val()+"\"\n  \trelationId:\""+$('#projectlistfornews').val()+"\"\n    relationType:\"MEDIGY_NEWS\"\n  description : \""+notes+"\"\n  \n  DataCollection:{\n  \n  dataType:\"News\",\n  \n  source:\"Medigy\",\n  \n  title:\"{{ .Title }}\",\n  \n  imageURL:\""+imagePath+"\",\n  \n  uniqueIdentifier:\""+urlPermalink+"\",\n  \n  description:\""+description+"\",\n  \n  postedDate:\""+newsDate+"\",\n  \n  sourceURL:\"{{ .Params.link.href }}\",\n  \n  offeringId:\""+$('#projectlistfornews').val()+"\"\n  \n  })\n  {\n    status\n    message\n    errorCode\n  }\n}"); //return false;

  var settings = {
  "async": true,
  "crossDomain": true,
  "url": "{{ $.Site.Params.GraphQLUrl }}",
  "method": "POST",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Connection": "keep-alive",
    "cache-control": "no-cache"
  },
  "data": {
    "query": "mutation{\n\n  createIlmProjectItem(\n  \n  authorization:{sessionID:\""+usersession+"\"}\n  projectId:\""+$('#projectlistfornews').val()+"\"\n  \trelationId:\""+$('#projectlistfornews').val()+"\"\n    relationType:\"MEDIGY_NEWS\"\n  description : \""+notes+"\"\n  \n  DataCollection:{\n  \n  dataType:\"News\",\n  \n  source:\"Medigy\",\n  \n  title:\"{{ .Title }}\",\n  \n  imageURL:\""+imagePath+"\",\n  \n  uniqueIdentifier:\""+urlPermalink+"\",\n  \n  description:\""+description+"\",\n  \n  postedDate:\""+newsDate+"\",\n  \n  sourceURL:\"{{ .Params.link.href }}\",\n  \n  offeringId:\""+$('#projectlistfornews').val()+"\"\n  \n  })\n  {\n    status\n    message\n    errorCode\n  }\n}"
  }
}
if($('#projectlistfornews')[0].reportValidity() && $('#eventsProjectcmnts')[0].reportValidity()){
  $(this).val("Please wait");
  $(this).attr('disabled',true);
$.ajax(settings).done(function (response) {
  responseStatus = response.data.createIlmProjectItem.status;
  if(responseStatus == "Success")
  {
       $("#newsrelationbtn").attr('disabled',true);
       $("#canccel").attr('disabled',true);
       var notifyMessage = 'News Added'; 
      $('#newsAddedMessage').html(notifyMessage);
      $('#newsAddedMessage').addClass('pull-right alert alert-success pt-2 pb-2 m-0');  
      $("#newsrelationbtn").val("SAVE");
      $('#newsAddedMessage').fadeOut(8300);
      //$("#toNewsIm").trigger('reset');
      window.setTimeout(function(){$('#addNewsIlm .close').click();},9000)
      window.setTimeout(function () { location.reload() }, 3000)
      $('#eventsProjectcmnts').val("");
  }
  else
  {
    var notifyMessage = "Selected news already exists";
     $('#newsAddedMessage').html(notifyMessage);
     $('#newsAddedMessage').addClass('pull-right alert alert-warning pt-2 pb-2 m-0');
     $("#newsrelationbtn").val("SAVE");
     $('#newsAddedMessage').fadeOut(8300);
  }
   
});
} 
  

});
// Project- offering relation

// Login check for add to ILM project 
$(".loginCheckforIlm").click(function(){

      var personid = getCookie('personid');
      

       if(personid==null)
        { 
          setCookie('addtoilmbutton', 'true');  
          $('#addNewsIlm').modal('hide'); 
          $("#addtoilm").attr("data-toggle", 'modal');
          $("#addtoilm").attr("data-target", '#loginModalCenter'); 
        }
         

      
    });
 // End Login check for add to ILM project 
});

</script>
    <div class="about-wrapper">
    <main class="container search-result-row">
<div itemscope itemtype = "https://schema.org/WebPage">
    <div itemprop = "breadcrumb" itemscope itemtype = "https://schema.org/BreadcrumbList">
     <div id="breadcrumbs" class="new-ofer-breadcrumbs">
      <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li class="breadcrumb-item">
                          <a itemprop="item" href="/news"><span itemprop="name">News</span></a>
                          <meta itemprop="position" content="2" />
                        </li>
                        <li class="breadcrumb-item">
                        <span itemprop="name">{{ .Params.link.brand }}</span>
                        <meta itemprop="position" content="3" />
                        </li>
                        <li class="breadcrumb-item active">
                        <span itemprop="name">{{.Title}}</span>
                        <meta itemprop="position" content="4" />
                        </li>
                    </ol>
                    </nav>
      </div>
      </div>
      </div>
<div itemscope itemtype = "http://schema.org/WebSite">
<div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/NewsArticle">

       
        {{ if .Params.featuredimage.href }}
        <picture class="post-figure m-b-15">
            <a href="{{ .Params.link.href }}" target="_blank"><img itemprop="image"
                src="{{ print .Params.basePath .Params.featuredimage.href }}" class="img-responsive" {{ if .Params.title}}alt="{{.Params.title}}" {{end}} onerror="this.onerror=null; this.src='/news/no-image-article.jpg'"></a>
        </picture>
        {{ else }}
         <picture class="post-figure m-b-15">
             <img  itemprop = "image" src="/news/no-image-article.jpg" alt="{{ .Params.title }}" class="img-responsive">
        </picture>
        {{ end }}

               <!-- Modal > Add to Project -->
<div class="modal fade" id="addNewsIlm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <article class="post-login">
           
            <h2>Add News to ILM Projects</h2>
            <div class="form-group row">
              <label class="col-sm-12">Select Project</label>
              <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                      <select class="form-control" id = "projectlistfornews" required>
                         
                      </select>
                    </div>
                    <div style = "display:none;" class="col-md-5"><a id = "add-project" href="#" class="text-right text-primary d-block" data-toggle="modal" data-target="#addnewproject"><u>Not in List, Add Project</u></a></div>
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12">Description</label>
              <div class="col-sm-12">
                <textarea id = "eventsProjectcmnts" class="form-control" required></textarea>
              </div>
            </div>
  
             
            <div class="text-left">
                <input id = "newsrelationbtn" type="submit" value="SAVE" class="btn btn-primary Form_Login_Button">

                <a href="#" id="canccel" class="btn btn-light" data-dismiss="modal"><strong>Cancel</strong></a>
                <span id = "newsAddedMessage"  class="text-center green" role="alert"></span>

                </div>
  
               
  
        </article>
  
  
        <span id="errorcode"></span>
  
      </div>
      
    </div>
  </div>
  </div>
      <!-- Modal > Add to Project ends -->
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
     
        <div class = "cover-content">
                   
            <header class="post-header">
              {{ if eq $.Site.Params.modules.ilmProject.enabled true }}
               <a id = "addtoilm"   href="#" class="new-ofer-btn-1 pull-right loginCheckforIlm ml-3" data-toggle="modal" data-target="#addNewsIlm">
              <i class="fas fa-plus-circle"></i> Add to ILM Project</a>
              {{ end }}
          <h1 class="post-title" itemprop = "Headline">{{ .Title }} </h1>        
         
          <span itemprop = "datePublished">Posted <time  itemprop = "dateModified" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time> via <span><a  itemprop = "url" target = "_blank" href="{{ .Params.link.href }}"><span itemprop = "author">{{ .Params.link.brand }}</span></a></span>           
          {{ if gt .Params.socialScore 0 }}  {{ .Params.socialScore }} shares{{ end }}
          </span>        
        </header>
        <div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/CreativeWork">
               
          <!--<span itemprop = "publisher">medigy.com</span>-->

        </div>
          {{ .Content }}
          {{ if eq .Params.datasource "dropmark"}}
         Continue reading at <a style = "text-decoration: underline;" target = "_blank" href="{{ .Params.link.href }}">{{ .Params.link.brand }}</a>
          {{ end }}
         <hr>
        <div class="row">
        <div class="col-lg-8">
          {{ if (.Params.categories) }}
            {{ range .Params.categories }}
              {{ $textValue := replace . "-hash-" " #"  }}
              {{ $valueLink := . | urlize }}
              {{ $valueLink := replace $valueLink  "#" "hash-"  }}
                <span class="tag-style-1">
                  <a class="category" href="/topic/{{  $valueLink }}"> {{ $textValue }}</a>
                </span>  
            {{ end }}
          {{ end }}   
        </div>
    <div class="col-lg-4">
    <div class="social-share social-count-display">  
     {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
      {{ $class := "fb-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Facebook" }}
      {{ $icon := "fab fa-facebook-square cl-f" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}
       
      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
      {{ $class := "twitter-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Twitter" }}
      {{ $icon := "fab fa-twitter-square cl-t" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
      {{ $class := "linkedin-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Linkedin" }}
      {{ $icon := "fab fa-linkedin cl-in" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
      {{ $class := "email-share-push "}}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Email" }}
      {{ $icon := "fas fa-envelope cl-m" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }} 
      <div class="clearfix"></div>                 
    
    </div>
    </div>
    </div> 
        <!--<hr>-->
               
        {{ $related := .Site.RegularPages.Related . | first 5 }}
        {{ with $related }}
        <h3>See Also</h3>
        <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
         <div class="isso-comment pb-3">
         <section id="isso-thread" data-title = "medigy-comment"  data-isso-id="projects"></section>
         <div class="clearfix"></div>
        </div>
      </div>
      </article>
      {{ template "_internal/disqus.html" . }}
        <!--<nav class="side-padding next-article">-->
     
      <div class="top-10-most-list">
      <div class="fhir-list-row">  
      {{ with .PrevInSection }}
      <h3 class="text-center next-ttl capitalize">Next Article</h3>
      {{ .Render "li-news" }}
      {{ end }}
      </div>
       </div>
    <!--</nav>-->
    </main>
    </div>
    </div>
    </div>
    <script>
    $(document).ready(function(){
    });

    function viewCount(){
      
      var post_id = '{{ .Params.slug }}';
      var title = '{{ .Params.title }}';
      var personid = getCookie('personid');
      
      
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
            "query": "mutation{updatePromCount(type:\"upvote\",inputData:\"{\\\"source\\\": \\\"http://brief.health\\\",\\\"identifier\\\": \\\""+post_id+"\\\",\\\"type\\\":\\\"upvote\\\",\\\"upvoteCount\\\": \\\"1\\\"}\")}"
          }
        }
        $.ajax(settings).done(function (response) {
          console.log('response',response);
        });
    }
    </script>
       
    {{ partialCached "footer.html" . }}
    {{ partialCached "scripts.html" . }}
    {{ $.Scratch.Set "uniqueCommentKey"  .Title }} 
    {{ partialCached "isso.html" . }}
  </body>
</html>
