{{ $basePath := "/hhs-easy-ehr-issue-reporting-challenge/hhs-easy-ehr-issue-reporting-challenge" }} 
{{ $innerBasePath := "" }} 
{{ $staticPath := "/hhs-easy-ehr-issue-reporting-challenge/hhs-easy-ehr-issue-reporting-challenge" }}
{{ $jsPath := "hhs-easy-ehr-issue-reporting-challenge/hhs-easy-ehr-issue-reporting-challenge" }}
{{ $imagePath := "hhs-easy-ehr-issue-reporting-challenge/hhs-easy-ehr-issue-reporting-challenge" }}




<!-- set varile to get on more scopes -->
{{ $.Scratch.Set "basePath"             $basePath }}
{{ $.Scratch.Set "innerBasePath"        $innerBasePath }}
{{ $.Scratch.Set "staticPath"          $staticPath }}
{{ $.Scratch.Set "jsPath"           $jsPath }}
{{ $.Scratch.Set "imagePath"           $imagePath }}
