<div class = "row speakersRow"> 

  <div class = "col-md-6">
    <div class = "row">
   <div class = "col-lg-3 col-md-12 mb-2 pr-0"> <img  src = "{{.Params.participant_one.profileImage}}" alt = "" class = "img-responsive"> </div>
    <div class = "col-lg-9 col-md-12"> <p class = "speaker_one">{{.Params.participant_one.name}}</p> <p>{{.Params.participant_one.role}}<br>{{.Params.participant_one.designation}}<br>{{.Params.participant_one.label}}</p> </div>
    </div>

   </div>

  <div class = "col-md-6">
    <div class = "row">
    <div class = "col-lg-3 col-md-12 mb-2 pr-0"> <img  src = "{{.Params.participant_two.profileImage}}" alt = "" class = "img-responsive"> </div>
    <div class = "col-lg-9 col-md-12"> <p class = "speaker_one">{{.Params.participant_two.name}}</p> <p>{{.Params.participant_two.role}}<br>{{.Params.participant_two.designation}}<br>{{.Params.participant_two.label}}</p> </div>
     </div>

   </div>

   
  <div class = "col-md-6">
    <div class = "row">
    <div class = "col-lg-3 col-md-12 mb-2 pr-0"> <img  src = "{{.Params.participant_three.profileImage}}" alt = "" class = "img-responsive"> </div>
    <div class = "col-lg-9 col-md-12"> <p class = "speaker_one">{{.Params.participant_three.name}}</p> <p>{{.Params.participant_three.role}}<br>{{.Params.participant_three.designation}}<br>{{.Params.participant_three.label}}</p> </div>
     </div>

   </div>

   
  <div class = "col-md-6">
    <div class = "row">
    <div class = "col-lg-3 col-md-12 mb-2 pr-0"> <img  src = "{{.Params.participant_four.profileImage}}" alt = "" class = "img-responsive"> </div>
    <div class = "col-lg-9 col-md-12"> <p class = "speaker_one">{{.Params.participant_four.name}}</p> <p>{{.Params.participant_four.role}}<br>{{.Params.participant_four.designation}}<br>{{.Params.participant_four.label}}</p> </div>
     </div>

   </div>

 
  
  </div> 