<!--<div class="col-md-4">-->
	<!--<div class="categorylisting">-->
		<div class="risk-and-compliance-new-content-left-secion-header">
			<div class="row">
				<div class="col-lg-4 col-md-7">
					<a href="{{ .href }}" onclick="dataLayer.push({'event': 'riskandcomptitle','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})"><span class="risk-and-compliance-new-content-left-secion-header-title">
					{{ .headText }}
					</span></a>
				</div>
				<div class="col-lg-8 col-md-5 risk-and-compliance-new-content-left-secion-header-more">
					<a href="{{ .href }}" onclick="dataLayer.push({'event': 'riskandcompimage','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})">More <i class="fas fa-chevron-right p-more-ico-1"></i></a>
				</div>
			</div>
	</div>
			<div class="risk-and-compliance-new-content-left-secion-content-row">
				<div class="row">
					<div class="col-lg-4 col-md-7">
						<div class="risk-and-compliance-new-content-list-main">
							<a href="{{ .href }}" onclick="dataLayer.push({'event': 'pandemicimage','gtmPage': 'communities-{{ .currentTag }}','gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .headText }}','gtmPersonid':getCookie('userEmail')})">
							<div class="risk-and-compliance-new-content-list-main-img vp">
							<img src="{{ .featuredImage }}" alt="{{ .headText }}" onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'">
							</div>
							<div class="risk-and-compliance-new-content-list-main-txt">{{ .descptText }} </div>
							</a>
						</div>
					</div>
					<div class="col-lg-8 col-md-5">
						<div class="categorylisting risk-and-compliance-new-content-list-1">
							<div class="contentpart">
								<ul class="content-part-list-section row">	
									{{ range first 6 (where .context.Site.RegularPages ".Params.contentcategories" "==" .contentcategories ) }}	
										<li class="col-lg-6 col-md-12">
											<a class="content-list-a" href="{{.Permalink}}">
												{{ if ne  .Params.contentcategories "risk-and-compliance-new-actionablecontent" }}
													<div class="imgleft">
														{{if  eq .Params.contentcategories "medigy-risk-and-compliance-curated-news" }}
														{{ if .Params.featuredimage }}
															{{ $fpath:=  .File.Dir }}
															{{ $fileDir := replace $fpath "\\" "/"}}
															<img src="/{{$fileDir}}{{ .Params.featuredimage }}" alt="{{ .Title }}"
																onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'">
														
														{{ else if  .Params.featuredimage }}
															{{ $fpath:=  .File.Dir }}
															{{ $fileDir := replace $fpath "\\" "/"}}
															<img src="/{{$fileDir}}{{ .Params.featuredimage  }}"  alt="{{ .Title }}" onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'" >
														{{ else }}
															<img src="{{ $.context.Scratch.Get "default-image" }}"  alt="{{ .Title }}" >
														{{ end }}
														{{ else }}
														{{ if  .Params.featuredimage.href }}
															{{ $fpath:=  .File.Dir }}
															{{ $fileDir := replace $fpath "\\" "/"}}
															<img src="/{{$fileDir}}{{ .Params.featuredImage.href  }}"  alt="{{ .Title }}" onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'" >															
														{{ else }}
															<img src="{{ $.context.Scratch.Get "default-image" }}"  alt="{{ .Title }}" >
														
														{{ end }}
														{{ end }}
													</div>
													<div class="imgcontent">
														<p>{{.Title}}</p>
													</div>
												{{ else }}
												<div class="contentOnly">
													<p>{{.Title}}</p>
												</div>
												{{ end }}
												
											</a>
										</li>
									
									{{ end }}
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		<!--</div>-->
	<!--</div>-->