<div class="post-list green">	
	<div class="header">
		<span class="post-icon"> <img src="/risk-and-compliance-new/images/cal.png" alt="latest"></span> Upcoming Events <a href="/communities/risk-and-compliance-new/events/"><i class="fas fa-chevron-circle-right"></i></a>
	</div>	
	<div class="subContent">
		<ul class="posts-list box">
		
			{{ range where .Site.RegularPages ".Params.contentcategories" "==" "events" }}
				<li>
				{{ $eventDate := .Params.eventDate }}	
					<div class="calender">
						<span class="month">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "January" }}</span>
						<span class="date">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "2" }}</span>
						<span class="day">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "Monday" }}</span>
					</div>				
					<div class="subContent">
						<div class="title">
							<a href="{{.Permalink}}">
								{{.Title}}
							</a>
						</div>
						<div class="date">
							<i class="fas fa-calendar-alt"></i> 
							
							{{ ((time $eventDate).Add (10 | duration "hour" )).Format "Monday, Jan 2, 2006" }}
							
						</div>
						<div class="location">
							<i class="fas fa-map-marker-alt"></i> <em>{{ .Params.location }}</em>
						</div>
					</div>
				</li>
			
			{{ end }}
			
			
		</ul>
	</div>
</div>
