{{ $currentTag := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
<section class="container-fluid categories categories-new">
	<div class="container">
		<div class="row"> 
            <div class="col-md-12">
                <div class="security-new-quick-links">
                    <strong>Quick Links:</strong> 
                    <span class="q-links-right">
                        <a href="{{ print "/" ($.Scratch.Get "contentPath") "actionable-content/" }} " onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': 'communities-{{ $currentTag }}','gtmTitle': 'Actionable Content', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">Actionable Content</a> <span class="space-line">|</span> 
                        <a href="{{ print "/" ($.Scratch.Get "contentPath") "contributed-content/" }}" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': 'communities-{{ $currentTag }}','gtmTitle': 'Contributed Content', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">Contributed Content</a> <span class="space-line">|</span> 
                        <a href="{{ print "/" ($.Scratch.Get "contentPath") "curated-content/" }}" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': 'communities-{{ $currentTag }}','gtmTitle': 'Curated Content', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">Curated Content</a> <span class="space-line">|</span> 
                        <a href="{{ print "/" ($.Scratch.Get "contentPath") "infographics/" }}" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': 'communities-{{ $currentTag }}','gtmTitle': 'Infographics', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">Infographics</a> <span class="space-line">|</span> 
                        <!-- <a href="#trending-tweets">#trending on twitter</a> <span class="space-line"></span>          -->
                    </span>
                    <div class="clearfix"></div>
                </div>
			</div>
		 </div><!-- row -->
		 <div class="row"> 
			<div class="col-md-12">
                {{ $contentpath_actionable_content := print "/" ($.Scratch.Get "contentPath") "actionable-content" }}
                <div class="security-new-content-left-secion">   
			        {{ partial (print ($.Scratch.Get "bundle") ) (dict "headText" "Actionable Content" "href"   ( print "/" ($.Scratch.Get "contentPath") "actionable-content" )   "contentcategories" "medigy-security-actionablecontent" "featuredImage" "/communities/medigy-security/images/featuredimage/actionable-content.png" "descptText" "An up to date collection of curated content such as vulnerability updates, patches and fixes that are actionable. Readers need not scour the web looking for latest patches and fixes, but can come here for the latest updates."  "context" . "$" $ ) . $  }}              
                </div>
                <div class="security-new-content-left-secion">
                    {{ partial (print ($.Scratch.Get "bundle") ) (dict "headText" "Contributed Content" "href" ( print "/" ($.Scratch.Get "contentPath") "contributed-content///" ) "contentcategories" "medigy-security-contributed-content" "featuredImage" "/communities/medigy-security/images/featuredimage/contributed-content.png" "descptText" "A compilation of articles from thought leaders and subject matter experts in the cybersecurity space who are part of our community. The articles contain their thoughts, views and knowledge that they have accrued over the years." "context" . "$" $ ) . $  }}                               
                </div>
                <div class="security-new-content-left-secion">
                    {{ partial (print ($.Scratch.Get "bundle") ) (dict "headText" "Curated Content" "href" ( print "/" ($.Scratch.Get "contentPath") "curated-content//" ) "contentcategories" "medigy-security-curated-content" "featuredImage" "/communities/medigy-security/images/featuredimage/curated-content.png" "descptText" "A compilation of articles from thought leaders and subject matter experts in the cybersecurity space who are part of our community. The articles contain thoughts, views and knowledge that they have accrued over the years."  "context" .   ) . $  }}              
                </div>
                <div class="security-new-content-left-secion">
                    {{ partial (print ($.Scratch.Get "bundle") ) (dict "headText" "Infographics" "href" ( print "/" ($.Scratch.Get "contentPath") "infographics//" ) "contentcategories" "medigy-security-infographics" "featuredImage" "/communities/medigy-security/images/featuredimage/infographics.png" "descptText" "A unique collection of hand drawn and curated infographics that focuses on cybersecurity, encryption, ransomware, insider threats and much more." "context" .  ) . $  }}              
                </div>
			</div>
		</div><!-- row -->
		      
        <!-- <div class="security-new-twitter-widget-row" id="trending-tweets">
            <div class="security-new-content-left-secion">
                <div class="security-new-content-left-secion-header">
                    <div class="row">
                        <div class="col-lg-4 col-8">
                            <span class="security-new-content-left-secion-header-title">
                                <a href="#">#trending on twitter</a>
                            </span>
                        </div>
                        <div class="col-lg-8 col-4 security-new-content-left-secion-header-more">
                        </div>
                    </div>
                </div>            
                <div class="security-new-content-left-secion-content-row">
                    <div class="row">
                        <div class="col-md-4" >
                            <div class="security-new-twitter-widget-scroll"id="tweets-security-new"></div>
                        </div>
                        <div class="col-md-4" >
                            <div class="security-new-twitter-widget-scroll"id="tweets-security-new-cl-1"></div>
                        </div>
                        <div class="col-md-4" >
                            <div class="security-new-twitter-widget-scroll"id="tweets-security-new-cl-2"></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div> -->
	</div>
</section>
<!-- <script>
$(document).ready(function () {
    
    var ws = new WebSocket('wss://twitter-scraper.medigy.com:8090');
    let count = 0;
    ws.onmessage = function (medigycl1Tweets) {
        const tweets = medigycl1Tweets.data;
        const tweetId = tweets.split(' ')[0];
        const tweetDivId = 'tweets-security-new';
        if (count < 50) {
            createTweet(tweetId,tweetDivId);
        }
        count = count + 1;
    };

    var ws_cl_1 = new WebSocket('wss://twitter-scraper.medigy.com:8091');
    let count_cl_1 = 0;
    ws_cl_1.onmessage = function (medigycl1Tweets) {
        const tweetscl1 = medigycl1Tweets.data;
        const tweetIdcl1 = tweetscl1.split(' ')[0];
        const tweetDivIdcl1 = 'tweets-security-new-cl-1';
        if (count_cl_1 < 50) {
            createTweet(tweetIdcl1,tweetDivIdcl1);
        }
        count_cl_1 = count_cl_1 + 1;
    };

    var ws_cl_2 = new WebSocket('wss://twitter-scraper.medigy.com:8092');
    let count_cl_2 = 0;
    ws_cl_2.onmessage = function (medigycl2Tweets) {
        const tweetscl2 = medigycl2Tweets.data;
        const tweetIdcl2 = tweetscl2.split(' ')[0];
        const tweetDivIdcl2 = 'tweets-security-new-cl-2';
        if (count_cl_2 < 50) {
            createTweet(tweetIdcl2,tweetDivIdcl2);
        }
        count_cl_2 = count_cl_2 + 1;
    };

});
createTweet = (tweetId,tweetDivId) => {
    twttr.widgets.createTweet(tweetId,
        document.getElementById(tweetDivId),
        {
            align: 'left'
        })
        .then(function (el) {
            // console.log("Tweet displayed..")
        });
}
</script> -->