<div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" 
  class="card blog-card card-height " rel="bookmark" >
  {{ if .Params.featuredimg}}
  <div class="card-img-container">
      {{ if ne .Params.featuredimg "Nil" }}
  <a href="{{ .Permalink }}" onclick="setActiveTab()";><img src="{{ print "/profile/regulated/institution/us-dhhs-cms/hospital/" .Params.featuredimg }}" alt="{{ .Params.title }}" class="card-img" onerror="this.onerror=null; this.src='/profile/regulated/institution/us-dhhs-cms/hospital/default.png'"/></a>
      {{else}}
      <a href="{{ .Permalink }}" onclick="setActiveTab()";><img src="/profile/regulated/institution/us-dhhs-cms/hospital/default.png" alt="{{ .Params.title }}" class="card-img" /></a> 
      {{end}} 
  </div>  
  {{ else }}
  <a href="{{ .Permalink }}" onclick="setActiveTab()";><img src="/profile/regulated/institution/us-dhhs-cms/hospital/no-image-article.jpg" alt="{{ .Params.title }}" class="card-img" /></a>
  {{ end }}
  <article class="card-body">

    <h2 class="card-title"><a class="hdo-gtm-tag" href="{{ .Permalink }}" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTitle': '{{ .Title }}', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">{{ .Params.title }}</a></h2>
    {{ if lt (len (string .Params.facilityId)) 6 }}
    {{ $facilityId := print "0" .Params.facilityId }}
    {{ $.Scratch.Set "facilityId"  $facilityId }}
    {{ else }}
    {{ $.Scratch.Set "facilityId" .Params.facilityId }}
    {{ end }}    
     <p class="mb-1"><span class="compare-image"><a title="Rating courtesy of Medicare.gov | Hospital Compare" href="https://www.medicare.gov/hospitalcompare/profile.html#profTab=0&ID={{ $.Scratch.Get "facilityId" }}" target="_blank"><img src="/img/hospital_compare.jpg" alt="Hospital Compare Image"/></a></span>Rating: 
            {{ if ne .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating "Not Available" }}
            {{ $rating := int .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating }}
            {{ $totalStar := 5}}
            {{ partialCached "star-rating.html" (dict  "rating"  $rating  "totalStar" $totalStar) .Params.facilityId}}
            {{ else }}
            {{ .Params.usDhhsCmsHospitalCompareModel.hospitalOverallRating }}
            {{ end }}
            
    </p>

    
    <p class="card-text f-15"><i class="fas fa-map-marker-alt"></i> {{ if (ne .Params.usDhhsCmsHospitalCompareModel.address "Nil") }}{{ .Params.usDhhsCmsHospitalCompareModel.address }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.city "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.city}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.countyName "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.countyName}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.state.name "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.state.name}}{{ end }}{{if (ne .Params.usDhhsCmsHospitalCompareModel.zipCode "Nil")}}, {{.Params.usDhhsCmsHospitalCompareModel.zipCode}}{{ end }}
      {{ end }}</p>
     
      {{ range .Params.hdotypes }}
      {{ $link := (replace (. | lower) " " "-") }}
      <span class="tag-style-1"><a title="HDO Type" href="/hdotypes/{{ $link }}">{{.}}</a></span>
      {{ end }}
   

    <div class="count-col-3 float-right mt-2">
    <div class="social-share social-count-display">  
     {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://www.facebook.com/sharer/sharer.php?u=" $safeUrl .RelPermalink }}
      {{ $class := "fb-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Facebook" }}
      {{ $icon := "fab fa-facebook-square cl-f" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $tooltip $dataName $dataApp }}
       
      {{ $permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
      {{ $class := "twitter-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Twitter" }}
      {{ $icon := "fab fa-twitter-square cl-t" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $tooltip $dataName $dataApp }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "http://www.linkedin.com/shareArticle?url=" $safeUrl  .RelPermalink }}
      {{ $class := "linkedin-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Linkedin" }}
      {{ $icon := "fab fa-linkedin cl-in" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $tooltip $dataName $dataApp }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
      {{ $class := "email-share-push"}}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Email" }}
      {{ $icon := "fas fa-envelope cl-m" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $tooltip $dataName $dataApp }}                     
     <div class="clearfix"></div>                
     </div>
  </div>
  </article>
</div>
<script>
  function setActiveTab(){
    setCookie('HdoactiveTab', "overviewTab");
    setCookie('HdoactiveInnerTabInnovation', "about-your-innovation-tab");
    setCookie('HdoactiveInnerTabPayValCare', "payment-tab");
    setCookie('HdoactiveInnerTabPatientAccess', "patientAccess-tab");
  }
</script>