<article class="top-banner top-banner-2" style="background: url({{ print ( $.Scratch.Get "banner-image" ) }})">
    <div class="container landing-top-bnr">
		<div class="titles">
			<h2>{{ .Params.title }}</h2>
			<br>
			<p>{{ .Params.subTitle }}</p>        
		</div>
		<div class="banner-cont">
			<p>{{ .Params.Description}}</p>
        </div>
		{{/*  <div class="banner-button">
			<a href="#" class="btn-green">
			  Join Us
			</a>
			<a href="#" class="btn-green" target="_blank">
			  Login
			</a>
		</div>  */}}
      </div>
</article>
