<!DOCTYPE html> 
<html   class=""   lang="{{ .Site.LanguageCode }}"   prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" >
  <head>
    <meta charset="utf-8" />
    {{ partial "communities/meta.html" . }}
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
	{{ $sitetitle := .Site.Title }}
	{{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $sitetitle }}" />
	{{ end }}
    {{ partial "communities/risk-and-compliance-new/head_includes.html" . }}
  </head> 

<body class="single-body">


  {{ partial "nav-bar.html" . }}
  
  {{ partial "bread-crumb.html" . }}
  <section class="detail-wrapper pb-5">
	<div class="container">
	{{ $valfiltered4 := ($.Site.GetPage "taxonomyTerm" "categories").Pages  }}
	{{ range .Data.Pages }}
		{{ $pageTitle1:=  .Title  }}
		{{ $pageTitle:= lower  (replaceRE "(\\s)" "" $pageTitle1)  }}

		  
		<div class="row equal">
			{{ range $key, $value := .Site.Taxonomies.categories }}			
			
					{{ if eq $key $pageTitle}}
					<div class="col-md-12  mt-3"><h2 id="category-title">{{ $pageTitle1 }}</h2> <hr></div>
					{{ range $value.Pages }}
						<div class="col-sm-6 col-md-4 col-lg-3 mb-2">
							<div class="card">
								<img class="card-img-top" src="{{ .Params.image }}">
								<div class="card-block p-2">
									<h6 class=""><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></h6>
								</div>
							</div>
						</div>
					{{ end }}
					{{ end }}
			{{ end }}
		</div>
	

	{{end}}

</div>



</section>





  <!-- community category strats here -->



  {{ partialCached "footer.html" . }}

    
</body>

</html>