<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head-topics.html" . .Title}}
<body class="single-body">
  <script>
    // data layer variable
    $(document).ready(function () {
      $('#Category_Offering_Invite').on("click", function () {
        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'gtmCategory': category,
          'gtmUseremailid': userEmail
        });
      });
    });
  </script>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ partialCached "nav-bar.html" . .Title}}
  <section class="detail-wrapper section-collection">
    <div itemscope itemtype = "http://schema.org/WebSite">
      <div itemprop = "material" itemscope itemtype = "https://schema.org/Product">
      <h2 id="category-title" style="display:none">{{ .Title }} </h2>
      <article class="new-ofering-row-3 commun-content-row-3">
        <div class="container">
          <div id="breadcrumbs" class="new-ofer-breadcrumbs pl-2"><a href="/">Home</a> &gt; <a href="/topics">Topic</a> &gt; {{ replace  .Title  "-hash-" "#"}}</div>
          <div class="row">
            <div class="col-lg-8">
              <div class="new-ofering-row-3-left-cell-1 no-border">
                <h2 itemprop="name" class="category-heading">{{ replace  .Title  "-hash-" "#"}}</h2>
                <br />
                {{ $taxonomyTitle := replace  .Title  "-hash-" "#"}}
                {{ $.Scratch.Set "title" $taxonomyTitle}}
                <p itemprop="description" id="category-decription">
                  {{ range .Site.Data.category }}
                    {{ with .subclasslabel }}
                      {{ $.Scratch.Set "label" . }}
                    {{ end }}
                    {{ with .label }}
                      {{ $.Scratch.Set "label" . }}
                    {{ end }}

                    {{ $label := $.Scratch.Get "label" }}
                    {{ $createdTitle := print .parentclasslabel ": " $label}}
                    {{ $createdTitleWithHash := print .parentclasslabel ": " $label}}
                    {{ $title := $.Scratch.Get "title" }}        
                    {{/* $createdTitle := replace $createdTitle  "#" ""  */}}         
                    {{ if eq $createdTitle $title }}
                      {{ $.Scratch.Set "createdTitleWithHash" $createdTitleWithHash}}
                      {{ with .subclassdescription }}
                      {{ ( . | base64Decode) | safeHTML }}
                      {{ end }}

                      {{ with .description }}
                       {{ ( . | base64Decode) | safeHTML   }}
                      {{ end }}
                      {{ $.Scratch.Set "parentclasslabel" .parentclasslabel }}               
                      {{ $.Scratch.Set "urllabel" $label }}               
                      {{ $.Scratch.Set "classname" .classname }}
                      {{ if .topicInsightsDetails }}
                        {{ range .topicInsightsDetails }}
                          {{ $.Scratch.Set "productCounter" .Product }}
                          {{ $.Scratch.Set "serviceCounter"  .Service }}
                          {{ $.Scratch.Set "solutionCounter" .Solution}}
                          {{ $.Scratch.Set "newsCounter" .News }}
                          {{ $.Scratch.Set "eventsCounter" .Events }}
                        {{ end }}
                      {{ else }}
                          {{ $.Scratch.Set "productCounter" 0 }}
                          {{ $.Scratch.Set "serviceCounter" 0 }}
                          {{ $.Scratch.Set "solutionCounter" 0 }}
                          {{ $.Scratch.Set "newsCounter" 0 }}
                          {{ $.Scratch.Set "eventsCounter" 0 }}

                    {{ end }}      
                    {{ $.Scratch.Set "totalCount" 0 }}   
                    {{ if .topicInsightsTotal }} 
                      {{ $.Scratch.Set "totalCount" .topicInsightsTotal }}
                    {{ else }}
                      {{ $.Scratch.Set "totalCount" 0 }}
                    {{ end }}   
                    
                    {{ $.Scratch.Set "equalentCollections" .equalentCollections}}                   
      
                    {{ end }}
                  {{ end }}
                </p>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="commun-right-row">
              <div class="commun-add-invite-cell">
                <div class="new-ofer-header-right-col-2 ">
                  <div class="new-ofer-q-1">
                    <p>Know anyone building innovative solutions for <b class="category-name">{{ replace .Title "-hash-" "#"}} </b></p>
                    <a href="#" class="new-ofer-btn-1 green inviteProcess" productName = '{{ .Title }}'>
                      <div class="new-ofer-q-1-bt-l" id="Category_Offering_Invite">Invite them to submit their offerings
                      </div>
                      <div class="new-ofer-q-1-bt-r"><i class="fas fa-chevron-right"></i></div>
                      <div class="clearfix"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <hr>
    <article class="new-ofering-row-3 commun-content-row-3">
      <div class="container">
        <div class="new-ofering-row-3-left-cell-2 no-border">
          <div class="row">
            <div class="col-md-12">
              <div class="ofer-list-1-ttl"><b>Topic Community Insights</b></div>
              <ul class="row">
              

                <li class="ml-3 mr-3"><span class="total-count-1">Total: <strong>{{ $.Scratch.Get "totalCount" }}</strong></span></li>
                <li class="ml-3 mr-3"><span class="total-count-1">Product: <strong>{{ $.Scratch.Get "productCounter" }}</strong></span></li>
                <li class="ml-3 mr-3"><span class="total-count-1">Solution: <strong>{{ $.Scratch.Get "solutionCounter" }}</strong></span></li>
                <li class="ml-3 mr-3"><span class="total-count-1">Service: <strong>{{ $.Scratch.Get "serviceCounter" }}</strong></span></li>
                <li class="ml-3 mr-3"><span class="total-count-1">News: <strong>{{ $.Scratch.Get "newsCounter" }}</strong></span></li>
                <li class="ml-3 mr-3"><span class="total-count-1">Events: <strong>{{ $.Scratch.Get "eventsCounter" }}</strong></span></li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="ofer-list-1-ttl"><b>Related Topic Community</b></div>
              <ul class="row" id="relatedCategories">
                {{ $equalentCollections := $.Scratch.Get "equalentCollections" }} 
                {{ range $equalentCollections }}  
                      {{ $relatedCategory := print .parentclasslabel ": " .label}}   
                      {{ $relatedCategoryLink := $relatedCategory | urlize }} 
                      {{ $relatedCategoryLink := replace $relatedCategoryLink  "#" "hash-"  }}                                      
                    <a class="col-md-4" href="/topic/{{$relatedCategoryLink}}">
                      <li class="green-txt insight-list">{{ $relatedCategory }}</li>
                    </a>
                {{ end }}
           
                 
                  {{ $parentclasslabel :=  $.Scratch.Get "parentclasslabel" }}
                  {{ $label :=  $.Scratch.Get "urllabel" }}
                  {{ $classname :=  $.Scratch.Get "classname" }}

              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article class="new-ofering-row-3 commun-content-row-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">            
            <div class="row topic-filter-heading">
              <div class="col-lg-9 col-md-8">
                <h4>{{ replace  .Title "-hash-" "#"}} Topic Insights </h4>
              </div>
              <div class="col-lg-3 col-md-4">
                <aside>
                  <!--<label>Sort by</label>
                  <select>
                    <option selected>Most Popular</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                  </select>-->
                </aside>
              </div>
            </div>
            <div class="top-10-most-row">
              <div class="top-10-most-row-tab-ttl">
                  <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link show active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All ({{ $.Scratch.Get "totalCount" }})</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link show" id="solutions-tab" data-toggle="tab" href="#solutions" role="tab" aria-controls="solutions" aria-selected="false">Solutions ({{ $.Scratch.Get "solutionCounter" }})</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link show" id="products-tab" data-toggle="tab" href="#products" role="tab" aria-controls="products" aria-selected="false">Products ({{ $.Scratch.Get "productCounter" }})</a>
                        </li>
                      <li class="nav-item">
                          <a class="nav-link show" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Services ({{ $.Scratch.Get "serviceCounter" }})</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link show" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">News ({{ $.Scratch.Get "newsCounter" }})</a>
                      </li>
                        <li class="nav-item">
                          <a class="nav-link show" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events ({{ $.Scratch.Get "eventsCounter" }})</a>
                        </li>
                  </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="all-tab">
                  <main class="fhir-list-row">
                    <div class="topic-click-add-suggest">Are there any products that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                                            
                    {{ $posts := where $.Site.Pages "Section" "in" (slice "offering" "news" "past" "upcoming") }}   
                    {{ $createdTitleWithHash := $.Scratch.Get "createdTitleWithHash" }}
                    {{ $categoryName := $createdTitleWithHash }}
                      {{ range $posts}}
                        {{ if (in .Params.categories $categoryName) }} 
                          {{ if (in .Params.sub "brief")}}             
                            {{ .Render "li-news" }}
                          {{ else if (in .Params.sub "events")}}             
                            {{ .Render "li-event" }}
                          {{ else }}                     
                            {{ .Render "li" }}  
                          {{ end }}                                         
                        {{ end }}
                      {{ end }}                      
                  </main>
                </div>    
                <div class="tab-pane fade" id="solutions" role="tabpanel" aria-labelledby="solutions-tab">
                  <main class="fhir-list-row">
                   <div class="topic-click-add-suggest">Are there any solutions that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                          
                    {{ range $posts}}
                      {{ if (in .Params.categories $categoryName) }}
                        {{ if (in .Params.offeringType "Solution")}}   
                                   
                          {{ .Render "li" }}
                        {{ end }}                       
                      {{ end }}
                    {{ end }}
                  </main>
                </div>           
                <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                  <main class="fhir-list-row">
                    <div class="topic-click-add-suggest">Are there any products that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                                
                    {{ range $posts}}
                        {{ if (in .Params.categories $categoryName) }}
                          {{ if (in .Params.offeringType "Product")}}             
                            {{ .Render "li" }}
                          {{ end }}                       
                        {{ end }}
                    {{ end }}
                  </main>
                </div>    
                <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
                  <main class="fhir-list-row">    
                    <div class="topic-click-add-suggest">Are there any services that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                          
                    
                    {{ range $posts}}
                      {{ if (in .Params.categories $categoryName) }}
                        {{ if (in .Params.offeringType "Service")}}             
                          {{ .Render "li" }}
                        {{ end }}                       
                      {{ end }}
                    {{ end }}
                  </main>
                </div>   
                <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                  <main class="fhir-list-row">
                    <div class="topic-click-add-suggest">Are there any news that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                          
                    {{ range $posts }}
                        {{ if (in .Params.categories $categoryName) }}
                          {{ if (in .Params.sub "brief")}}             
                            {{ .Render "li-news" }}
                          {{ end }}                       
                        {{ end }}
                    {{ end }}
                  </main>
                </div>
                <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                  <main class="fhir-list-row">
                    <div class="topic-click-add-suggest">Are there any events that should be added for evaluation? <a class="add-suggest-for-topic" href="/add-suggest/" title="Click here to add/suggest">Click here to add/suggest</a>.</div>                           
                    {{ range $posts }}
                        {{ if (in .Params.categories $categoryName) }}
                          {{ if (in .Params.sub "events")}}             
                            {{ .Render "li-event" }}
                          {{ end }}                       
                        {{ end }}
                    {{ end }}
                  </main>
                </div>              
              </div>
            </div>
          </div>
        </div>
        <div class="isso-comment pb-3">
         <section id="isso-thread" data-title = "medigy-comment"  data-isso-id="projects"></section>
         <div class="clearfix"></div>
        </div>
      </div>
    </article>
  </section>
</div>
</div>

  {{ partialCached "footer.html" . }}
  {{ $.Scratch.Set "uniqueCommentKey"  .Title }} 
  {{ partialCached "isso.html" . }}
  <script src="/js/type-writer.js"></script>
  <script type="text/javascript">   
    $(document).ready(function () {
      loadComment();
      $('.trendValue').hide();
      
      $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
          localStorage.setItem('activeTopicsTab', $(e.target).attr('href'));
          var selected = $(e.target).attr('href');
      });
      var activeTopicsTab = localStorage.getItem('activeTopicsTab');

      if(activeTopicsTab){
          $('#myTab a[href="' + activeTopicsTab + '"]').tab('show');
      }else{
          $('a[href="' + "#followed" + '"]').addClass( "active" );
      }

      $(".inviteProcess").on("click", function () {
        if (getCookie('personid') != null) {
          $('#inviteMessage').hide();
          $('#inviteModalCenter').modal('toggle');
          $('#facetName').val($(this).attr('facetName'));
          $('#productName').val($(this).attr('productName'));
          $('#facetsSlug').val($(this).attr('data-app'));
        }
        else {
          $('#loginModalCenter').modal('toggle');
        }
      });

      $('#inviteform').on('submit', function (e) {

        if (e.isDefaultPrevented()) {
          alert('form is not valid');
        }

        else {
          e.preventDefault();
          $('#inviteButton').prop("disabled", true);
          var session = getCookie('sessionId');
          var inviteeEmail = $('#inviteEmail').val();
          var fullUrl = window.location.href;
          var splitedUrl = fullUrl.split('?');
          if (typeof (splitedUrl) == 'undefined')
            var url = window.location.href;
          else
            var url = splitedUrl[0];
          var fromName = getCookie('firstname');
          var inviteeName = $('#inviteFirstName').val() + ' ' + $('#inviteLastName').val();          
          var topicName = $('#productName').val();
          
          var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "cache-control": "no-cache"
            },
            "data": {
              "query": `mutation{
                  sendTopicInviteEmail(
                    email:{
                        displayName:"`+inviteeName+`"
                        email:"` + inviteeEmail + `"
                    },
                    url:"` + url + `",
                    fromName:"` + fromName + `",
                    toName:"` + inviteeName + `",
                    topic:"` + topicName + `"
                    authorization:{
                      sessionID:"`+session+`"
                    }
                    ){
                      status
                      message
                      errorCode
                    }
                  }`
            }
          }
     
          $.ajax(settings).done(function (response) {
            $('#inviteButton').prop("disabled", false);
            $('#inviteMessage').html("");
            if (response.data.sendTopicInviteEmail.status != "SUCCESS") {

              $('#inviteMessage').html(response.data.sendTopicInviteEmail.message);
              $('#inviteMessage').addClass('alert-danger');
              $('#inviteMessage').show();
            }
            else {

              $('#inviteMessage').html(response.data.sendTopicInviteEmail.message);
              $('#inviteMessage').addClass('alert-success');
              $('#inviteMessage').show();
              $('#inviteform')[0].reset();
            }
          });


        }
      });
      //inviteProcess ends here

      var topicCollection = {{ $parentclasslabel }};
      var topicLabel =  {{ $label }};
      var topicClass = {{ $classname }};

      if (topicCollection == 'Medigy')
      var topicData = topicLabel;
      else
      var topicData = topicCollection+": "+topicLabel;
      $('.add-suggest-for-topic').attr("href", "/add-suggest/?collection="+topicCollection+"&label="+topicLabel+"&className="+topicClass);
      
    });
    
    // data layer variable
    $(document).ready(function () {    
      $('.Category_Followed_Tab').on("click", function () {
        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        gtmAddCategory(userEmail,category)     
      });
      $('.Category_Starred_Tab').on("click", function () {
        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        gtmAddCategory(userEmail,category)        
      });
       $('.Category_Used_by_Tab').on("click", function () {
        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        gtmAddCategory(userEmail,category)     
      });
      $('.Category_Wishlisted_Tab').on("click", function () {
        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        gtmAddCategory(userEmail,category)        
      });        
    });  
    //data layer variable function
    function gtmAddCategory(userEmail,category){        
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'gtmUseremailid': userEmail,
        'gtmCategory': category        
      });
      return;
    }
  </script>
</body>
</html>
{{ partialCached "script-upvote.html" . }}