<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="single-body">
  {{ partial "nav-bar.html" . }}
  <script>
    $(document).ready(function () {
      $("#imageThumb").click(function(){        
        $("#featuredAwardImage").show();
        $("#youtubePlay").hide(); 
      });
      $("#youtubeThumb").click(function(){        
         $("#youtubePlay").show();
         $("#featuredAwardImage").hide();  
       });
    });
  </script>
  <div class="about-wrapper">
    <main class="container search-result-row">
      {{ partial "bread-crumb.html" . }}
      <div itemscope itemtype = "http://schema.org/WebSite">
        <div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/NewsArticle">   
          {{ if eq .Params.recognition_group_url "2020-medigy-hitmc-awards" }}        
            <picture class="post-figure m-b-15">
              <a href="#"></a><img itemprop="image" src="/recognitions/awards/2020/recognition/hitmc.com-2020-medigy-hitmc-awards.jpg"
                class="img-responsive" alt = "medigy-awards" {{ if .Params.title}}alt="{{.Params.title}}" {{end}}
                onerror="this.onerror=null; this.src='/news/no-image-article.jpg'">
              </a>
            </picture>
          {{ else if eq .Params.recognition_group_url "2019-medigy-hitmc-award-winners" }}
            <picture class="post-figure m-b-15">
              <a href="#"></a><img itemprop="image" src="/recognitions/awards/2019/recognition/2019-medigy-hitmc-awards.jpg"
                class="img-responsive" alt = "medigy-awards" {{ if .Params.title}}alt="{{.Params.title}}" {{end}}
                onerror="this.onerror=null; this.src='/news/no-image-article.jpg'">
              </a>
            </picture>
          {{ else }}
            <picture class="post-figure m-b-15">
              <img  itemprop = "image" src="/news/no-image-article.jpg" class="img-responsive" alt = "medigy-awards">
            </picture>
          {{ end }}
 
          <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">  
            <div class = "cover-content">                  
              <header class="post-header row">
                <div class="col-md-3"><img  itemprop = "image" src="{{ .Params.profileimage }}" class="img-responsive" alt = "medigy-awards"></div>
                  <div class="col-md-9">                         
                    <h1 class="post-title" itemprop = "Headline">{{ .Params.title }} </h1>
                    <hr>
                    <div class = "profile-contact-text">
                      <div>
                        {{ $aboutWinnerCount :=  .Params.about_winner | countwords }}
                        <p class="profile-description-1">
                        {{ if  .Params.profile_url}}
                          <a id = "view-profile"   href="{{ .Params.profile_url }}" class="new-ofer-btn-1 pull-right ml-3 green-button" target="_blank">View Profile</a>
                        {{ else }}
                            <a id = "view-profile"   href="{{ .Params.winner_url }}" class="new-ofer-btn-1 pull-right ml-3 green-button" target="_blank">View Profile</a>
                        {{ end }}
                        <b> {{ .Params.recognized }}</b> {{ if gt $aboutWinnerCount 0}} - {{ end }} {{ .Params.about_winner }}</p>                       
                      </div>                 
                    </div>
                  <hr>
              </header>
              <div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/CreativeWork"></div>
                {{ .Content }}
                <div class="row">
                  <div class="col-lg-8">
                    <a href="{{ .Params.source_url }}" target="_blank" class="ofer-see-more Product_See_More_Button" role="button" aria-expanded="false">
                      Read More
                    </a>
                  </div>
                  <div class="col-lg-4">
                    <div class="social-share social-count-display">  
                      {{ $permaLink := .Permalink | safeURL}}

                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "https://www.facebook.com/sharer/sharer.php?u="  $safeUrl .RelPermalink }}
                      {{ $class := "fb-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $tooltip := "Facebook" }}
                      {{ $icon := "fab fa-facebook-square cl-f" }}
                      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip $dataName}}
            
                      {{ $permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl .RelPermalink }}
                      {{ $class := "twitter-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $tooltip := "Twitter" }}
                      {{ $icon := "fab fa-twitter-square cl-t" }}
                      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip $dataName}}
            
                      {{$permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "http://www.linkedin.com/shareArticle?url="  $safeUrl .RelPermalink }}
                      {{ $class := "linkedin-share-push fb-share" }}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $tooltip := "Linkedin" }}
                      {{ $icon := "fab fa-linkedin cl-in" }}
                      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip $dataName}}
            
                      {{$permaLink := .Permalink | safeURL}}
                      {{ $safeUrl := $.Site.Params.siteUrl }}
                      {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl $permaLink}}
                      {{ $class := "email-share-push"}}
                      {{ $dataApp := .Params.id }}
                      {{ $dataSlug := .Permalink }}
                      {{ $dataName := .Title }}
                      {{ $tooltip := "Email" }}
                      {{ $icon := "fas fa-envelope cl-m" }}
                      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip $dataName}}
                      <div class="clearfix"></div>                 
                      <div class="clearfix"></div>   
                    </div>
                    </div>
                  </div>
                  {{ if .Params.youtube}}  
                    <div class = "row">
                      <div class="col-md-8">
                        <div class="mt-3" id = "youtubePlay" > <iframe  width="100%" height="295" src="{{ .Params.youtube }}" frameborder="0" allow="autoplay" allowfullscreen></iframe> </div>
                        <div class="mt-3" id = "featuredAwardImage" style = "display:none;"><img  itemprop = "image" src="{{.Params.featuredimage }}" class="img-responsive"></div>
                      </div>
                      <div class="col-md-4">
                        <div class="mt-3" id = "youtubeThumb"> <img  itemprop = "image" src="/recognitions/awards/2020/recognition/award-youtube-thumb-1-2-play-button.jpg" class="img-responsive" alt = "medigy-awards"> </div>
                        <div class="mt-3" id = "imageThumb"><img  itemprop = "image" src="{{ .Params.featuredimage }}" class="img-responsive" alt = "medigy-awards"></div>
                      </div>
                  {{ else }}
                      <div class="mt-3"><img  itemprop = "image" src="{{ .Params.featuredimage }}" class="img-responsive" alt = "medigy-awards"></div>
                  {{ end }}
                </div>     
              </div>
            </article>
          </main>
        </div>
      </div>
    </div>
    {{ partialCached "footer.html" . }}
    {{ partialCached "scripts.html" . }}
    {{ $.Scratch.Set "uniqueCommentKey"  .Title }}  
  </body>
</html>
