html{
    background: #fff;
}
h1, h2, h3, h4, h5 {
    font-weight: bolder;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
h2 {
    font-size: 1.5em;
    margin: .57em 0;
}

ol, ul {
    list-style: none;
    padding: 0px;
}
article ol, article ul {
    list-style: revert !important;
    padding: revert !important;
}
li.slds-m-left_x-small, li.slds-tree__branch {
    list-style: none;
}
.slds-text-align--left, .slds-text-align_left {
    padding:0 !important;
}
nav#TableOfContents ul li {
    list-style: none;
}
nav#TableOfContents ul {
    padding: 0;
}
nav#TableOfContents ul li ul {
    padding: 0 0 0 10px;
}



.logo{
    max-width: 50px;
}

.slds-context-bar{
    height: auto;
}
article #content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.slds-notify.slds-notify_alert{
    justify-content: flex-start;
    margin-bottom: 10px;
}
.slds-alert_help, .slds-alert_info{
    background-color: #378ef0;
    color: #fff;
}
.slds-alert_success{
    background-color: #33ab84;
    color: #fff;
}

pre {
    line-height: 1.2;
    font-size: 14px;
    word-wrap: normal;
    padding: 0.5rem;
    display: block;
    overflow-x: auto;
    border-radius: 3px;
    border: 1px solid rgba(193, 193, 193, 0.639);
    position: relative;
}
.taglist{
    justify-content: flex-end;
}

.slds-tabs--default__content{
    background-color: rgba(80,80,80,.02);
    border: 1px solid  rgba(50,50,50,.05);
    border-radius: 4px;
    padding: 16px !important;
    margin: 16px  !important;
}

.slds-tabs--default__item.slds-text-heading--label.slds-active::after{
    background-color: #007add;
    height: 2px;
}

.page-toc {
    flex: 0 0 16rem;
    font-size: .85rem;
}

.mainList > .slds-tree__item span.slds-truncate {
    font-weight: 600;
}

.slds-table td, .slds-table th {
    white-space: revert !important;

}