<!DOCTYPE html>
<html lang="en-us" dir="ltr">
  {{ partialCached "head.html" . "feeds-bundle-key"}}
  <body class="list-body">

<!-- Google Tag Manager (noscript) -->
<div id="g-tag-body">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</div>
  <!-- End Google Tag Manager (noscript) -->
<script src="/js/moment.js"></script>  
{{ partialCached "nav-bar.html" . "feeds-bundle-key"}}
<section class="commun-wrapper">

<article class="new-ofering-row-3 commun-content-row-3">
  <div class="container">
    {{ $variant := "feeds-bundle"}}
    {{ partialCached "bread-crumb.html" . $variant}}    
    {{ $btnId := "AddFeeds_Top" }}
    {{ $label := "Add Feed" }}
    {{ $value := "Feeds" }}
    {{ $tabId := "feeds-tab" }}
    {{ $tab := "feeds" }}
    {{ partialCached "add-button.html" (dict  "btnId"  $btnId  "label" $label "value" $value "tab" $tab "tabId" $tabId) $label }}
        <div class="row">
            <div class="col-lg-12">
                <div class="category-what-new-row">
                    <div class="top-10-most-row">
                        <div class="top-10-most-row-tab-ttl">
                            <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link show" id="followed-tab" href="/feed/latest" role="tab" aria-controls="followed" aria-selected="false" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><i class="fas fa-chart-line"></i> Latest</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link show active" id="favorite-tab"  href="/feed/bundle" role="tab" aria-controls="favorite" aria-selected="false" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><i class="fas fa-th"></i> Bundle</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">                         
                                <!-- feeds-list-row starts -->
                                <div class="feeds-list-row row">
                                {{ $.Scratch.Set "seeMoreCounter" 1 }}
                                {{range ($.Site.GetPage "taxonomyTerm" "feedSource").Pages }}
                                
                                <div class="col-lg-4 col-md-6">
                                    <div class="feeds-list-col-1">
                                        <div class="feed-head">
                                        <!--<div class="feed-pro-logo"><img src="/images/feeds-ico-1.jpg" alt=""></div>-->
                                        {{ $.Scratch.Set "siteUrl" "" }}
                                        {{ range first 1 (.Pages.ByParam "feedSource") }}
                                        {{ $.Scratch.Set "siteUrl" .Params.feed.site_url }}
                                        {{ $.Scratch.Set "siteTitle" .Params.feed.title }}
                                        {{ $.Scratch.Set "id" .Params.feed.id }}
                                        {{ $.Scratch.Set "favicon" .Params.icon.href }}
                                        {{ $.Scratch.Set "sourceFeed" .Params.feedSource }}
                                        {{ end }} 
                                        {{ $sitetitle := $.Scratch.Get "siteTitle" }} 
                                        {{ $favicon := $.Scratch.Get "favicon" }}
                                        {{ $source := $.Scratch.Get "sourceFeed" }}                                         
                                        {{ with $source }}
                                           {{ $firstTab := index . 0 }}
                                              {{ $.Scratch.Set "firstTab" $firstTab }}
                                         {{ end }}
                                         {{ $sourceFeed := $.Scratch.Get "firstTab" }}                                                                               
                                        {{ $imagepath  := print "/feed/latest/" $sourceFeed "/" $favicon }}                                             
                                       
                                        <div class="feed-pro-logo">{{ if $favicon }}<img src="{{ $imagepath }} {{ $.Scratch.Get "feed.id"  }}" onerror="this.onerror=null; this.src='/feed/latest/feed.ico'" alt='{{ $.Scratch.Get "siteTitle"}}'>{{ else }}<img src="/feed/latest/feed.ico" onerror="this.onerror=null; this.src='/feed/latest/feed.ico'" alt="{{ $.Scratch.Get "siteTitle"}}">{{end}}</div>
                                                <a href="{{ $.Scratch.Get "siteUrl"  }}" target="_blank"><div class="feed-pro-title" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .Title }}','gtmPersonid':getCookie('userEmail')})">        
                                                    {{ $.Scratch.Get "siteTitle"}}                                                     
                                                </div></a>
                                        <div class="clearfix"></div>
                                        </div>
                                        <ul> 
                                            {{ $.Scratch.Set "linksiteUrl" "" }}
                                            {{ range first 3 (.Pages.ByParam "feedSource") }}
                                            {{ $.Scratch.Set "linksiteUrl" .Params.link.href }}
                                            <li> <a href="{{ $.Scratch.Get "linksiteUrl"  }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a></li>
                                            {{end}}
                                           
                                            <div class="collapse" id="bundle{{ $.Scratch.Get "seeMoreCounter" }}">
                                        {{ $.Scratch.Set "linksiteUrl" "" }}
                                        {{ range first 7 (after 3 (.Pages.ByParam "feedSource" )) }}
                                        {{ $.Scratch.Set "linksiteUrl" .Params.link.href }}
                                        <li> <a href="{{ $.Scratch.Get "linksiteUrl"  }}" target="_blank" title="{{ .Title }}">{{ .Title }}</a></li>
                                        
                                        {{end}}
                                            </div>
                                            <a class="bundle-more" data-toggle="collapse" href="#bundle{{ $.Scratch.Get "seeMoreCounter" }}" role="button" aria-expanded="false" aria-controls="bundle1">
                                                See more
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                                {{ $.Scratch.Add "seeMoreCounter" 1 }}
                                {{end}}                        
                                </div>
                                <!-- feeds-list-row ends -->
                            </div>    
                        </div>
                    </div>
                </div><!-- category-what-new-row ends -->
            </div>
      </div>
    </div>
  </article>  
</section>





{{ partialCached "scripts.html" . }}
 
<script>
    $(document).ready(function(){
        $('.bundle-more').click(function(){
            if( $(this).html().indexOf("See more") != -1)
            {
            $(this).html("See less");
            }
            else
            $(this).html("See more");
        });
    });
       
</script>
      
{{ partialCached "footer.html" . }}

  </body>
</html>