miniflux
peewee
psycopg2-binary
bonobo
black
jsonnet
pyjq
pillow
csvs-to-sqlite
csvkit
python-frontmatter
pretty-errors
pydantic 
mypy
tqdm
datasette
sqlite-utils
urlextract
idna
uritools
appdirs
requests
furl
python-slugify
tldextract
pyyaml
ucache