<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>

<body class="">
  {{ if not .Site.Params.ui.navbar_disable }}
    <header>  
      {{ partial "navbar.html" . }}  
    </header>
  {{ end }}
<main class="container flex slds-m-vertical_small"> 


  <div class="slds-grid slds-wrap">
    
     <!-- Left menu Content -->
    <div class="slds-size_2-of-12">
      {{if not .IsHome}}
      <div class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">       
          <aside class="page-menu ">
            {{ template "leftPanel" . }}
          </aside>
      </div>
      {{end}}

    </div>
    
     <!-- Page Content -->
    <div class="slds-size_8-of-12">
      <div class="slds-box_x-small  slds-m-around_x-small">
        <div class="page-content slds-container--large slds-container--center">
          <div class="page-header">
            <!-- Mobile layout header -->
           
          </div>
         
          <article>
            {{ template "main" . }}
          </article>
        </div>

      </div>
    </div>
     <!-- Table of Contents -->
    <div class="slds-size_2-of-12">
      <div class=" slds-box_x-small slds-text-align_left slds-m-around_x-small">
        <aside class="page-toc">
          {{ template "rightPanel" . }}
        </aside>

      </div>
    </div>
  </div>
  
</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

<script>
  /*SLDS Tabs JS*/
$('.slds-tabs--default__link,.slds-tabs--scoped__link').click(function(){
  $(this).parent().parent().find('.slds-tabs--default__link,.slds-tabs--scoped__link').attr('aria-selected','false');
  $(this).attr('aria-selected','true');
  $(this).parent().parent().find('.slds-tabs--default__link,.slds-tabs--scoped__link').attr('tabindex','-1');
  $(this).attr('tabindex','0');
  $(this).parent().addClass('slds-active').siblings().removeClass('slds-active');
  $(this).parent().parent().parent().find('.'+$(this).parent().parent().parent().find('.slds-tabs--default__content,.slds-tabs--scoped__content')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
  $(this).parent().parent().parent().find('#'+$(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');
}); 
/*SLDS Tabs JS*/


  /*SLDS Tabs JS*/
  $('.slds-tree .slds-button.slds-button_icon').click(function(){
    $(this).parent().parent().parent().find('.slds-tree__branch').attr('aria-expanded','false');
    $(this).parent().parent('.slds-tree__branch').attr('aria-expanded','true');
    $(this).attr('aria-expanded','true');

    // $(this).attr('aria-selected','true');
    // $(this).parent().parent().find('.slds-tabs--default__link,.slds-tabs--scoped__link').attr('tabindex','-1');
    // $(this).attr('tabindex','0');
    // $(this).parent().addClass('slds-active').siblings().removeClass('slds-active');
    // $(this).parent().parent().parent().find('.'+$(this).parent().parent().parent().find('.slds-tabs--default__content,.slds-tabs--scoped__content')[0].classList[0]).removeClass('slds-show').addClass('slds-hide');
    // $(this).parent().parent().parent().find('#'+$(this).attr('aria-controls')).removeClass('slds-hide').addClass('slds-show');
  }); 



</script>
</body>
</html>


{{ define "leftPanel" }}
  {{ partial "sidebar-tree.html" . }}
{{ end }}

{{ define "rightPanel" }}
  {{ partial "toc.html" . }}
{{ end }}