
<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>

<body class="">
  {{ if not .Site.Params.ui.navbar_disable }}
    <header>  
      {{ partial "navbar.html" . }}
    </header>
  {{ end }}
<main class="container flex slds-m-vertical_small"> 


  <div class="slds-grid slds-wrap">
    
     <!-- Left menu Content -->
    <div class="slds-size_2-of-12">
      {{if and  (not .IsHome) (ne .URL "/tags/")  }}
        <div class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">       
            <aside class="page-menu ">
              {{ template "leftPanel" . }}
            </aside>
        </div>
      {{end}}

    </div>
    
     <!-- Page Content -->
    <div class="slds-size_8-of-12">
      <div class="slds-box_x-small  slds-m-around_x-small">
        <div class="page-content slds-container--large slds-container--center">
          <div class="page-header">
            <!-- Mobile layout header -->
           
          </div>
         
          <article>
            {{ template "main" . }}
          </article>
        </div>

      </div>
    </div>
     <!-- Table of Contents -->
    <div class="slds-size_2-of-12">
      <div class=" slds-box_x-small slds-text-align_left slds-m-around_x-small">
        <aside class="page-toc">
          {{ template "rightPanel" . }}
        </aside>

      </div>
    </div>
  </div>
  
</main>

{{ partialCached "scripts.html" . }}

{{- if eq .Params.isVssueCommentEnabled "true" -}}
    {{ partial "comment" (dict "pageIdentifier" .RelPermalink) }}
{{- end -}}
</body>
</html>


{{ define "leftPanel" }}
  {{ partial "sidebar-tree.html" . }}
{{ end }}

{{ define "rightPanel" }}
  {{ partial "toc.html" . }}
{{ end }}