{{ partial "page-meta-tags.html" . }}
<span>&nbsp;</span>
{{ if not $.Params.hide_title }}
<h1 id="page-title" class="slds-text-heading_large "><strong>{{ .Title }}</strong></h1>
{{ end }}

{{ with .Params.description }}<div class="coral-Well">{{ . | markdownify }}</div>{{ end }}


{{ $content := replace .Content "<a href" "<a class='' href" }}
{{ $content := replaceRE "(?sm).+\\[\\]\\(TOC\\).+\\[\\]\\(TOC\\)" "" $content }}
<div id="content" class="slds-m-top_x-large">{{ $content | safeHTML }}</div>


<div class="">{{ partial "page-meta-lastmod.html" . }}</div>