{{ $.Scratch.Set "facilityId" .Params.facilityId }}
{{ range first 1 .Site.Data.hdo_eodb_likert_lhc_form.items }}
{{ range .items }}
{{ $catId := .localQuestionCode }}
{{ $.Scratch.Set "catId" $catId}}

<!-- Accordion starts -------------->
<div class="accordion" id="accordion_{{ $catId }}">
    <div class="card">
        <div class="card-header" id="heading_{{ $catId }}">
            <h2 class="mb-0">  
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_{{ $catId }}" aria-expanded="false" aria-controls="collapseOne">               
                <i class="{{ range $key, $value := .prefix }} {{ if eq $key "iconCss" }} {{ print  $value }} {{ end }} {{ end }}"> </i> {{.question}}  <span class="weight_{{ $catId }} pull-right font-weight-lighter badge badge-success caddsInnovation m-2"> </span> <span class="users_{{ $catId }} pull-right font-weight-lighter badge badge-success caddsInnovation m-2">  </span><div class="arrow_box_addOffering arrow_box_category_addOffering" id="categoryInfoMessageBox"> </div>   
                    <span class="label-optional">(Optional)</span>
                <i class="fa fa-chevron-up right-icon"></i>
            </button>
            </h2>
        </div>           
        <div id="collapse_{{ $catId }}" class="collapse" aria-labelledby="heading_{{ $catId }}" data-parent="#accordion_{{ $catId }}" style="height: 0px;" aria-expanded="false">
            <div class="card-body pt-0">
                <div class="new-ofering-row-5">
                    <article class="cadd-row-1" >      
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p class="cadd-txt-1"> {{ range .items }} {{.question }} {{ end }}</p>
                                <label class="toggle-label hide-show-btn float-none toggle-fix-width">
                                    <input class="showhide" type="checkbox" id="{{  $catId }}" onclick="LikertDisplay(this)">
                                    <span class="back">
                                        <span class="toggle"></span>
                                        <span class="submitAnswer label on reviewLabel{{ $catId }}">Submit your answers</span>
                                        <span class="label off viewLabel{{ $catId }}">Review other submissions</span>
                                    </span>
                                </label>
                            </div>
                            <!-- <div class="col-sm-12 likerttext reviewLabel{{ $catId }}" id="reviewLabel"></div> -->    
                        </div>
                        {{$metricId:= .localQuestionCode }}
                        <div class="cadd-table border-0 mb-0">
                            <table class="table text-center firstTableSubmitt" id="cadd-table{{ $catId }}" >
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        {{/* $.Scratch.Set "tagCounter" .category.options */}} 
                                        {{ range first 1 .items }}
                                            {{ range first 1 .items}}
                                                {{ range .answers}}
                                                <th scope="col">{{ .text }}</th>
                                                {{ end }}
                                            {{ end }}
                                        {{ end }}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .items }}
                                        {{ range .items}}
                                        <tr>
                                            <td class="col-md-6 text-left">{{.question}}</td>
                                            {{/* $optionValues:=$.Scratch.Get "tagCounter" */}} {{$identifier:=.localQuestionCode}} 
                                            {{ $.Scratch.Set "identifier" .localQuestionCode}} 
                                                {{ range .answers }}
                                                    {{ $replacedCode := replace .code " " "-" }}
                                                    <td>
                                                        <div class="form-check"><input class="form-check-input cursorLink radio-click {{ $.Scratch.Get "catId" }} eodbRadio" type="radio" name="Radios{{ $identifier}}"
                                                                id="{{ $.Scratch.Get "identifier" }}_{{.code }}{{ .code }}" value="{{.code}}_{{ $.Scratch.Get "identifier" }}" data-score="{{.code}}"
                                                                data-labelid="{{ $.Scratch.Get "identifier" }}" data-metric="{{ $metricId }}">
                                                        </div>
                                                    </td>
                                                {{ end }}                        
                                        </tr>
                                        {{ end }}
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row"></div>
                        <div class="showOtherSubmission insti-row-1-likert" id="cadd-table{{ $catId }}{{ $catId }}" style="display:none">
                            <div class="top-10-most-row-tab-ttl border-1 text-right">
                                <ul class="nav nav-tabs insti-tab-1-likert{{ $catId }}" id="likertTab{{ $catId }}" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="" data-toggle="tab" href="#institab1likert{{ $catId }}" role="tab" aria-controls="" aria-selected="true">
                                        <span class="insti-tab-ttl-1 d-inline"><i class="fas fa-table"></i></span>
                                        <span class="insti-tab-ttl-2 d-inline">Tabular</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="" data-toggle="tab" href="#institab2likert{{ $catId }}" role="tab" aria-controls="" aria-selected="false">
                                        <span class="insti-tab-ttl-1 d-inline"><i class="fas fa-chart-line"></i></span>
                                        <span class="insti-tab-ttl-2 d-inline">Graphical</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--Tab content div starts-->
                            <div class="tab-content" id="LikertTabContent{{ $catId }}">
                                <div class="tab-pane fade show active" id="institab1likert{{ $catId }}" role="tabpanel" aria-labelledby="">
                                    <div class="insti-tab-col border-0">
                                        <!--To dispaly saved data in table format-->
                                        <div class="cadd-table border-0 mb-0">
                                            <table class="table">
                                                <thead class="border-top">
                                                    <tr>
                                                        <th scope="col"></th>
                                                        {{/* $.Scratch.Set "tagCounter" .category.options */}} 
                                                        {{ range first 1 .items }}
                                                        {{ range first 1 .items}}
                                                            {{ range .answers}}
                                                            <th scope="col">{{ .text }}</th>
                                                            {{ end }}
                                                        {{ end }}
                                                    {{ end }}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{ range .items }}
                                                    {{ range .items}}
                                                    <tr>
                                                        <td class="col-md-6 text-left">{{.question}}</td>
                                                        {{/* $optionValues:=$.Scratch.Get "tagCounter" */}} {{$identifier:=.localQuestionCode}}
                                                        {{ range .answers }}
                                                        <td id="{{ $identifier}}_{{.code}}"> </td>
                                                        {{ end }}
                                                        {{end}}
                                                    </tr>
                                                    {{end}}
                                                </tbody>
                                            </table>    
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="institab2likert{{ $catId }}" role="tabpanel" aria-labelledby="">
                                    <div class="insti-tab-col border-0">                   
                                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                        <script type="text/javascript">
                                            google.charts.load('45', { packages: ['corechart'] });
                                        </script>
                                        <div id="container-{{ $catId }}" class="cadd-graph-1" style = "width: 100%; height: auto; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accordion ends -------------->


<script>
    if (getCookie('personid') != null && getCookie('sessionId') != null) { // case logged in
        $(".reviewLabel{{ $catId }}").html("Submit your answers:");
        $(".viewLabel{{ $catId }}").html("Review others submission:");
    }
    else {
        $(".reviewLabel{{ $catId }}").html("Submit your answers:");
        $(".viewLabel{{ $catId }}").html("View others submission:");   
    }

    var classVar = "." + "{{  $catId }}";
    $(classVar).click(function (e) {
        var inputvalue = $(this).val();
        $("input[type=radio].eodbRadio").not(this).prop('disabled',true);
        var instId = "{{ $.Scratch.Get "facilityId" }}";
        var source = "hospital-compare-"+instId;
        var inputscore = $(this).attr("data-score");
        var labelId = $(this).attr("data-labelid");
        var MetricName = "medigy_qual_exp_institution_" + $(this).attr("data-metric");
        var personId = getCookie('personid');
        var timestamp = Date.now();
        if (getCookie('personid') != null  && getCookie('sessionId')!= null && getCookie('sessionId')!= '' ) { 
            $(this).css('cursor', 'default');
            var session = getCookie('sessionId');
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "{{ $.Site.Params.GraphQLUrl }}",
                "method": "POST",
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "Accept": "*/*",
                    "Cache-Control": "no-cache",
                    "Connection": "keep-alive"
                },
                "data": {
                    "query": "mutation {\n  addPrometheusData(\n    metricData: [\n    \t{\n        key: \"institutionId\", \n        value: \"" + instId + "\"\n      }, \n     {\n        key: \"labelId\", \n        value: \"" + labelId + "\"\n      }, \n     {\n        key: \"source\", \n        value: \"" + source + "\"\n      }, \n     {\n        key: \"inputscore\", \n        value: \"" + inputscore + "\"\n      }, \n      {\n        key: \"createdat\", \n        value: \""+timestamp+"\"\n      }, \n      {\n        key: \"userId\", \n        value: \"" + personId + "\"\n      }\n    ], \n    pushGatewayPort: \"\", \n    prometheusJobName: \"" + MetricName + "\", \n    metricName: \"" + MetricName + "\") {\n    status\n    message\n    errorCode\n  }\n}"
                }
            }
            // console.log("mutation {\n  addPrometheusData(\n    metricData: [\n    \t{\n        key: \"institutionId\", \n        value: \""+instId+"\"\n      }, \n     {\n        key: \"labelId\", \n        value: \""+labelId+"\"\n      }, \n     {\n        key: \"inputscore\", \n        value: \""+inputscore+"\"\n      }, \n      {\n        key: \"userId\", \n        value: \""+personId+"\"\n      }\n    ], \n    pushGatewayPort: \"\", \n    prometheusJobName: \""+ MetricName+"\", \n    metricName: \""+ MetricName+"\") {\n    status\n    message\n    errorCode\n  }\n}" );
            setTimeout(function(){
            $.ajax(settings).done(function (response) {
                if (response.data.addPrometheusData.status == "SUCCESS") {
                    $("input[type=radio].eodbRadio").prop('disabled',false);
                }
            });
            }, 3000);
        } else {
            if (getCookie('personid') == null)
            $('#loginModalCenter').modal('toggle');
            else
            $('#reLoginModalCenter').modal('toggle');

            return false;
        }
    });

    function LikertDisplay(btnid) {
        var btnid = btnid.id;
        var divId = "'cadd-table" + btnid + "'"
        var x = document.getElementById("cadd-table" + btnid);
        var y = document.getElementById("cadd-table" + btnid + btnid);

        if (x.style.display === "none") {
            x.style.display = "inline-table";
            y.style.display = "none";
        } else {
            y.style.display = "block";
            x.style.display = "none";
        }
    }
   /* function LikertDisplayLabel(btnid) {
        var btnid = btnid.id;
        var divId = "'cadd-table" + btnid + "'"
        var x = document.getElementById("cadd-table" + btnid);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }*/

</script>
{{ end }}
{{end}}