                          <div class="accordion" id="accordion{{ .variableId }}">
                            <div class="card">
                              <div class="card-header" id="heading{{ .variableId }}">
                                <h2 class="mb-0">
                                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ .variableId }}"
                                    aria-expanded="false" aria-controls="collapseOne"><i class="fas {{ .favIcon }} left-icon"></i>
                                    {{.accordianTitle }}
                                    <i class="fa fa-chevron-up right-icon"></i>
                                  </button>
                                </h2>
                              </div>
                              <div id="collapse{{ .variableId }}" class="collapse" aria-labelledby="heading{{ .variableId }}" data-parent="#accordion{{ .variableId }}"
                                style="">
                                <div class="card-body">
                                  <div class="table-responsive">
                                      {{ $category := .category}}
                                    <table class="table">
                                      <thead class="border-top sentence-case">
                                        <tr>
                                          <th width="70%">Measure Description </th>
                                          <th width="15%">{{ .facilityName }}</th>
                                          <th width="15%">National Rates</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        
                                        {{ $valueFormat := .valueFormat }}
                                        {{ range .unplannedHospitalVisitsObject}} 
                                        {{ if eq $category "UnplannedRe-admission" }}
                                        {{ if or (eq .measure.id 10 ) }}
                                        <tr>
                                          <td>
                                            {{ .measureName }}
                                          </td>
                                          <td class="text-left">{{ .comparedToNational.result }}</td>
                                          <td class="text-right"> {{ if (ne .score "Not Available") }} {{ .score }}{{ $valueFormat }} {{ else }} {{ .score }} {{ end }}</td>
 
                          
                                        </tr>
                                        {{ end }}
                                        {{ else }}  
                                        {{ if eq $category "UnplannedReadmissionMedicalCondition" }}
                                          {{ if or (and (gt .measure.id 0 ) (lt .measure.id 4)) (eq .measure.id 7) (eq .measure.id 8) (eq .measure.id 11) }}
                                            <tr>
                                              <td>
                                               {{ .measureName }}
                                              </td>
                                              <td class="text-left">{{ .comparedToNational.result }}</td>
                                              <td class="text-right"> {{ if (ne .score "Not Available") }} {{ .score }}{{ $valueFormat }} {{ else }} {{ .score }} {{ end }}</td>                          
                                            </tr>
                                          {{ end }}
                                          {{ else }}  
                                          {{ if eq $category "UnplannedReadmissionByProcedure" }}
                                          
                                            {{ if or (and (gt .measure.id 3 ) (lt .measure.id 7)) (eq .measure.id 9) }}
                                              <tr>
                                                <td>
                                                  {{ .measureName }}
                                                </td>
                                                <td class="text-left">{{ .comparedToNational.result }}</td>
                                                <td class="text-right"> {{ if (ne .score "Not Available") }} {{ .score }}{{ $valueFormat }} {{ else }} {{ .score }} {{ end }}</td>                          
                                              </tr>
                                            {{ end }}
                                           {{ end }} 
                                          
                                        {{ end }}                                        
                                        {{ end }}

                                        {{ end }}
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>