{{ $topicCollections := print "Medigy: " .headText }}
{{ $textLower := ($topicCollections | lower) }}
{{ $communityUrlCreated := .communityUrlCreated }}
<!--<div class="col-md-4">-->
	<!--<div class="categorylisting">-->
		<div class="femtech-content-left-secion-header">
			<div class="row">
				<div class="col-lg-6 col-md-9">
					<a href="{{ $communityUrlCreated }}"><span class="femtech-content-left-secion-header-title ccm-gtm-tab " id="ccm-{{ .headText | urlize }}"   onclick="dataLayer.push({'event': 'ccmbuttonclick','gtmTitle': '{{ .headText }}', 'gtmPersonid':getCookie('userEmail')})">
					{{ .headText }}  
					</span></a>
				</div>
				<div class="col-lg-6 col-md-3 femtech-content-left-secion-header-more">
					<a class ="ccm-gtm-more" href="{{ $communityUrlCreated }}" id="ccm-more-{{ .headText | urlize }}" onclick="dataLayer.push({'event': 'ccmbuttonclick','gtmTitle': '{{ .headText }}', 'gtmPersonid':getCookie('userEmail')})">More <i class="fas fa-chevron-right p-more-ico-1"></i></a>
				</div>
			</div>
	</div>
			<div class="femtech-content-left-secion-content-row">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<div class="femtech-content-list-main">
							<a href="{{ $communityUrlCreated }}">
							<div class="femtech-content-list-main-img vp">
							<img class ="ccm-gtm-img" alt="medigy-ccm" onclick="dataLayer.push({'event': 'ccmbuttonclick','gtmTitle': '{{ .headText }}', 'gtmPersonid':getCookie('userEmail')})" id ="img-{{ .headText | urlize }}" src="{{ .featuredImage }}" onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'" >
							</div>
							<div class="femtech-content-list-main-txt">{{ .descptText | safeHTML | truncate 130 }} </div>
							</a>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="categorylisting femtech-content-list-1">
							<div class="contentpart">
								<ul class="content-part-list-section row">
									{{ $scratch := newScratch }}	
									{{ $href := .href }} 
									{{ $staticPath := .staticPath }}
									{{ $scratch.Set "tagCounter" 0 }}									
									{{ range  (where .context.Site.RegularPages.ByDate.Reverse ".Params.owltype" "==" .owlType ) }}
									{{ if and ( in .Params.communityTopics $topicCollections ) ( lt ( $scratch.Get "tagCounter" ) 3 ) }}
									{{ $scratch.Add "tagCounter" 1 }}
									<li class="col-md-12">
												<div class="content-list-Col-2" >
													{{ if ne  .Params.contentcategories "actionablecontent" }}
													{{ $urlPath := print (.Site.BaseURL) "/" (.Params.openProjectWorkPackageType | urlize) "/" }}													
													<div class="imgleft">
															{{ if .Params.featuredimage.href }}
																{{ $fpath:=  .File.Dir}}
																{{ $fileDir := replace $fpath "\\" "/" }}
																<a href="{{.Permalink}}"><img src="/{{ $fileDir }}{{ .Params.featuredimage.href }}" alt="{{ .Title }}"
																		onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'"></a>
															
															{{ else if  .Params.featuredimage }}
																{{ $fpath:=  .File.Dir}}
																{{ $fileDir := replace $fpath "\\" "/" }}
																<a href="{{.Permalink}}"><img src="/{{ $fileDir }}{{ .Params.featuredimage.href }}" alt="{{ .Title }}"
																		onerror="this.onerror=null; this.src='{{ $.context.Scratch.Get "default-image" }}'"></a>
															{{ else }}
																<a href="{{.Permalink}}" ><img src="{{ $.context.Scratch.Get "default-image" }}"  alt="{{ .Title }}" ></a>
															{{ end }}
														</div>
														<div class="imgcontent">
															<p><a class ="content-list-Link-1" href="{{.Permalink}}" >{{.Title  | safeHTML | truncate 60 }}</a></p>
															<span class ="content-list-Link-2"> {{ if .Params.link.brand }}  <a href="{{ .Params.link.href }}" target ="_blank" >{{ .Params.link.brand }}</a>{{ end }}</span>
														</div>
													{{ else }} 
													<div class="contentOnly">
														<p><a class ="content-list-Link-1" href="{{.Permalink}}" >{{.Title  | safeHTML | truncate 60 }}</a></p>
														<span class ="content-list-Link-2"> {{ if .Params.link.brand }} <a href="{{ .Params.link.href }}" target ="_blank" >{{ .Params.link.brand }}</a>{{ end }}</span>
													</div>
													{{ end }}
													
												</div>
											</li>
										{{ end }}
									{{ end }}
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		<!--</div>-->
	<!--</div>-->
	