<section class="container-fluid categories categories-new">
	<div class="container">
		<div class="row"> 
         <div class="col-md-8">
            {{ range  $.Site.Data.community_landing.community_landing.communityDetails }}
                {{ if eq .communityTitle "Chronic Care Management" }}
                    {{ $dirFile := path.Split .communityFeaturedImage }}
                    {{ $.Scratch.Set "dirFile" $dirFile.Dir }}
                {{ end }}
            {{ end }}
            {{ $dirFile:=  $.Scratch.Get "dirFile" }}
            {{ $staticPath := $.Scratch.Get "staticPath" }}
                {{ $context := . }}
                {{ $siteData := $.Site.Data.communities }}
               {{ $bundle := $.Scratch.Get "bundle" }}
                {{ $owlType := "Medigy Communities"}}
                {{ range $siteData }}
                    {{ range sort .topicDetails "representationOrder" "asc" }}
                    {{ $topicTitle := print "Medigy: " .topicTitle }}
	
                    {{ $topicCollections := print .topicTitle }}
                    {{ $textLower := ($topicCollections | lower) }}
                    {{ $communityUrlCreated := print $dirFile "medigy-" ($textLower | urlize) }}

                    <div class="femtech-content-left-secion">
                        {{ partial (print ($bundle) ) (dict "communityUrlCreated" $communityUrlCreated "staticPath" $staticPath "headText" .topicTitle "owlType" $owlType "featuredImage" (print ($.Scratch.Get "basePath" ) .topicFeaturedImage ) "descptText" .topicDescription  "context"  $context )  }}              
                    </div>
                    {{ end }}
                {{ end }}





            </div>

            <div class="col-md-4 pandemic-content-right-secion">
               
                {{ $context := . }}
                  
                {{ partial (print ($.Scratch.Get "relatedContent")) (dict "context"  $context )  }} 
                 

            </div>
            

		</div><!-- row -->
		       
	</div>
</section>