

		{{ if .NextInSection }}
			<h3 class="text-center next-ttl capitalize">Next Article</h3>

<div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" class="card blog-card  card-height " rel="bookmark">
  <div class="card-img-container">   
        <a href="{{ .NextInSection.Permalink }}">
          {{ $fpath:=  .File.Dir }}
          {{ $fileDir := replace $fpath "\\" "/"}}
			{{ $urlPath := print (.Site.BaseURL) "/" (.NextInSection.Params.openProjectWorkPackageType | urlize) "/" }}
      <img src="{{ print .NextInSection.Params.basePath .NextInSection.Params.featuredimage.href }}" class="card-img" alt="{{ .NextInSection.Title }}" onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'" >
			  </div>   
  <article class="card-body">
 <h2 class="card-title"><a class="ccm-next-title" href="{{ .NextInSection.Permalink }}" onclick="dataLayer.push({'event': 'ccmbuttonclick','gtmTitle': '{{  .NextInSection.Title }}', 'gtmPersonid':getCookie('userEmail')})">{{ .NextInSection.Title }}</a></h2> 
 
   
    <p class="card-text">{{ .NextInSection.Summary | safeHTML | truncate 200 }}<span><a href=""></a></span></p>   
    <div class="metrix row count-bt-area">     
    <div class="col-lg-3 count-col-1">       
    </div>   
     <div class="col-lg-5 count-col-2"></div>
  <div class="col-lg-4 count-col-3">
   				{{ partial (print ($.Scratch.Get "share") ) . }}

  </div>
  </div>
    <div class="card-subtext muted-text post-tags">    
      <span><b>Posted {{ .NextInSection.Date.Format "Jan 2, 2006" }}</b></span>       
           </div>
<div class="card-subtext muted-text post-tags pt-1">
</div>
  </article>
  </div>
					{{ end }}
