{{ $basePath := $.Site.Params.siteUrl }}
{{  $.context.Scratch.Set "limitCount" .tagCount }}
<ul>
{{ $.context.Scratch.Set "tagCounter" 0 }}
{{ $limitCount := $.context.Scratch.Get "limitCount" }}
{{ if $limitCount }}
  {{ range $.context.Site.Data.article_related_offering  }}
    {{ range (index . $.context.Params.slug)  }}
      {{ if ( lt ( $.context.Scratch.Get "tagCounter" ) 4) }}
        {{ $.context.Scratch.Add "tagCounter" 1 }} 
        {{ range .aliases }}
          {{ $.context.Scratch.Set "section_path" . }}
        {{ end }}
        {{ $section_path :=  $.context.Scratch.Get "section_path" }}
        {{ $topicsList := .categories }}     
        {{ $communityTopicsString :=  delimit $topicsList ", " }}
        {{ $communityTopicsString =   print "Matched with "  $communityTopicsString  }}
        <li>
          <a  href='{{ $basePath }}{{ $.context.Scratch.Get "section_path" }}'>
            <span class="special-text ccm-related-offering-name">
              {{ .title }}
              <span  class="ccm-topic-name special-text__tooltip">{{ $communityTopicsString }}</span>    
            </span>              
          </a>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ range $.context.Site.Data.article_related_offering  }}
    {{ range (index . $.context.Params.slug)  }}
      {{ if ( lt ( $.context.Scratch.Get "tagCounter" ) 5) }}
        {{ $.context.Scratch.Add "tagCounter" 1 }} 
        {{ range .aliases }}
          {{ $.context.Scratch.Set "section_path" . }}
        {{ end }}
        {{ $section_path :=  $.context.Scratch.Get "section_path" }}
        {{ $topicsList := .categories }}     
        {{ $communityTopicsString :=  delimit $topicsList ", " }}
        {{ $communityTopicsString =   print "Matched with "  $communityTopicsString  }}
        <li>
          <a  href='{{ $basePath }}{{ $.context.Scratch.Get "section_path" }}'>
            <span class="special-text ccm-related-offering-name">
              {{ .title }}
              <span  class="ccm-topic-name special-text__tooltip">{{ $communityTopicsString }}</span>    
            </span>              
          </a>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</ul>
<script>
var count = {{ $.context.Scratch.Get "tagCounter"  }}
var limitCount = '{{ $.context.Scratch.Get "limitCount" }}';
if (limitCount){
  if (count ==0){  
    {{ $.context.Scratch.Set "id" .id }}
    var id = '{{ $.context.Scratch.Get "id" }}';
    var title = "#"+id; 
    $('#{{ $.context.Scratch.Get "id" }}').show();
  }
  }else{
    if (count ==0){
    $(".no-related-ccm-offerings").show();
  }
}
</script>
