 
{{ $topicCollections := print "Medigy: " .headText }}
 {{ $topicText := .headText }}
 {{ $cont := . }}
  
 <div class="pandemic-content-right-secion-row">
  <div class="pandemic-content-left-secion">
<!--<div class="pandemic-content-left-secion-header">-->
<!--<div class="row">
<div class="col-lg-9 col-8">
<span class="pandemic-content-left-secion-header-title">
<a href="#"> {{ .headText }} </a><a href="#"></a>
</span> 
</div>
<div class="col-lg-3 col-4 pandemic-content-left-secion-header-more">
<a href="#">More <i class="fas fa-chevron-right p-more-ico-1"></i></a>
</div>
</div></div>-->

 
{{ $href := .href }} 
{{ $staticPath := .staticPath }}
{{ $.context.Scratch.Set "tagCounter" 0 }}
{{ $basePath := $.Site.Params.siteUrl }}
 

 
<div class="pandemic-content-left-secion-content-row">
<div class="row">
<div class="col-md-12">
<div class="categorylisting pandemic-content-list-1">
 
   
  <h2 class="right-sec-ttl-2">Related Offerings</h2>
    
  {{ with .context.Site.Data.related_offerings  }}
  {{ range first 10 (sort .Offerings "createdOn" "asc")  }}
  
 
    {{ $.context.Scratch.Add "tagCounter" 1 }}	


    {{ range .aliases }}
    {{ $.context.Scratch.Set "section_path" . }}
    {{ end }}
    {{ $section_path :=  $.context.Scratch.Get "section_path" }}

    <div class="contentpart">
    <ul>
    <li>
    <a target="blank" href="{{ $basePath }}{{ $section_path }}">
    <div class="imgleft">
      <img src="{{ .featuredImage }}"  class ="ccm-offering-img"  alt="medigy-ccm" onerror="this.onerror=null; this.src='/communities/medigy-chronic-care-management-ccm/images/default.jpg'">
    </div>
    <div class="imgcontent">
      <p class="ccm-topic-title" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTitle': '{{ .title }}', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">{{ .title }}</p>
      <span class="offering-ccm-list"> </span>
    </div>
    </a> 
    </li>
    </ul>
    </div>
    {{ end }}
    {{ end }}
  
</div>
</div>
</div>
</div>
  
</div></div>
<div class="pandemic-content-right-secion-ad">
  <!--<span>Related Offerings</span>-->
  <div class="pandemic-content-right-secion-buttons">
      <!-- <span class="pandemic-content-right-secion-btn-1" id="ccm-related-offerings" onclick="dataLayer.push({'event': 'ccmbuttonclick', 'gtmPersonid':getCookie('userEmail')})">Write for CCM CoP</span> -->
      <!--<a target="_blank" id="req_ppe_donataion" href="#" class="pandemic-content-right-secion-btn-1">Dummy Link</a>-->
      <!--<a href="#" target="_blank" class="pandemic-content-right-secion-btn-2">Coming soon</a>-->
  </div>
</div>
<div class="pandemic-content-right-secion-row">
  <div class="pandemic-content-left-secion">
  <div class="pandemic-content-left-secion-content-row">
  <div class="row">
  <div class="col-md-12">
  <div class="categorylisting pandemic-content-list-1">
  <h2 class="right-sec-ttl-2 no-border">Suggest Articles For Review</h2>
  <p class="black-text mb-2">Your suggestion will be submitted to the reviewer and if found interesting we will Publish in this Community. </p>
  <a id="ccm-postform" href="#">
    <button class="suggest-ccm-cop green-btn-2" id="ccm-postform">Click here to add/suggest</button>
  </a>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  
   

 
 

 

 