{{ $sitData := $.Site.Data.communities }}

{{ range $sitData }}
<article class="top-banner top-banner-2" style="background: url({{ print ($.Site.BaseURL) (.bannerImage) }})">
	<div class="container landing-top-bnr">
		<div class="titles">
			<h2>{{ .communityName }}</h2>
			<span class="ccm-join-btn-1 special-text">
				<i class="fa fa-spinner fa-spin join-loader" style="display: none;"></i><button class="join-ccm-btn"
					onclick="dataLayer.push({'event': 'ccmbuttonclick', 'gtmPersonid':getCookie('userEmail')})"> Why
					Join?</button>
				<span class="special-text__tooltip join-content-box">
					<div id="tooltip_join_text">Become a member to –</div>
					<ul class="mb-0">
						<li> Receive hand-curated articles and actionable insights</li>
						<li> Stay up-to-date with the latest community information</li>
						<li> Find top digital health solutions to deliver and sustain a new level of care</li>
					</ul>
				</span>
			</span>
			<br>
			<p>{{ .bannerTitle }}</p>
		</div>
		<div class="banner-cont">
			<p>{{ .description | base64Decode}}</p>
		</div>
		{{/*  <div class="banner-button">
			<a href="#" class="btn-green">
			  Join Us
			</a>
			<a href="#" class="btn-green" target="_blank">
			  Login
			</a>
		</div>  */}}
	</div>
</article>
{{ end }}
<script>
	var sessionID = getCookie('sessionId');
	var communityId = 845;
	$(document).ready(function () {
		console.log("query{\n  getUserCommunity(authorization:{\n    sessionID:\"" + sessionID + "\"\n  }){\n    id\n    communityId\n    name\n    displayName\n     }\n}");
		var serviceData = { "url": "{{ $.Site.Params.GraphQLUrl }}", "method": "GET", "query": "query{\n  getUserCommunity(authorization:{\n    sessionID:\"" + sessionID + "\"\n  }){\n    id\n    communityId\n    name\n    displayName\n     }\n}" };
		ajaxPageServiceCall.serviceCall(serviceData).then(response => {
			console.log("community id ", response.data.getUserCommunity.length);
			var jointLength = response.data.getUserCommunity.length;
			var joinccmArray = [];
			for (var i = 0; i < jointLength; i++) {
				if (communityId == response.data.getUserCommunity[i].communityId) {
					$('.join-ccm-btn').text("Joined");
					$('#tooltip_join_text').text("As a member you can connect with:");
					$('.join-ccm-btn').prop("disabled", true);
					$('.join-ccm-btn').css('cursor', 'default');
				}
			}
		})
			.catch(error => {
				console.log(error);
			});
	});
	$(".join-ccm-btn").on("click", function () {
		if (getCookie('personid') != null) {
			$('.join-loader').show();
			$(this).text("Joining...");
			var serviceData = {
				"url": "{{ $.Site.Params.GraphQLUrl }}", "method": "POST", "query": `mutation{
				joinCommunity(authorization:{
                      sessionID: "`+ sessionID + `"
                      }
                      communityId:"` + communityId + `"
                      ){
                        status
                        message
                        errorCode
						data
                        }
                        }` };
			ajaxPageServiceCall.serviceCall(serviceData).then(response => {
				if (response.data.joinCommunity.status == "SUCCESS") {
					$('.join-ccm-btn').text("Joined");
					$('#tooltip_join_text').text("As a member you can connect with:");
					$('.join-ccm-btn').prop("disabled", true);
					$('.join-ccm-btn').css('cursor', 'default');
				}
				else {

				}
			})
				.catch(error => {
					console.log(error);
				});
		}
		else {
			$('#loginModalCenter').modal('toggle');
		}
	});
</script>