<div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)"
  class="card blog-card" rel="bookmark">

  {{ if in .Title "[Cancelled]"}}
  {{ $.Scratch.Set "Cancelled" "True" }}
  {{ else }}
  {{ $.Scratch.Set "Cancelled" "False" }}
  {{ end }}
  {{ $Cancelled := $.Scratch.Get "Cancelled" }}

  <article class="card-body date-event-row fix-card-height">
    {{ if (eq .Params.sub "events") }}
    {{ $startDate :=  dateFormat "January 2, 2006" .Params.date }}
    {{ $endDate :=  dateFormat "January 2, 2006" .Params.eventenddate }}

    {{ $day := dateFormat "Monday" .Params.date }}
    {{ $month := dateFormat "January" .Params.date }}
    {{ $daydate := dateFormat "02" .Params.date }}
    <div class="date-event-col-1">
      {{ if ne $Cancelled "True" }}
      {{ if ge .Date.Unix now.Unix  }}
      {{ with  .OutputFormats.Get "Calendar" -}}
      <a href="{{ .Permalink | safeURL }}">
        <div class="date-display">
          <div class="date-event-mo">{{ $month }}</div>
          <div class="date-event-dt">{{ $daydate }}</div>
          <div class="date-event-da">{{ $day }}</div>
        </div>
      </a>
      {{- end }}
      {{ else }}
      <div class="date-display">
        <div class="date-event-mo">{{ $month }}</div>
        <div class="date-event-dt">{{ $daydate }}</div>
        <div class="date-event-da">{{ $day }}</div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <div class="date-event-col-2">
      <!-- title -->
      <h2 class="card-title"><a href="{{ .Permalink }}"
          onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ .Title }}','gtmPersonid':getCookie('userEmail')})">{{ replace .Title "[Cancelled]" "<span class='badge badge-danger'>Cancelled</span>" | safeHTML}}</a>
      </h2>
      <!-- date -->
      <!--<div class="event-date-holder"><i class="far fa-calendar-alt"></i> December 04 to December 06, 2019 (in 2 days)</div>-->
      {{ if eq $startDate  $endDate }}
      <div class="event-date-holder"><i class="far fa-calendar-alt"></i> {{ $endDate }}
        {{ if ne .Params.openprojectcustomfields.eventcancelled "t" }}
        <span class="event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.date }}"
          data-enddate="{{ dateFormat "01/02/2006" .Params.eventenddate }}"></span>
        {{ end }}
      </div>
      {{else}}
      {{ if eq (dateFormat "2006" .Params.date) (dateFormat "2006" .Params.eventenddate) }}
      <div class="event-date-holder"><i class="far fa-calendar-alt"></i> {{ dateFormat "January 2" .Params.date }} to
        {{ $endDate }}
        {{ if ne .Params.openprojectcustomfields.eventcancelled "t" }}
        <span class="event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.date }}"
          data-enddate="{{ dateFormat "01/02/2006" .Params.eventenddate }}"></span>
        {{ end }}
      </div>
      {{ else }}
      <div class="event-date-holder"><i class="far fa-calendar-alt"></i> {{ $startDate }} to {{ $endDate }}
        {{ if ne .Params.openprojectcustomfields.eventcancelled "t" }}
        <span class="event-date" data-eventDate="{{ dateFormat "01/02/2006" .Params.date }}"
          data-enddate="{{ dateFormat "01/02/2006" .Params.eventenddate }}"></span>
        {{ end }}

      </div>
      {{ end }}
      {{end}}
      <!-- location -->
      <!--<div class="event-location-holder"><i class="fas fa-map-marker-alt"></i> Crystal City, VA</div>-->
      {{ if  (ne .Params.openProjectCustomFields.location "null") -}}
      <div class="event-location-holder"><i class="fas fa-map-marker-alt"></i>
        {{ .Params.openProjectCustomFields.location }}</div>
      {{ end -}}
      <!-- topic -->
      <!--<div class="event-topic-holder"><a href=""><span>#topic1</span></a> <span>#topic2</span> <span>#topic3</span> <span>#topic4</span> <span>#topic5</span>                <span>#topic6</span> <span>#topic7</span> </div>-->
      <!-- count and calendar -->
      <div class="count-calendar-holder row">
        <div class="col-md-7">
          <div class="new-ofering-row-2-cell">
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="col-md-5">
          {{ if ge .Date.Unix now.Unix  }}
          {{ with  .OutputFormats.Get "Calendar" -}}
          <a class="new-ofer-btn-1 pull-right" href="{{ .Permalink | safeURL }}"
            onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTab': $('.nav-tabs .active').text(),'gtmTitle': '{{ $.Title }}','gtmPersonid':getCookie('userEmail')})">
            <i class="far fa-calendar-alt"></i> Add to Calendar</a>
          {{- end }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </article>

  {{ if .Params.featuredimage.href }}
  <div class="card-img-container fix-card-height">
    {{ if ne .Params.featuredimage.href "Nil" }}
      {{ if eq .Params.openprojectcustomfields.eventcancelled "t" }}
      <a href="{{ .Permalink }}"><img src="{{ substr .Params.basePath 7  }}{{ .Params.featuredimage.href }}" alt="{{.Params.title }}" class="card-img"
        onerror="this.onerror=null; this.src='/events/default.png'" /></a>
      {{ else }}
        {{ if ge .Params.eventenddate (now.Format "2006-01-02")}}
        <a href="{{ .Permalink }}"><img src="{{ substr .Params.basePath 7  }}{{ .Params.featuredimage.href }}" alt="{{ .Params.title }}" class="card-img"
          onerror="this.onerror=null; this.src='/events/default.png'" /></a>
        {{ else }}        
        <a href="{{ .Permalink }}"><img src="{{ substr .Params.basePath 7  }}{{  .Params.featuredimage.href }}" alt="{{ .Params.title }}" class="card-img"
          onerror="this.onerror=null; this.src='/events/default.png'" /></a>
        {{ end }}       
      {{ end }}    
    {{else}}
    <a href="{{ .Permalink }}"><img src="/events/no-image-article.jpg" alt="{{ .Params.title }}" class="card-img"
        onerror="this.onerror=null; this.src='/events/default.png'" /></a>
    {{end}}
  </div>
  {{ else }}
  <div class="card-img-container fix-card-height">
    <a href="{{ .Permalink }}"><img src="/events/default.png" alt="{{ .Params.title }}" class="card-img"
        onerror="this.onerror=null; this.src='/events/default.png'" /></a>
  </div>
  {{ end }}

</div>
<!-- New event design ends -->
{{ end }}