{{ define "main" }}
<script type="text/javascript" src="/js/tenant.js"></script>
<script>

	function base64EncodeUnicode(str) {
		// First we escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
		// then we convert the percent encodings into raw bytes, and finally feed it to btoa() function.
		utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
			return String.fromCharCode('0x' + p1);
		});

		return btoa(utf8Bytes);
	}
	$(document).ready(function () {



		$("#addNewsIlm .form-control").on("keypress", function (e) {
			if (e.which === 32 && !this.value.length)
				e.preventDefault();
		});

		// Project listing 
		var personid = getCookie('personid');
		var usersession = getCookie('sessionId');
		var tenantId = defaultTenent;


		var settings = {
			"async": true,
			"crossDomain": true,
			"url": "{{ $.Site.Params.GraphQLUrl }}",
			"method": "POST",
			"headers": {
				"Content-Type": "application/x-www-form-urlencoded",
				"Accept": "*/*",
				"Accept-Encoding": "gzip, deflate",
				"Connection": "keep-alive",
				"cache-control": "no-cache"
			},
			"data": {
				"query": " query{\n  getAllIlmProjects(authorization:{\n    sessionID:\"" + usersession + "\"\n  },getAnalytics:false){\n    id\n    name\n    description\n    created_at\n   }\n}"
			}
		}

		$.ajax(settings).done(function (response) {
			console.log(response);
			html = '<option selected disabled value="">Select</option>';
			for (key in response.data.getAllIlmProjects) {

				html += '<option value = "' + response.data.getAllIlmProjects[key].id + '">' + response.data.getAllIlmProjects[key].name + '</option>'

			}
			$('#projectlistfornews').html(html);
		});


		// End Project listing 

		// Project- offering relation  

		$("#newsrelationbtn").click(function () {

			{ { if .Params.featuredimage.href } }

			var imagePath = "{{.Params.featuredimage.href}}";



			{ { else if .Params.featuredimage } }
			var imagePath = "{{.Params.featuredimage}}";



			{ { else } }
			var imagePath = '';

			{ { end } }


			//console.log('my image',imagePath);
			var urlPermalink = window.location.pathname;

			var description = "{{ .Summary }}";
			description = description.replace(/%/g, "percentage");
			description = base64EncodeUnicode(description);

			var notes = $('#eventsProjectcmnts').val();
			notes = notes.replace(/%/g, "percentage");
			notes = base64EncodeUnicode(notes);

			var usersession = getCookie('sessionId');
			var newsDate = "{{.Date.Format "2006 - 01 - 02"}}";




			var settings = {
				"async": true,
				"crossDomain": true,
				"url": "{{ $.Site.Params.GraphQLUrl }}",
				"method": "POST",
				"headers": {
					"Content-Type": "application/x-www-form-urlencoded",
					"Accept": "*/*",
					"Accept-Encoding": "gzip, deflate",
					"Connection": "keep-alive",
					"cache-control": "no-cache"
				},
				"data": {
					"query": "mutation{\n\n  createIlmProjectItem(\n  \n  authorization:{sessionID:\"" + usersession + "\"}\n  projectId:\"" + $('#projectlistfornews').val() + "\"\n  \trelationId:\"" + $('#projectlistfornews').val() + "\"\n    relationType:\"MEDIGY_NEWS\"\n  description : \"" + notes + "\"\n  \n  DataCollection:{\n  \n  dataType:\"News\",\n  \n  source:\"Medigy\",\n  \n  title:\"{{ .Title }}\",\n  \n  imageURL:\"" + imagePath + "\",\n  \n  uniqueIdentifier:\"" + urlPermalink + "\",\n  \n  description:\"" + description + "\",\n  \n  postedDate:\"" + newsDate + "\",\n  \n  sourceURL:\"{{ .Params.link.href }}\",\n  \n  offeringId:\"" + $('#projectlistfornews').val() + "\"\n  \n  })\n  {\n    status\n    message\n    errorCode\n  }\n}"
				}
			}
			if ($('#projectlistfornews')[0].reportValidity() && $('#eventsProjectcmnts')[0].reportValidity()) {
				$(this).val("Please wait");
				$(this).attr('disabled', true);
				$.ajax(settings).done(function (response) {

					responseStatus = response.data.createIlmProjectItem.status;
					if (responseStatus == "Success") {
						$("#newsrelationbtn").attr('disabled', true);
						$("#canccel").attr('disabled', true);
						var notifyMessage = 'Article Added';
						$('#newsAddedMessage').html(notifyMessage);
						$('#newsAddedMessage').addClass('pull-right alert alert-success pt-2 pb-2 m-0');
						$("#newsrelationbtn").val("SAVE");
						$('#newsAddedMessage').fadeOut(8300);
						//$("#topamdemicIm").trigger('reset');
						window.setTimeout(function () { $('#addNewsIlm .close').click(); }, 9000)
						window.setTimeout(function () { location.reload() }, 3000)
						$('#eventsProjectcmnts').val("");
					}
					else {
						var notifyMessage = "Selected news already exists";
						$('#newsAddedMessage').html(notifyMessage);
						$('#newsAddedMessage').addClass('pull-right alert alert-warning pt-2 pb-2 m-0');
						$("#newsrelationbtn").val("SAVE");
						$('#newsAddedMessage').fadeOut(8300);
					}

				});
			}


		});
		// Project- offering relation

		// Login check for add to ILM project 
		$(".loginCheckforIlm").click(function () {

			var personid = getCookie('personid');


			if (personid == null) {
				setCookie('addtoilmbutton', 'true');
				$('#addNewsIlm').modal('hide');
				$("#addtoilm").attr("data-toggle", 'modal');
				$("#addtoilm").attr("data-target", '#loginModalCenter');
			}



		});
		// End Login check for add to ILM project 
	});
</script>
<section class="blog-post">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post-header">
                    {{ if eq $.Site.Params.modules.ilmProject.enabled true }}
					<a id="addtoilm" href="#" class="new-ofer-btn-1 pull-right loginCheckforIlm ml-3"
						data-toggle="modal" data-target="#addNewsIlm">
						<i class="fas fa-plus-circle"></i> Add to ILM Project</a>
					{{ end }}

					<!-- Modal > Add to Project -->
					<div class="modal fade" id="addNewsIlm" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body text-left">
									<article class="post-login">

										<h2>Add to ILM Projects</h2>
										<div class="form-group row">
											<label class="col-sm-12">Select Project</label>
											<div class="col-sm-12">
												<div class="row">
													<div class="col-md-12">
														<select class="form-control" id="projectlistfornews" required>

														</select>
													</div>
													<div style="display:none;" class="col-md-5"><a id="add-project"
															href="#" class="text-right text-primary d-block"
															data-toggle="modal" data-target="#addnewproject"><u>Not in
																List, Add Project</u></a></div>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-sm-12">Description</label>
											<div class="col-sm-12">
												<textarea id="eventsProjectcmnts" class="form-control"
													required></textarea>
											</div>
										</div>


										<div class="text-left">
											<input id="newsrelationbtn" type="submit" value="SAVE"
												class="btn btn-primary Form_Login_Button">

											<a href="#" id="canccel" class="btn btn-light"
												data-dismiss="modal"><strong>Cancel</strong></a>
											<span id="newsAddedMessage" class="text-center green" role="alert"></span>

										</div>



									</article>


									<span id="errorcode"></span>

								</div>

							</div>
						</div>
					</div>
					<!-- Modal > Add to Project ends -->

					<h1 itemprop="name" id="title">{{ .Title }} </h1>
					<ul class="list-inline d-block pb-0 border-bottom-0 mb-1" style="border-bottom:0px !important">
						<li class="list-inline-item"><i class="fa fa-user-circle"></i> <em>{{ range .Param "author" }}
								{{ . }} {{ end }}</em></li>
						<li class="list-inline-item"><i class="fa fa-calendar"></i>
							<em>{{ .Date.Format "January 2, 2006" }} </em></li>
					</ul>
					{{ if .Params.categories }}
					<ul class="list-inline d-block pb-3 border-bottom mb-3">
						<li class="list-inline-item"><i class="fa fa-tags"></i> Topics :</li>
						{{ $taxo := "categories" }}
						{{ range .Param $taxo }}
						{{ $name := . }}
						{{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
						<li class="list-inline-item"><a href="{{ .Permalink  }}">{{ $name }} </a></li>
						<!--<li class="list-inline-item"><a href="/communities/pandemic/categories/{{ lower  (replaceRE "(\\s)" "" $name)  }}">{{ $name }}</a></li>-->
						{{ end }}
						{{ end }}
					</ul>
					{{ end }}

				</div>
				<!-- Video section starts here-->
				{{ if eq .Params.contentCategories "medigy-pandemic-curated-video"}}

				<div class="image-post">
					{{if eq .Params.openprojectcustomfields.videosource "youtube.com" }}
					{{ $Youtube :=  .Params.openprojectcustomfields.videourl}}
					{{ $splitedData := split $Youtube "https://www.youtube.com/watch?v=" }}
					{{ $splitedData:= delimit $splitedData "" }}
					{{/* $splitedData */}}

					<iframe id="ytplayer" type="text/html" width="640" height="360"
						src="https://www.youtube.com/embed/{{ $splitedData }} " frameborder="0"></iframe>
					{{ else }}
					{{ $Vimeo :=  .Params.openprojectcustomfields.videourl}}
					{{ $splitedData := split $Vimeo "https://vimeo.com/" }}
					{{ $splitedData:= delimit $splitedData ""}}
					{{/* $splitedData */}}
					{{if eq .Params.openprojectcustomfields.videosource "vimeo.com" }}
					<iframe src="https://player.vimeo.com/video/{{ $splitedData }}?title=0&byline=0&portrait=0"
						width="640" height="360" frameborder="0" allowfullscreen allow="autoplay; encrypted-media">
					</iframe>
					{{ end }}
					{{ end }}
				</div>

				{{ if eq .Params.contentcategories "pandemic-infographics" }}
				<article itemprop="articleBody" id="content" class="w-90 lh-copy" style="text-align: center;">
					{{ else }}
					<article itemprop="articleBody" id="content" class="w-90 lh-copy">
						{{ end }}
						{{ .Content }}
						{{ if eq .Params.contentcategories "pandemic-actionablecontent" }}
						{{ range $elem_index, $sourceUrl := .Params.sourceUrl  }}
						<span><strong>Source</strong> <a target="_blank" href="{{ $sourceUrl }}">{{ $sourceUrl }}</a>
						</span>
						{{ end }}
						{{ end }}
						<!-- Video section ends here-->
						{{ else }}
						{{if .Params.featuredimage}}
						{{ if ne .Params.contentcategories "pandemic-infographics" }}
						<div class="image-post">
							{{ if .Params.featuredimage.href }}
							{{ $fpath:=  .File.Dir }}
							{{ $fileDir := replace $fpath "\\" "/"}}
							<img src="/{{$fileDir}}{{ .Params.featuredImage.href  }}" alt="{{ .Title }}"
								onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
							{{ else if .Params.featuredimage }}
							{{ $fpath:=  .File.Dir }}
							{{ $fileDir := replace $fpath "\\" "/"}}
							<img src="/{{$fileDir}}{{ .Params.featuredImage  }}" alt="{{ .Title }}"
								onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
							{{ else }}
							<img src="{{ print ( $.Scratch.Get "default-image" )  }}" alt="{{ .Title }}">
							{{ end }}

						</div>
						{{ end }}
						{{ end }}
						{{ if eq .Params.contentcategories "pandemic-infographics" }}
						<article itemprop="articleBody" id="content" class="w-90 lh-copy" style="text-align: center;">
							{{ else }}
							<article itemprop="articleBody" id="content" class="w-90 lh-copy">
								{{ end }}
								{{ if ne .Params.contentcategories "medigy-pandemic-infographics" }}
								{{ .Content }}
								{{ end }}
								{{ if eq .Params.contentcategories "pandemic-actionablecontent" }}
								{{ range $elem_index, $sourceUrl := .Params.sourceUrl  }}
								<span><strong>Source</strong> <a target="_blank"
										href="{{ $sourceUrl }}">{{ $sourceUrl }}</a> </span>
								{{ end }}
								{{ end }}
								{{ if eq .Params.contentcategories "medigy-pandemic-infographics" }}
								{{ if .Params.cleanUrl  }}
								{{ range $elem_index, $cleanUrl := .Params.cleanUrl  }}
								<span><strong>Source</strong> <a target="_blank"
										href="{{ $cleanUrl }}">{{ $cleanUrl }}</a> </span>
								{{ end }}
								{{else if .Params.sourceUrl  }}

								{{ range $elem_index, $sourceUrl := .Params.sourceUrl  }}
								<span><strong>Source</strong> <a target="_blank"
										href="{{ $sourceUrl }}">{{ $sourceUrl }}</a> </span>
								{{ end }}
								{{ end }}
								{{ end }}
								{{ end }}

							</article>
			</div>


			{{ partial (print ($.Scratch.Get "share") ) . }}
			{{ partial (print ($.Scratch.Get "pagination-np") ) . }}
			<!-- {{ partial (print ($.Scratch.Get "related-post") ) . }}  -->

		</div>

		<section id="main" class="mt5">




			<!-- last modified note -->
			<span class="f6 gray mv3"
				title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
				{{ if ne .Lastmod .PublishDate }}
				<span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
				{{ end }}
			</span>



		</section>

	</div>
</section>
<script>
	window.addEventListener('load', (event) => {
		$("#content p a").attr({ "target": "_blank" });
	});
</script>
{{ end }}