{{ $basePath := "/hitmc-2020-awards/hitmc-2020-awards" }} 
{{ $innerBasePath := "" }} 
{{ $staticPath := "/hitmc-2020-awards/hitmc-2020-awards" }}
{{ $jsPath := "hitmc-2020-awards/hitmc-2020-awards" }}
{{ $imagePath := "hitmc-2020-awards/hitmc-2020-awards" }}




<!-- set varile to get on more scopes -->
{{ $.Scratch.Set "basePath"             $basePath }}
{{ $.Scratch.Set "innerBasePath"        $innerBasePath }}
{{ $.Scratch.Set "staticPath"          $staticPath }}
{{ $.Scratch.Set "jsPath"           $jsPath }}
{{ $.Scratch.Set "imagePath"           $imagePath }}
