
{{ $jsBase := resources.Get "js/base.js" }}
{{ $js := (slice $jsBase ) | resources.Concat "js/main.js" }}
{{ if .Site.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js := $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous"></script>
{{ end }}
<script src="{{ .Site.BaseURL }}/js/coral.min.js" data-coral-icons="{{ .Site.BaseURL }}/resources/"></script>

<script src="{{ .Site.BaseURL }}/js/mermaid.min.js" ></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<script>window.markdeepOptions = {mode: 'script'};</script>
<script src="{{ .Site.BaseURL }}/js/markdeep.min.js"></script>

