<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="list-body">

<!-- Google Tag Manager (noscript) -->
<div id="g-tag-body">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</div>
<!-- End Google Tag Manager (noscript) -->

{{ partial "nav-bar.html" . }}

{{ $currentTag := index (last 1 (split (delimit (split .Permalink  "/") "," "") ",")) 0 }}
    <section class="commun-wrapper">
        <article class="new-ofering-row-3 commun-content-row-3">
          <div class="container">
            {{ partial "bread-crumb.html" .  }}
              {{ $btnId := "AddNews_Top" }}
              {{ $label := "Add News" }}
              {{ $value := "News" }}
              {{ $tabId := "news-tab" }}
              {{ $tab := "news" }}
              {{ partialCached "add-button.html" (dict  "btnId"  $btnId  "label" $label "value" $value "tab" $tab "tabId" $tabId) $label }}

            <div class="row">
                <div class="col-lg-12">
                    <div class="category-what-new-row">                    
                    <div class="top-10-most-list">
                      <div class="fhir-list-row"> 
                        {{/* $newsWithArchetypePages :=   union (where .Site.RegularPages "Params.archetype" "=" "news")  (where .Site.RegularPages "Params.archetype" "=" "external-bookmark-news") */}}
                        
                        {{ $newsWithArchetypePages :=   (where .Site.RegularPages "Params.archetype" "in" (slice "news" "external-bookmark-news")) | union ( where .Site.RegularPages "Section" "in" (slice "news" )) }}
                        {{/* $newsWithArchetypePages :=    (where .Site.RegularPages "Params.archetype" "=" "news") | union (where .Site.RegularPages "Params.archetype" "=" "external-bookmark-news") */}}

                        {{/* $newsWithArchetypePages :=   (where .Site.Pages.ByDate.Reverse "Params.archetype" "in" (slice  "news" "external-bookmark-news" )) */}}
                        {{ $postCount := len $newsWithArchetypePages }}                       
                        {{ $paginator := .Paginate ($newsWithArchetypePages.ByDate.Reverse) }} 
                        {{ range $paginator.Pages}}
                         {{ .Render "li-news" }}
                        {{ end }}                                                                                                                   
                      </div>
                    </div>                   
                      <div class="custom-pagination-block"> {{ $postCount }} items 
                          {{ template "_internal/pagination.html" . }}
                      </div>              
                  </div>
              </div>
            </div>
          </div>
        </article>  
    </section>
    {{ partialCached "scripts.html" . }}   
    <div id="formContainer"></div>
    {{ partialCached "script-social-share.html" . }}
    {{ partialCached "footer.html" . }}      
  </body>
</html>