<script>
  function base64EncodeUnicode(str) {
    // First we escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
    // then we convert the percent encodings into raw bytes, and finally feed it to btoa() function.
    utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
      return String.fromCharCode('0x' + p1);
    });

    return btoa(utf8Bytes);
  }

  {{ $siteData := .context.Site.Data.communities }}                      
    {{ range $siteData }}   
          {{  $.context.Scratch.Set "communityId" .ccmProjectId }}               
    {{ end }}
         
  $(document).ready(function () {
    
    var ccmUrl = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
        if(ccmUrl == 'community=ccm'){        
          $('.topics-add-suggest-show').hide();        
          $('.ccm-topics-add-suggest-show').show();
          $('.ccm-community-name').show();
          $('.curate-community').hide();
        //   $("#myTab > li > a").removeClass("active");
        //  $('.main-tab.tab-pane fade').removeClass("active show");
        //  $('#offering').removeClass("active show");
        //  $("#news-tab").addClass("active");
        //  $("#news").addClass("active show");
        }
        else {
          $('.ccm-community-name').hide();
        }

    function recurringCharacterValidate(string) {
      let isEmpty=true;
      var alphabet = 'abcdefghijklmnopqrstuvwxyz0123456789'.split('');
      alphabet.forEach((key,val)=>{
            if(string.indexOf(key) > -1) isEmpty=false;
          });
      
      return isEmpty;
    }
    $('#{{ .formId }}').on('submit', function (e) {
        e.preventDefault();
        var session = getCookie('sessionId');
        var personId = getCookie('personid');        
        var userEmail = getCookie('userEmail');
        var userFname = getCookie('firstname');
        var userLname = getCookie('lastname');
        var userName = userFname;
        var ccmUrl = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
        if (getCookie('personid') != null && getCookie('sessionId')!= null && getCookie('sessionId')!= '' ) {      
        var Title = $('#{{ .title }}').val();
        var Url = $('#{{ .url }}').val();
        var Description= $('#{{ .description }}').val();
        var topicSelectedValues =$('#{{ .selectTopic }}').val();  
        var topicSelectedValue =$('#{{ .ccmTopic }}').val();   
        var communityId =' ';    
        if($('#{{ .selectTopic }}').val()!= null){
          var topicArray = $('#{{ .selectTopic }}').val();
          var catCount = topicArray.length;
          var topicSel = '';
          for (i = 0; i < catCount; i++) {
            var splittedtopic = topicArray[i].split('$,');
            topicSel += '\n { name:"' + splittedtopic[0] + '", key:"' + splittedtopic[1] + '"},\n ';
          }
         }else if($('#{{ .ccmTopic }}').val()!= null){
          var topicArray = $('#{{ .ccmTopic }}').val();
          var catCount = topicArray.length;
          var topicSel = '';
          for (i = 0; i < catCount; i++) {
            var splittedtopic = topicArray[i].split('$,');            
            topicSel += '\n { name:"' + splittedtopic[0] + '", key:""},\n ';          
          }
         }
         else{
            topicSel = '\n { name:"", key:""},\n ';
         } 

        if(recurringCharacterValidate(Title)==true || recurringCharacterValidate(Url)==true || recurringCharacterValidate(Description)==true || is_url($('#{{ .url }}').val())== false )  {
            alert("Please fill up the fields with proper inputs.");
            return false;
         }
        Description = Description.replace(/%/g, "percentage");
        Description = base64EncodeUnicode(Description); 

         var offeringCommunity = "";
          var offeringProjectName = ""; 
         var communityUrlArray = getUrlVars();       
         if (ccmUrl == 'community=ccm'){
            var offeringCommunity = $('#ccmOffering').val();      
            var communityId = '{{ $.context.Scratch.Get "communityId" }}';  
          }          
          else  if("community" in communityUrlArray)
          {
              if(getUrlVars()['community'] != null)
              {
                var communityOfferingArray = $('#communityOffering').val().split(':');
                offeringCommunity = communityOfferingArray[0];
                offeringProjectName = communityOfferingArray[1];
              }
          }
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ .ajaxUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
            "query": `mutation{
                  sendEventsNewsLeadMail(
                    dataInput:{
                        title:"`+ Title + `"
                        type:"{{ .type }}",
                        community:"`+ offeringCommunity + `",
                        projectName:"`+ offeringProjectName + `"
                        description:"` + Description + `"
                        url:"`+ Url + `"
                        topics:[` + topicSel + ` ],
                        communityId:"`+communityId+ `"
                    },
                    email:{
                       email:"`+ userEmail + `"
                       displayName:"`+ userName + `"                     
                       }
                       domain: "{{ .domain }}" 
                       ){
                         status
                         message
                         errorCode
                        }
                  }`
          }
        }                             
        $.ajax(settings).done(function (response) {
          $('#{{ .messageId }}').html("");
         
          if (response.data.sendEventsNewsLeadMail.status != "SUCCESS") {
            $('#{{ .messageId }}').html(response.data.sendEventsNewsLeadMail.message);
            $('#{{ .messageId }}').addClass('alert-danger');
            $('#{{ .messageId }}').html("Failed to send email...");
            $('#{{ .messageId }}').show();
            $('#{{ .title }}').focus();
          }
          else {
            $('#{{ .messageId }}').html(response.data.sendEventsNewsLeadMail.message);
            $('#{{ .messageId }}').addClass('alert-success');
            $('#{{ .messageId }}').html("{{ .displayMessage }}");
            $('#{{ .messageId }}').show();
            $('#{{ .title }}').focus();
            $('#{{ .formId }}')[0].reset();
            $('#{{ .selectTopic }}').select2(); 
            $('#{{ .ccmTopic }}').select2(); 
          }
        });
      } else {
         if (getCookie('personid') == null)
            $('#loginModalCenter').modal('toggle');
            else
            $('#reLoginModalCenter').modal('toggle');
       }
    });
  });

</script>