<div itemscope itemtype = "https://schema.org/WebPage">
<div itemprop = "breadcrumb" itemscope itemtype = "https://schema.org/BreadcrumbList">
<div id="breadcrumbs" class="new-ofer-breadcrumbs">
  <nav aria-label="breadcrumb mx-auto" role="navigation">
    <ol class="breadcrumb"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">

      <li class="breadcrumb-item">
        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li class="breadcrumb-item active" aria-current="page">Communities</li>
    </ol>
  </nav>
      <div id="es_total" class="pull-right" style="display:none"></div>
</div>
</div>
</div>