<head>  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ $.Site.Params.GTMCode }}');</script>
    <!-- End Google Tag Manager -->
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ range $.Site.Data.community_landing }}
    {{ $.Scratch.Set "metaTitle" .communityMetaTitle }}
    {{ $.Scratch.Set "metaDescription" .communityMetaDescription }}
    {{ $.Scratch.Set "featuredImage" .communityOgImage }}
    {{ $.Scratch.Set "logoTitle" .communityMastHead }}
    {{ end }}
    <!-- Title tag -->  
    <title>{{ $.Scratch.Get "metaTitle" | safeHTML }}</title>
    <meta name="description" content='{{ $.Scratch.Get "metaDescription" }}' />
   <!-- Meta Description End -->
  <meta property="og:title" content='{{ $.Scratch.Get "metaTitle" | safeHTML }}' />
   <meta property="og:url" content="{{ $.Site.Params.siteUrl }}{{.RelPermalink}}" />

      <meta property="og:image" content='{{ $.Site.Params.siteUrl }}{{ $.Scratch.Get "featuredImage" }}' />
   <meta property="og:type" content="website" />
  <!-- start opengraph data -->
    <meta property="og:description" content='{{ $.Scratch.Get "metaDescription" }}'>
    <meta property="og:locale" content="en_US" /> 
  <!-- end opengraph data  -->
  <!-- start Twitter data -->

   {{ $permaLink := .Site.BaseURL }}
      <meta name="twitter:card" content="summary_large_image"/>   
      <meta name="twitter:site" content="@Medigy" />
      <meta name="twitter:title" content='{{ $.Scratch.Get "metaTitle" }}' />
      <meta name="twitter:description" content='{{ $.Scratch.Get "metaDescription" }}'/>
      <meta name="twitter:image" content='{{ $.Site.Params.siteUrl }}{{ $.Scratch.Get "featuredImage" }}' />
  <!-- end Twitter data -->
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/img/media.ico">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/xcode.css" />
    <!-- bootstrap & responsive css -->
    <!--<link href="https://clin-table-search.lhc.nlm.nih.gov/lforms-versions/13.1.0/styles/lforms.min.css" media="screen" rel="stylesheet"
      />-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="/css/fhir-theme.css" />
    <link rel="stylesheet" href="/css/fontawesome_v5.6.3_all.css">
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- bootstrap & jquery js -->
    <script src="/js/jquery.min1.10.2.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sourcebuster.min.js"></script>   
    <link rel="stylesheet" href="/css/latolatinfonts.css" />
    {{ if  $.Site.Params.bgimg }}
    <style>
      body {
        background: #ecedef url("{{ $.Site.Params.bgimg | safeCSS }}") repeat;
      }
    </style>
    {{ end }}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta name="yandex-verification" content="dc730b9540a1bf82" />
  <meta name="msvalidate.01" content="152F12319D1A5CD80F1EC0116FB589D2" />

  
    <script>
  /* $( window ).on( "load", function() {
          console.log( "window loaded" );
          $('.tag-style-1').css("display","inline-block");
      }); */
        $(document).ready(function() {
          console.log( "dom loaded" );
          
        $('.fb-share').click(function(e) {
          e.preventDefault();
          window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
          return false;
        });
  
  
        /// To remove "Medigy:" from category starts here
        /*
        $('.tag-style-1').each( function(){
        var category = $(this).find('a').html();
        if(category.indexOf("Medigy: ") != -1){
          var splitedCategory = category.split(':');
          $(this).find('a').html(splitedCategory[1]);
        }
        });
        */
     
        /// To remove "Medigy:" from category ends here
        });
  
        /*
        $(document).ready(function(){
          $('.hamburger-menu > span ').hide();
          $('.hamburger-menu').on("click", function(){
            if ( $( 'body' ).hasClass( 'hurb-menu-custom' ))
            {
              $('body').removeClass('hurb-menu-custom');
  
            }
            else
            { 
              $('.hamburger-menu > span ').show();  
              $('body').addClass('hurb-menu-custom');
            }
         });
  
        });
        hamburger-menu
        */
    </script>
    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
      "@type": "Organization",
      "@id": "https://www.medigy.com/",
      "name": "Medigy",
      "url": "https://www.medigy.com/",
      "logo": "{{ $.Site.Params.siteUrl }}images/medigy-innovation-network-logo.svg",
      "sameAs": [
      "https://www.facebook.com/Medigy/",
      "https://twitter.com/Medigy1",
      "https://www.linkedin.com/company/14692561"
      ]
      }
      </script>
   
  <script>
      function setCookie(key, value) {
      var expires = new Date();
      if (key == 'cookie-agree')
        expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000));
      else
        expires.setTime(expires.getTime() + (5 * 24 * 60 * 60 * 1000));
      document.cookie = key + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
    }
  
    function getCookie(key) {
      var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return keyValue ? keyValue[2] : null;
    }
  </script>
  <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0092/8173.js" async="async"></script>
  <script type="text/javascript" src="/js/page-service-call.js"></script>
  </head>