<div>
	{{ $siteData := $.Site.Data.communities }}
	{{ $owlType := "Medigy Communities"}}
	{{ range $siteData }}
		{{ range .topicDetails }}
			{{ $.Scratch.Set "tagCounter" 0 }}
			{{ $topicTitle := print "Medigy: " .topicTitle }}
		    {{/*$posts := where $.Site.Pages "Params.owltype" "=" "Medigy Communities" */}}   
			{{/* range $posts */}}
			{{ range  (where $.Site.RegularPages ".Params.owltype" "==" $owlType ) }}
				{{ if in .Params.communityTopics $topicTitle }}
                	{{ $.Scratch.Add "tagCounter" 1 }}
                {{ end }}
			{{ end }}						
			{{ $topicCollections := print .topicTitle }}
			{{ $textLower := ($topicCollections | lower) }}
			{{ $communityUrlCreated := print "/communities/chronic-care-management/medigy-" ($textLower | urlize) }}
			{{ if eq ( $.Scratch.Get "tagCounter" ) 0}}
				{{ $communityUrlCreated = "#"}}
			{{ end }}
			<span class="total-count-1"><a href="{{ $communityUrlCreated }}">{{ .topicTitle }} <strong>{{ $.Scratch.Get "tagCounter" }}  </strong></a> </span>
		{{ end }}
	{{ end }}
</div>


