<head>  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ $.Site.Params.GTMCode }}');</script>
    <!-- End Google Tag Manager -->
  
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{$topicTitle := .Title }}
    {{ $.Scratch.Set "metaTitle" "Communities of Practice | Medigy"}}
     {{ $currentTag := index (last 5 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}{{ $currentSecondTag := index (last 2 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}{{ $currentThirdTag := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}
     <!-- Title tag --> 
{{ if eq $currentSecondTag "chronic-care-management" }}{{ $siteData := $.Site.Data.communities.community }}{{ range $siteData.topicDetails  }}{{ $topicTitle := print "medigy-" .topicTitle | urlize }}{{ if eq $currentThirdTag $topicTitle  }}{{ $.Scratch.Set "metaTitle" .topicTitle }}{{ $.Scratch.Set "metaDesc" .topicDescription }}{{ $.Scratch.Set "ogImage" .topicFeaturedImage }}{{ end }}{{ end }}{{ if eq ($.Scratch.Get "metaTitle") "Communities of Practice | Medigy" }} {{ $.Scratch.Set "metaTitle" $topicTitle }} {{$.Scratch.Set "metaDesc" $topicTitle}} {{ $.Scratch.Set "ogImage" "communities/medigy-chronic-care-management-ccm/images/featured-default.png"}}{{ end }}
<title>{{ $.Scratch.Get "metaTitle" | safeHTML }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
    <meta name="description" content='{{ $.Scratch.Get "metaDesc" }}'/>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- open graph -->
    <meta property="og:type" content="article" />
    <meta property="og:description" content='{{ $.Scratch.Get "metaDesc" }}'/>
    <meta property="og:title" content='{{ $.Scratch.Get "metaTitle" }}'/>
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:image" content='{{$.Site.Params.siteUrl }}{{ $.Scratch.Get "ogImage" }}'/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="" />
    <meta property="og:image:height" content="" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02"}}"/> 
    <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02"}}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@Medigy"/>
    <meta name="twitter:title" content='{{ $.Scratch.Get "metaTitle" }}'/>
    <meta name="twitter:description" content='{{ $.Scratch.Get "metaDesc" }}'/>
    <meta name="twitter:image" content='{{$.Site.Params.siteUrl }}{{ $.Scratch.Get "ogImage" }}'/>
    <meta name="twitter:domain" content="{{ .Permalink }}"/>
  {{ else }}
    {{ if eq  .Params.title "Chronic Care Management" }}{{ $siteData := $.Site.Data.communities.community }}{{ range $meta_index, $metaDetail := $siteData }}{{ $.Scratch.Set $meta_index $metaDetail }}{{ end }}
      <title>{{ $.Scratch.Get "metaTitle" | safeHTML }}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="description" content="{{ $.Scratch.Get "metaDesc" }}"/>
      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!-- open graph -->
      <meta property="og:type" content="article" />
      <meta property="og:description" content="{{ $.Scratch.Get "metaDesc" }}" />
      <meta property="og:title" content="{{ $.Scratch.Get "metaTitle" }}" />
      <meta property="og:site_name" content="{{ .Site.Title }}" />
      <meta property="og:image" content='{{$.Site.Params.siteUrl }}{{ $.Scratch.Get "ogImage" }}'/>
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="" />
      <meta property="og:image:height" content="" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
      <meta property="article:published_time" content="{{ .Date.Format "2006-01-02"}}"/> 
      <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02"}}"/>
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@Medigy"/>
      <meta name="twitter:title" content="{{ $.Scratch.Get "metaTitle" }}"/>
      <meta name="twitter:description" content="{{ $.Scratch.Get "metaDesc" }}"/>
      <meta name="twitter:image" content="{{$.Site.Params.siteUrl }}communities/medigy-chronic-care-management-ccm/images/featured-default.png"/>
      <meta name="twitter:domain" content="{{ .Permalink }}"/>
    {{ else }}
      <title>{{ if .Params.metatitle}}{{ .Params.metaTitle | safeHTML }}{{ else }}{{ .Params.title | safeHTML }}{{ end }}</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      {{ if .Description }}<meta name="description" content="{{ .Description }}"/>{{ else }}<meta name="description" content="{{ .Params.title | safeHTML }}"/>{{ end }}
      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="keywords" content="{{ if .Keywords }}{{ range.Keywords }}{{ . }},
      {{ end }}{{else if  .Params.tags }}{{ range.Params.tags }}{{ . }},{{ end }}{{ end }}">
      <!-- open graph -->
      <meta property="og:type" content="article" />
      {{ if .Description }}<meta property="og:description" content="{{ .Description }}" />{{ else }}<meta name="og:description" content="{{ .Params.title | safeHTML }}"/>{{ end }}
      <meta property="og:title" content="{{ .Title }}" />
      <meta property="og:site_name" content="{{ .Site.Title }}" />
      <meta property="og:image" content='{{ if and (.Params.ogimage) (ne .Params.ogImage "Nil") }}{{ $.Site.Params.siteUrl }}{{ .Params.ogImage }}{{ else if .Params.featuredimage }}{{ $.Site.Params.siteUrl }}{{ .Params.featuredimage }}{{ else }}{{$.Site.Params.siteUrl }}images/home-graphic-1.png{{ end }}'/>
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="" />
      <meta property="og:image:height" content="" />
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
      <meta property="article:published_time" content="{{ .Date.Format "2006-01-02"}}"/> 
      <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02"}}"/>
      {{if .Keywords }}
      {{ range.Keywords }}<meta property="article:tag" content="{{ . }}" />{{ end }}{{else if  .Params.tags }}
      {{ range.Params.tags }}<meta property="article:tag" content="{{ . }}" />{{ end }}
      {{ end }}
      {{if .Site.Params.twitter }}
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@{{ .Site.Params.twitter }}"/>
      <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}"/>
      <meta name="twitter:description" content="{{ .Description | default .Summary }}|{{ .Site.Params.Description }}"/>
      <meta name="twitter:image" content="{{$.Site.Params.siteUrl }}communities/medigy-chronic-care-management-ccm/images/featured-default.png" />
      <meta name="twitter:domain" content="{{ .Permalink }}" />
      {{ else }}
      <meta name="twitter:card" content="summary"/>
      <meta name="twitter:site" content="@Medigy"/>
      <meta name="twitter:title" content="{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}"/>
      {{ if .Description }}<meta name="twitter:description" content="{{ .Description | default .Summary }}|{{ .Site.Params.Description }}"/>{{ else }}<meta name="twitter:description" content="{{ .Params.title | safeHTML }}"/>{{ end }}
      <meta name="twitter:image" content="{{$.Site.Params.siteUrl }}communities/medigy-chronic-care-management-ccm/images/featured-default.png"/>
      <meta name="twitter:domain" content="{{ .Permalink }}"/>
      {{ end }}
  {{ end }}
{{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href="/img/media.ico">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/xcode.css" />
    <!-- bootstrap & responsive css -->
    <!--<link href="https://clin-table-search.lhc.nlm.nih.gov/lforms-versions/13.1.0/styles/lforms.min.css" media="screen" rel="stylesheet"
      />-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="/css/fhir-theme.css" />
    <link rel="stylesheet" href="/css/fontawesome_v5.6.3_all.css">
   
    {{ $sitetitle := .Site.Title }}
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $sitetitle }}" />
  {{ end }}
    <!--<link   rel="stylesheet"   href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css" />-->


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $.Scratch.Get  "staticPath" }}css/fontawesome_v5.6.3_all.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $.Scratch.Get  "staticPath" }}css/custom.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $.Scratch.Get  "staticPath" }}css/new-style.css" />
<script type="text/javascript" src="{{ .Site.BaseURL }}{{ $.Scratch.Get "staticPath" }}js/twitter-widgets.js" }}></script> 


<link   rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/github-gist.css" />


{{ template "_internal/google_analytics_async.html" . }}

    <!-- bootstrap & jquery js -->
    <script src="/js/jquery.min1.10.2.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/sourcebuster.min.js"></script>   
    <link rel="stylesheet" href="/css/latolatinfonts.css" />
    {{ if eq $.Site.Params "bgimg" }}
    <style>
      body {
        background: #ecedef url("{{ $.Site.Params.bgimg | safeCSS }}") repeat;
      }
    </style>
    {{ end }}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <meta name="yandex-verification" content="dc730b9540a1bf82" />
  <meta name="msvalidate.01" content="152F12319D1A5CD80F1EC0116FB589D2" />

  
    <script>

        $(document).ready(function() {
          
        $('.fb-share').click(function(e) {
          e.preventDefault();
          window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
          return false;
        });
  

        });
  

    </script>
   <!-- Site schema starts here-->
  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Organization",
    "@id": "https://www.medigy.com/",
    "name": "Medigy",
    "url": "https://www.medigy.com/",
    "logo": "{{ $.Site.Params.siteUrl }}images/medigy-innovation-network-logo.svg",
    "sameAs": [
    "https://www.facebook.com/Medigy/",
    "https://twitter.com/Medigy1",
    "https://www.linkedin.com/company/14692561"
    ]
    }
    </script>
   
  <script>
      function setCookie(key, value) {
      var expires = new Date();
      if (key == 'cookie-agree')
        expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000));
      else
        expires.setTime(expires.getTime() + (5 * 24 * 60 * 60 * 1000));
      document.cookie = key + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';
    }
  
    function getCookie(key) {
      var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return keyValue ? keyValue[2] : null;
    }
  </script>
   
  <script type="text/javascript" src="/js/page-service-call.js"></script>
  </head>