{{ partial "communities/header.html" . }}
<body>
<!-- Google Tag Manager (noscript) -->
    <div id="g-tag-body">
	    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	</div>
	<!-- End Google Tag Manager (noscript) -->
<section class="commun-wrapper community_page">
	<div class="container">
		{{ partial "communities/bread-crumb-community-landing.html" . }}
		<main class="list">
			{{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
			{{ $paginator := .Paginate (where (where .Pages "Section" "communities" ) ".Params.layout" "!=" "pages") }}
			{{ with .Site.Data.community_landing.community_landing }}
				{{ range sort .communityDetails "communityListingOrder" "asc" }}
					{{ $.Scratch.Set "communityTitle" .communityTitle }}
					{{ $.Scratch.Set "communityDescription" .communityDescription }}
					{{ $.Scratch.Set "communityFeaturedImage" .communityFeaturedImage }}
					{{ $title :=  $.Scratch.Get "communityTitle" }}								
					{{ range $paginator.Pages }}
						{{  if eq .Title $title }}
						<section class="article-list">
							<div class="row">
							<div class="description col-md-8 {{ if .Params.featured_image}}{{ end }}">
								<h2 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
								<span>
									<p>{{ $.Scratch.Get "communityDescription" }}</p>
								</span>
							</div>
							<div class="col-md-4">
								{{ if  $.Scratch.Get "communityFeaturedImage"}}
									{{ $fpath:=  .File.Dir }}
									{{ $fileDir := replace $fpath "\\" "/"}}
								<picture class="post-figure m-b-15">
									<a href="{{ .RelPermalink }}">
										<img src="{{ $.Scratch.Get "communityFeaturedImage" }}"
											class="img-responsive"
											{{ if  $.Scratch.Get "communityDescription" }}alt="{{$.Scratch.Get "communityDescription" }}"
											{{end}} 
											></a>
								</picture>
								{{ end }}
							</div>
							{{ if ne .Title "Chronic Care Management" }}
							<div class="col-md-12"> {{ partial "communities/sections-tree.html" . }} </div>
							{{ else }}
							<div class="col-md-12"> {{ partial "communities/sections-topic-tree.html" . }} </div>
							{{ end }}
						</div>
						</section>
						{{ end }}
					{{ end }}
				{{ end }}
			{{ end }}
		</main>
		<nav>{{ template "_internal/pagination.html" . }}</nav>
	</div>
</section>
</body>
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}