<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "claiming-dashboard-key"}}


<body class="single-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partialCached "nav-bar.html" . "claiming-dashboard-key"}}
 
  <script>
var personid = getCookie('personid');

if (personid != '7eea82e6-c0bd-11e8-85c1-e1894e45cc6e') {
window.location.href = "/";
}
    $(document).ready(function(){
      
      $(document).on('click','.viewButton', function(e){ 
      var checkKey =  $(this).attr('data-checkKey');
        $(this).prev().html(checkKey);
        if($(this).val() == 'View Code')
        {
          $(this).prev().show();
          $(this).val("Hide Code");
        }
        else
        {
          $(this).prev().hide();
          $(this).val("View Code");          
        }
          


      });
    
///// Claiming Approval Process starts here

$(document).on('click','.submitApprove', function(e){ 

  e.preventDefault();
  $('.claim-message').hide();
  var keyValue = $(this).attr('data-key');
  var secreteCode = $(this).attr('data-token');
  $(this).val('Processing...');
  $(this).prop('disabled',true);
  var thisVar = $(this);
  console.log("mutation{\nupdateClaimOfferingStatus(key:\""+keyValue+"\",token:\""+secreteCode+"\",action:\"approve\")\n}");
  var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "*/*",
            "Cache-Control": "no-cache"
          },
          "data": {
            "query": "mutation{\nupdateClaimOfferingStatus(key:\""+keyValue+"\",token:\""+secreteCode+"\",action:\"approve\")\n}"
          }
        }

        $.ajax(settings).done(function (response) {
          //console.log(response);
          console.log(response.data.updateClaimOfferingStatus);
          if(response.data.updateClaimOfferingStatus == "Success")
          {
            
            $('.claim-message').removeClass('alert-danger');
            $('.claim-message').addClass('alert-success');
            $('.claim-message').html('The mail has been sent for claim approval process.');
            $('.claim-message').show();
            $('.claim-message').focus();
            thisVar.hide();
            thisVar.next().hide();           
          }
          else
          {
            $('.claim-message').removeClass('alert-success');
            $('.claim-message').addClass('alert-danger');            
            $('.claim-message').html('The mail sending failed.');
            $('.claim-message').show();
            $('.claim-message').focus();
            thisVar.val('Approve');
            thisVar.prop('disabled',false);
          }
        });

});

///// Claiming Approval Process ends here


///// Claiming Reject Process starts here

$(document).on('click','.submitReject', function(e){ 

e.preventDefault();
var r = confirm("Are you sure, you want to reject this claim request?");
if (r == true) {
$('.claim-message').hide();
var keyValue = $(this).attr('data-key');
var secreteCode = $(this).attr('data-token');
$(this).val('Processing...');
$(this).prop('disabled',true);
var thisVar = $(this);
console.log("mutation{\nupdateClaimOfferingStatus(key:\""+keyValue+"\",token:\""+secreteCode+"\",action:\"reject\")\n}");
var settings = {
        "async": true,
        "crossDomain": true,
        "url": "{{ $.Site.Params.GraphQLUrl }}",
        "method": "POST",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "Accept": "*/*",
          "Cache-Control": "no-cache"
        },
        "data": {
          "query": "mutation{\nupdateClaimOfferingStatus(key:\""+keyValue+"\",token:\""+secreteCode+"\",action:\"reject\")\n}"
        }
      }

      $.ajax(settings).done(function (response) {
        //console.log(response);
        console.log(response.data.updateClaimOfferingStatus);
        if(response.data.updateClaimOfferingStatus == "Success")
        {
          
          $('.claim-message').removeClass('alert-danger');
          $('.claim-message').addClass('alert-success');
          $('.claim-message').html('The claim reject process has been completed.');
          $('.claim-message').show();
          $('.claim-message').focus();
          thisVar.hide();
          thisVar.prev().hide();           
        }
        else
        {
          $('.claim-message').removeClass('alert-success');
          $('.claim-message').addClass('alert-danger');            
          $('.claim-message').html('The claim rejection process is failed.');
          $('.claim-message').show();
          $('.claim-message').focus();
          thisVar.val('Reject');
          thisVar.prop('disabled',false);
        }
      });
}

});

///// Claiming Reject Process ends here



///// Claiming Revert process starts here 

$(document).on('click','.submitRevert', function(e){ 

e.preventDefault();
var r = confirm("Are you sure, you want to revert this claiming process?");
if (r == true) {
  $('.claim-message').hide();
  var keyValue = $(this).attr('data-key');
  var secreteCode = $(this).attr('data-token');
  $(this).val('Processing...');
  $(this).prop('disabled',true);
  var thisVar = $(this);
  var sessionId = getCookie('sessionId');
  console.log("mutation{\n  reverseClaim(\n    authorization:{\n    \tsessionID:\""+sessionId+"\"\n  \t}\n    userTenantDetails:{\n      key:\""+keyValue+"\"\n    }\n  ){\n    status\n   message\n    \n  }\n}");
  var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "*/*",
            "Cache-Control": "no-cache"
          },
          "data": {
            "query": "mutation{\n  reverseClaim(\n    authorization:{\n    \tsessionID:\""+sessionId+"\"\n  \t}\n    userTenantDetails:{\n      key:\""+keyValue+"\"\n    }\n  ){\n    status\n   message\n    \n  }\n}"
          }
      }

      $.ajax(settings).done(function (response) {
        //console.log(response);
        console.log(response.data.reverseClaim.status);
        if(response.data.reverseClaim.status == "SUCCESS")
        {
          
          $('.claim-message').removeClass('alert-danger');
          $('.claim-message').addClass('alert-success');
          $('.claim-message').html('The claim revert process has been completed.');
          $('.claim-message').show();
          $('.claim-message').focus();
          thisVar.hide();
          thisVar.next().hide();           
        }
        else
        {
          $('.claim-message').removeClass('alert-success');
          $('.claim-message').addClass('alert-danger');            
          $('.claim-message').html('The claim revert process is failed.');
          $('.claim-message').show();
          $('.claim-message').focus();
          thisVar.val('Revert');
          thisVar.prop('disabled',false);
        }
      });


}
});

///// Claiming Revert process ends here 

$(window).bind("load",function(e){

  $("input[name='claimedItem']"). click(function(){
    $("input[name='claimedItem']").each(function(){
      var claimedItem = $(this).val();
      claimedItem = '.'+claimedItem;
      $(claimedItem).css('display', 'none');        
    });

    var claimedItem = $("input[name='claimedItem']:checked"). val();
    claimedItem = '.'+claimedItem;
    $(claimedItem).show();
    });
    
  });

      //$('#tenantDetails').show();

        var sessionId = getCookie('sessionId');
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "*/*",
            "Cache-Control": "no-cache"
          },
          "data": {
            "query": "query{\ngetAllClaimedOffering(authorization:{sessionID:\""+sessionId+"\"}){\n    userEmail\n    assessmentToken\n    tenantId\n    key\n    assessmentToken\n    assessmentMasterToken\n    approveStatus\n  checkKey\n  offeringName\n  claimStatus\n  parentTenantId\n  claimSource\n }\n}"
          }
        }
      setTimeout(function(){


        $.ajax(settings).done(function (response) {
          console.log(response);
         var iter = '';
         var numWebsite = 0;
         var numInnovator = 0;
          var tableWebsite = '';
          var tableInnovator = '';
          for(iter in response.data.getAllClaimedOffering)
          {
            if(iter == 0)
            {
              var tableHeadWebsite = ` <table style="width:100%" class="claim-table classNormalClaim">
                  <tr>
                    <th>S/n</th>
                    <th>Secrete Code</th> 
                    <th>User Email</th> 
                    <th>Existing Institution</th>
                    <th>Requested Institution</th>
                    <th>Offering Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>`;
                  var tableHeadInnovator = ` <table style="width:100%" class="claim-table classInnovatorClaim">
                  <tr>
                    <th>S/n</th>
                    <th>Secrete Code</th> 
                    <th>User Email</th> 
                    <th>Existing Institution</th>
                    <th>Requested Institution</th>
                    <th>Offering Name</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>`;

            }

            var requestedInstitution = ''
            var existingInstitution = '';
            $('#tenantDetails > option').each((index, obj) => {
              console.log(obj);
              if(response.data.getAllClaimedOffering[iter].tenantId == $(obj).val())
              {
                requestedInstitution = $(obj).text();
              }
              else if(response.data.getAllClaimedOffering[iter].parentTenantId == $(obj).val())
              {
                existingInstitution = $(obj).text();
              }
                
              
            });
            console.log(existingInstitution);
            console.log(requestedInstitution);
            if(response.data.getAllClaimedOffering[iter].claimStatus == 'REQUESTED')
                var status = 'Claim Request Recieved';
              else if(response.data.getAllClaimedOffering[iter].claimStatus == 'APPROVED')
                var status = 'Claim Request Approved';
              else if(response.data.getAllClaimedOffering[iter].claimStatus == 'CLAIMED')
                var status = 'Claim Process Completed';  
              else if(response.data.getAllClaimedOffering[iter].claimStatus == 'REJECTED')
                var status = 'Claim Process Rejected'; 
              else if(response.data.getAllClaimedOffering[iter].claimStatus == 'REVERSED')
                var status = 'Claim Process Reverted';                 
              else
                status = '-';
            if(response.data.getAllClaimedOffering[iter].claimSource == 'Medigy')
            {
              numWebsite = parseInt(numWebsite) + 1;
              tableWebsite += `<tr>`;                         

              if(response.data.getAllClaimedOffering[iter].offeringName != null)
              var offeringName = response.data.getAllClaimedOffering[iter].offeringName;
              else
              var offeringName ='';
              tableWebsite += `<td>`+numWebsite+`</td>
                        <td>`+response.data.getAllClaimedOffering[iter].checkKey+`</td>
                        <td>`+response.data.getAllClaimedOffering[iter].userEmail+`</td> 
                        <td>`+existingInstitution+`</td>
                        <td>`+requestedInstitution+`</td>
                        <td>`+offeringName+`</td> 
                        <td>`+status+`</td>`;
                        if(response.data.getAllClaimedOffering[iter].claimStatus == 'REQUESTED')
                        tableWebsite +=`<td><input type="submit" value="Approve"  class="btn btn-primary claim-button submitApprove" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"><input type="submit" value="Reject"  class="btn btn-primary claim-button submitReject" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"></td>`;
                        else if(response.data.getAllClaimedOffering[iter].claimStatus == 'CLAIMED')
                        tableWebsite +=`<td><input type="submit" value="Revert"  class="btn btn-primary claim-button submitRevert" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"></td>`;
                        else
                        tableWebsite +=`<td></td>`;
                        tableWebsite +=`</tr> `;
            }
            else
            {
              
              numInnovator = parseInt(numInnovator) + 1;
              tableInnovator += `<tr>`;                    
     

              if(response.data.getAllClaimedOffering[iter].offeringName != null)
              var offeringName = response.data.getAllClaimedOffering[iter].offeringName;
              else
              var offeringName ='';
              tableInnovator += `<td>`+numInnovator+`</td>
                        <td>`+response.data.getAllClaimedOffering[iter].checkKey+`</td>
                        <td>`+response.data.getAllClaimedOffering[iter].userEmail+`</td> 
                        <td>`+existingInstitution+`</td>
                        <td>`+requestedInstitution+`</td>
                        <td>`+offeringName+`</td> 
                        <td>`+status+`</td>`;
                        if(response.data.getAllClaimedOffering[iter].claimStatus == 'REQUESTED')
                        tableInnovator +=`<td><input type="submit" value="Approve"  class="btn btn-primary claim-button submitApprove" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"><input type="submit" value="Reject"  class="btn btn-primary claim-button submitReject" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"></td>`;
                        else if(response.data.getAllClaimedOffering[iter].claimStatus == 'CLAIMED')
                        tableInnovator +=`<td><input type="submit" value="Revert"  class="btn btn-primary claim-button submitRevert" data-key="`+response.data.getAllClaimedOffering[iter].key+`" data-token="`+response.data.getAllClaimedOffering[iter].assessmentToken+`"></td>`;
                        else
                        tableInnovator +=`<td></td>`;
                        tableInnovator +=`</tr> `;
            }

          }
          if(iter != '')
          {
            var table = tableHeadWebsite+tableWebsite+`</table>`+tableHeadInnovator+tableInnovator+`</table>`;
            $('#claimingList').html(table);
            $('.form-group').show();
            $('.classInnovatorClaim').css('display', 'none');
          }
          else
          $('#claimingList').html('<span>There are no claim requests available.</span>');
        });
      },2500);

    });

    </script>
  <section class="container">
  <main>
      <div class="col-lg-12 content side-text-padding container single-blog-card">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }} min-height-auto">
        <header class="post-header">
          <h1 class="post-title">Claiming Dashboard</h1>
        </header>

          <h3 id="tokenMessage"></h3>
        <div class="entry-content entry-content-2 page-content">
          <div class="row">
            <div class="col-sm-12">
                          <div class="form-group row col-md-12" style="display:none">
                              <label class="col-md-2">                   
                              </label>
                              <div class="col-md-5">
                                <label class="input-container radioClaimItem">Claiming through product page
                                  <input type="radio" name="claimedItem"  value="classNormalClaim" checked="checked" required/>
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                              <div class="col-md-5">
                                <label class="input-container radioClaimItem">Claiming through innovator sign-up page
                                  <input type="radio" name="claimedItem" value="classInnovatorClaim" required/>
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                          </div>


              <div class="alert alert-success claim-message" style="display:none;"></div>

              <article class="" id="claimingList">
                <p> Contents are collecting. Please wait...</p>
              </article>

          </div>
        </div>





        </div>

      </article>

    </div>

  </main>
  </section>
{{ partialCached "footer.html" . }}
</body>

</html>