
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partialCached "head.html" . "contact-us-key"}}
<body class="single-body">
<!-- Google Tag Manager (noscript) -->
<div id="g-tag-body">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</div>
    <!-- End Google Tag Manager (noscript) -->
      
    {{ partialCached "nav-bar.html" . "contact-us-key"}}
    <section class="about-wrapper">
<div class="container">
     <header class="post-header">
        {{ partialCached "bread-crumb.html" . "contact-us-key"}}
            <h1 class="post-title">Contact Us</h1>
         
        </header>
        <div id="sendMessage" class="alert alert-success" style="display:none"></div>
            <form name="contactusform"  id="contactusform">
              <div class="form-group contactus-userLogged">
                    <input type="text" placeholder="Your Full Name (required)" class="form-control" name="contact-firstname" id="contact-firstname" required>
                    <span class="error" id="name" style="display: none;">Please enter your name </span>
                </div>
                <div class="form-group contactus-userLogged">
                    <input type="email" placeholder="Your Email (required)" class="form-control" name="conatct-emailaddress" id="conatct-emailaddress" required>
                    <span class="error" id="email" style="display: none;">Please enter your email </span>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject (required)" class="form-control" name="contact-subject" id="contact-subject" required>
                     <span class="error" id="subject" style="display: none;">Please enter the subject </span>
                </div>
                <div class="form-group">
                    <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                </div>
                <input type="hidden" name="_subject" value="[Medigy] - Contact Form Submission">
                <div id="cf-submit">                  
                <button type="submit" id="contactsubmit" class="btn btn-primary add-new-bt" value="Submit">Submit </button> 
                <button type="reset" class="btn btn-primary add-new-bt grey-bg-bt" name="contactusCancel" id="contactusCancel" value="Cancel">Cancel </button>   
                </div>
                <div class="form-group">
                 <input type="text" name="_gotcha" style="display:none">
                </div>                      
            </form>

</div>
  </section>
 {{ partialCached "footer.html" . }}  
  </body>
</html>
<script type="text/javascript">
  function base64EncodeUnicode(str) {
    // First we escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
    // then we convert the percent encodings into raw bytes, and finally feed it to btoa() function.
    utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
      return String.fromCharCode('0x' + p1);
    });

    return btoa(utf8Bytes);
  }
  function recurringCharacterValidate(stringval) {
    console.log(stringval);
  let isEmpty=true;
  var alphabet = 'abcdefghijklmnopqrstuvwxyz0123456789'.split('');
  alphabet.forEach((key,val)=>{
        if(stringval.indexOf(key) > -1) isEmpty=false;
      });
  
  return isEmpty;
}

$(document).ready(function() {
  var sessionId = getCookie('sessionId');
  var fullName = getCookie('firstname');
  var email = getCookie('userEmail');  
  if(sessionId){    
    $('#contact-firstname').val(fullName);
    $('#conatct-emailaddress').val(email); 
    $('.contactus-userLogged').hide();
    
   }
    $("#contactusform").on('submit', function (e) {
      e.preventDefault();  
        if(!sessionId){
          var fullName = $("#contact-firstname").val();
          var email = $("#conatct-emailaddress").val();
         }    
         var fullName = $("#contact-firstname").val();
         var email = $("#conatct-emailaddress").val();    
        var subject = $("#contact-subject").val();
        var message = $("#message").val();
        if(recurringCharacterValidate(fullName)==true || recurringCharacterValidate(subject)==true )  {
          alert("Please fill up the fields with proper inputs.");
          return false;
       }
       message = message.replace(/%/g, "percentage");
       message = base64EncodeUnicode(message); 
       console.log(`mutation{
        submitContactUs(authorization:{
          sessionID:"`+ sessionId +`"
        }
        contactEmail:"`+ email +`"
        contactName:"`+ fullName +`"
        contactSubject:"`+ subject +`"
        contactMessage:"`+ message +`"
        )
      {
        status
        message
        errorCode
      }
      }`); 
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "cache-control": "no-cache"
            },
            "data": {
              "query": `mutation{
                submitContactUs(authorization:{
                  sessionID:"`+ sessionId +`"
                }
                contactEmail:"`+ email +`"
                contactName:"`+ fullName +`"
                contactSubject:"`+ subject +`"
                contactMessage:"`+ message +`"
                )
              {
                status
                message
                errorCode
              }
              }`
            }
          }     
                                
          $.ajax(settings).done(function (response) {
            $('#sendMessage').html("");
           
            if (response.data.submitContactUs.status != "SUCCESS") {
              $('#sendMessage').html(response.data.submitContactUs.message);
              $('#sendMessage').addClass('alert-danger');
              $('#sendMessage').html("Failed to send email...");
              $('#sendMessage').show();             
            }
            else {
              $('#sendMessage').html(response.data.submitContactUs.message);
              $('#sendMessage').addClass('alert-success');
              $('#sendMessage').html("Thanks for contacting us! We will get back to you soon!");
              $('#sendMessage').show();
              
              $('#contactusform')[0].reset();            
            }
          });
    });     
 
function ValidateEmail(mail) {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
        return true;
    }
    return false;
}
});
</script>