<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "feedback-key"}}
<script>
  
  var personid = getCookie('personid');
  if (personid == null) {
    setCookie('prevPage','/feedback');
      window.location.href = '/login';
  }
</script>  
<body class="single-body">
 
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partialCached "nav-bar.html" . "feedback-key"}}

  {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}
        {{ range .items }}
          {{ if eq .questionCode "LookingForSomething_message"}}
            {{ range .answers }}
              {{ if eq .code "submit_the_button_message" }}
                {{ $.Scratch.Set "displaySubmitMessage" .text }} 
              {{ end }}
              {{ if eq .code "success_message"}}
                    {{ $.Scratch.Set "displayMessage" .text }}              
              {{ end }}                          
            {{ end }}
          {{ end }}
        {{ end }}
  {{ end }}
  {{ $messageDisplay := $.Scratch.Get "displayMessage" }}
  {{ $submiMessage := $.Scratch.Get "displaySubmitMessage" }}
  <script>

   $(document).ready(function(){ 
    function base64EncodeUnicode(str) {
      // First we escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
      // then we convert the percent encodings into raw bytes, and finally feed it to btoa() function.
      utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
        return String.fromCharCode('0x' + p1);
      });

      return btoa(utf8Bytes);
    }
     function recurringCharacterValidate(string) {
      let isEmpty=true;
      var alphabet = 'abcdefghijklmnopqrstuvwxyz0123456789'.split('');
      alphabet.forEach((key,val)=>{
            if(string.indexOf(key) > -1) isEmpty=false;
          });
      
      return isEmpty;
    }

    $("#feedbackform").on("submit", function (e) {

      if (e.isDefaultPrevented()) {
          alert('form is not valid');
      } else {
          // everything looks good!
          e.preventDefault();
             
    var personid = getCookie('personid');    
    var userName = getCookie('firstname');    
    var userEmail = getCookie('userEmail');
    var sessionId = getCookie('sessionId');
    var feedbacktype = "";//$('#feedbacktype').val();
    var subject = $('#feedbacksubject').val();
    var description = $('#feedbackdesc').val();
    if(recurringCharacterValidate(subject)==true || recurringCharacterValidate(description)==true)  {
            alert("Please fill up the fields with proper inputs.");
            return false;
    }else{
      $('#feedbacksubmit').prop("disabled", true); 
    $('#feedbackMessage').html("");
    $('#feedbackMessage').removeClass('alert-success');
    $('#feedbackMessage').removeClass('alert-danger');
    $('#feedbackMessage').addClass('alert-primary');      
    $('#feedbackMessage').html("{{ $submiMessage }}");
    $('#feedbackMessage').show();
    }
    // description = description.replace(/"/g, "'");
    // description = description.replace(/(\n)+/g, '&lt;br /&gt;');
     description = description.replace(/%/g, "percentage");
     description = base64EncodeUnicode(description); 

  var settings = {
  "async": true,
  "crossDomain": true,
  "url": "{{ $.Site.Params.GraphQLUrl }}",
  "method": "POST",
  "headers": {
    "Content-Type": "application/x-www-form-urlencoded",
    "cache-control": "no-cache",
    "Postman-Token": "05745d81-a07c-4e10-ab9f-62a5696d91fc"
  },
  "data": {
    "query": `mutation{
          submitFeedback(authorization:{
            sessionID:"`+ sessionId+`"
          }
          feedback:{
            feedbackSubject:"`+ subject +`",
            feedbackDescription:"`+ description +`",
            supportType:"Looking For Something",
            feedbackUserName:"`+ userName +`",
            feedbackUserEmail:"`+ userEmail +`"
            }){
            status
            message
            errorCode
          }
        }`
  }
}
$.ajax(settings).done(function (response) {
  console.log(response);
  if(response.data.submitFeedback.status == "SUCCESS")
  {
    $('#feedbackMessage').html('');
    $('#feedbackMessage').removeClass('alert-danger');
    $('#feedbackMessage').removeClass('alert-primary');      
    $('#feedbackMessage').addClass('alert-success');   
    $("#feedbackMessage").append("<b>{{ $messageDisplay }}</b>");
    $('#feedbackMessage').show();
    $('#feedbacksubmit').prop("disabled", false);
    $('#feedbackform')[0].reset();
  }
  else
  {
    $('#feedbackMessage').html('');
    $('#feedbackMessage').addClass('alert-danger');
    $('#feedbackMessage').removeClass('alert-primary');      
    $('#feedbackMessage').removeClass('alert-success');   
    $("#feedbackMessage").append("<b>"+response.data.submitFeedback.message+"</b>");
    $('#feedbackMessage').show();
    $('#feedbacksubmit').prop("disabled", false);

  }
});
}
});

 $("#cancel").on("click", function (e) {

  $('#feedbacksubject').val('');
  $('#feedbackdesc').val('');
  //$('#feedbacktype').val(0);


});

var personid = getCookie('personid');

      if (personid == null) {
        window.location.href = "/";
      }

   });

   </script>  
  
  <section class="about-wrapper">
    <main class="container">
      {{ partialCached "bread-crumb.html" . "feedback-key"}}
      <div class="search-results-row pt-0">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
        <div id="feedbackMessage" class="alert alert-success" style="display: none;"></div>
        <header class="post-header">
          <h1 class="post-title">Looking for something?</h1>
          <div class="">
         Thank you for taking a moment to tell us what you like to see added in Medigy. Your advice or suggestions will be much appreciated and welcomed. 
        </div>
        </header>
        
 
        <div class="entry-content entry-content-2 page-content">
          <div class="row">
            <div class="col-sm-12">

              <article class="add-new-product-row">
                
                <div class="tab-content" id="myTabContent">
                  <!-- Profile tab starts ::::::::::::::::::::::::::::::::::: -->
                   
                  <div class="tab-pane fade show active" id="productProfile" role="tabpanel">
                    
                     <form name="feedbackform" id="feedbackform" action="#">  
                        <aside>

                          <div class="form-group row col-md-12 " style = "display:none;">
                            <label class="col-md-4">Support Type</label>
                            <div class="col-md-3">
                              <select id="feedbacktype" name="feedbacktype" class="form-control" required>
                                <option value="Looking for Something" selected>Looking for Something</option>
                               
                              </select>
                            </div>
                        </div>
                        <div class="form-group row col-md-12 ">
                            <div class="col-md-4">Summarize briefly what you are looking for</div>
                            <div class="col-md-8">
                             <input class="form-control feedback " name="feedbacksubject" id = "feedbacksubject" type="text"  required>
                            </div>                            
                          </div>

                           <div class="form-group row col-md-12 ">
                            <div class="col-md-4">Please elaborate and provide any detail, so we can assist you in a better way</div>
                            <div class="col-md-8">
                              <textarea name="feedbackdesc" id="feedbackdesc" class="form-control feedback "  required rows="5"></textarea>
                            </div>                            
                          </div>
                     <!--- Replacing div for offering starts here-->     
                   
                     <div class="form-group row col-md-12 ">
                      <label class="col-md-4"></label>
                      <div class="col-md-8">
                        <input value = "Submit" type="submit" class="btn btn-primary add-new-bt" name="feedbacksubmit" id="feedbacksubmit">
                        <input value = "Cancel" type="button" class="btn btn-primary add-new-bt grey-bg-bt" name="cancel" id="cancel">
                          </div>                            
                    </div>
                     <div class="text-center">
                     
                  </div>
                    
                  <div class="text-center">   <div id = "feedback-sucess"> </div> </div>
                        </aside>
                       </form>
                     

                  
                

                   
                </div>
                <!-- profile tab ends ::::::::::::::::::::::::::::::::::: -->


            </div>

            </article>
          </div>

          </div>
        </div>





        </div>

      </article>

    </main>
  </section>
{{ partialCached "footer.html" . }}
</body>

</html>