<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
       

        <link rel="stylesheet" href="/js/jsl/reset.css" type="text/css" media="screen">
        <link rel="stylesheet" href="/js/jsl/throbber.css" type="text/css" media="screen">
        <link rel="stylesheet" href="/js/jsl/jdd.css" type="text/css" media="screen">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="/js/jsl/jsl.format.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jsl/jsl.parser.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/jdd.js" type="text/javascript" charset="utf-8"></script>

      {{ partial "head.html" . }}
    </head> 
    <body>
<div class="table-responsive hide-div" style="text-align:center" ><img src="/img/loader.gif" width="10%" height="10%"></div>
        <div id="main" class="jason-dif-wrapper">
           
   
    
            <div class="diffcontainer">
                 <h1 class="text-center">Json difference</h1>
            <article class="jason-dif-content">
                <div id="report">
                </div>
                <pre id="out" class="left" class="codeBlock"></pre>
                <pre id="out2" class="right" class="codeBlock"></pre>
                <ul id="toolbar" class="toolbar"></ul>
            </article>
            </div>
        </div>
        
    </body>
</html>
