<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "my-claims-key"}}
<script>
  
  var personid = getCookie('personid');
  if (personid == null) {
    setCookie('prevPage','/my-claims');
      window.location.href = '/login';
  }
</script>
<body class="single-body">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partialCached "nav-bar.html" . "my-claims-key"}}

  <script>
    var personid = getCookie('personid');

    if (personid == null) {
      window.location.href = "/";
    }


    //$('.submitSecret').on('click', function(e){
    $(document).on('click', '.submitSecret', function (e) {

      e.preventDefault();
      $('.claim-message').hide();
      var keyValue = $(this).attr('data-key');
      var tokenValue = $(this).attr('data-token');
      var masterTokenValue = $(this).attr('data-masterToken');
      var secreteCode = $(this).prev().val();
      $(this).prev().prev().hide();
      $(this).prev().prev().prev().hide();
      var thisVar = $(this);

      var firstName = getCookie('firstname');
      var lastName = getCookie('lastname');
      var userEmail = getCookie('userEmail');
      var tenantId = getCookie('tenantId');
      var sessionId = getCookie('sessionId');
      var companyName = $('#tenantDetails option:selected').text();
      console.log("mutation {\n  successfulClaimOffering(userTenantDetails: {key: \"" + key + "\", offeringId: \"" + offeringId + "\"}, authorization: {sessionID: \"" + sessionId + "\"}) {\n    status\n    message\n    errorCode\n  }\n}");
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "{{ $.Site.Params.GraphQLUrl }}",
        "method": "POST",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "Accept": "*/*",
          "Cache-Control": "no-cache"
        },
        "data": {
          "query": "mutation {\n  successfulClaimOffering(userTenantDetails: {firstName: \"" + firstName + "\", masterTokenAssessment: \"" + masterTokenValue + "\", tenantId: \"" + tenantId + "\", companyName: \"" + companyName + "\", lastName: \"" + lastName + "\", key: \"" + keyValue + "\", tokenAssessment: \"" + tokenValue + "\", tokenKey: \"" + secreteCode + "\"}, authorization: {sessionID: \"" + sessionId + "\"}) {\n    status\n    message\n  }\n}"
        }
      }
      if (secreteCode != '') {

        $(this).val('Processing...');
        $(this).prop('disabled', true);

        $.ajax(settings).done(function (response) {
          //console.log(response);
          console.log(response.data.successfulClaimOffering);
          if (response.data.successfulClaimOffering.status == "SUCCESS") {

            $('.claim-message').removeClass('alert-danger');
            $('.claim-message').addClass('alert-success');
            $('.claim-message').html('The claim verification process successfully done. When the review is completed your offering will show on the site.');
            $('.claim-message').show();
            $('.claim-message').focus();
            thisVar.hide();
            thisVar.prev().attr("type", "hidden");
          }
          else {
            $('.claim-message').removeClass('alert-success');
            $('.claim-message').addClass('alert-danger');
            $('.claim-message').html('The claim verification process failed.');
            $('.claim-message').show();
            $('.claim-message').focus();
            thisVar.val('Submit');
            thisVar.prop('disabled', false);
            thisVar.prev().val('');
          }
        });
      }
      else {
        thisVar.prev().focus();
        thisVar.prev().prev().prev().show();
        thisVar.prev().prev().show();

      }
    });
    $(document).ready(function () {
      $('#tenantDetails').show();
      setTimeout(function(){
        var sessionId = getCookie('sessionId');
        var tenantId = $('#tenantDetails').val();
        //alert(tenantId);
        console.log("query{\ngetAllClaimedOffering(authorization:{sessionID:\"" + sessionId + "\"}\ntenantId:\"" + tenantId + "\"){\n    claimStatus\n    offeringName\n    userDisplayName\n   }\n}");
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "Accept": "*/*",
            "Cache-Control": "no-cache"
          },
          "data": {
            "query": "query{\ngetAllClaimedOffering(authorization:{sessionID:\"" + sessionId + "\"}\ntenantId:\"" + tenantId + "\"){\n    claimStatus\n    offeringName\n    userDisplayName\n   }\n}"
          }
        }
        $.ajax(settings).done(function (response) {
          {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}                              
            {{ range .items }}
              {{ if eq .questionCode "MyClaims_messages"}}
                {{ range .answers }}  
                  {{ if eq .code "no_claims_in_the_list_message"}}
                      var no_claims_in_the_list_message = {{ .text }}
                  {{ end }}                                          
                  {{ end }}  
                {{ end }}
            {{ end }}
          {{ end }} 
          //console.log(response);
          iter = '';
          for (iter in response.data.getAllClaimedOffering) {
            if (iter == 0) {
              var table = ` <table class = "table" >
                    <tr>
                      <th>S/n</th>
                      <th>User Email</th> 
                      <th>Offering name</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>`;
            }
            var num = parseInt(iter) + 1;
            // if(response.data.getAllClaimedOffering[iter].claimStatus == 'REQUESTED')
            //     var status = 'Claim Request Sent';
            //   else if(response.data.getAllClaimedOffering[iter].claimStatus == 'APPROVED')
            //     var status = 'Claim Request Approved';
            //   else if(response.data.getAllClaimedOffering[iter].claimStatus == 'CLAIMED')
            //     var status = 'Claim Process Completed';  
            //   else if(response.data.getAllClaimedOffering[iter].claimStatus == 'REJECT')
            //     var status = 'Claim Request Rejected';                           
            //   else
            //   status = '-';
            if (response.data.getAllClaimedOffering[iter].offeringName != null)
              var offeringName = response.data.getAllClaimedOffering[iter].offeringName;
            else
              var offeringName = '';
            table += `                 <tr>
                        <td>`+ num + `</td>
                        <td>`+ response.data.getAllClaimedOffering[iter].userDisplayName + `</td> 
                        <td>`+ offeringName + `</td> 
                        <td>`+ response.data.getAllClaimedOffering[iter].claimStatus + `</td>`;
            if (response.data.getAllClaimedOffering[iter].claimStatus == 'Claim Request Approved')
              table += `<td><span style="color:red; display:none;font-size:14px;"> Please enter the secrete code</span><br /><input  type="text" name="secretCode" placeholder="Enter the secret code" class="form-control claim-code" /><input style="float-right;" type="submit" value="Submit" class="btn btn-primary submitSecret" /></td>`;
            else
              table += `<td></td>

                    </tr> `;
          }
          if (iter != '') {
            table += `</table>`;
            $('#claimingList').html(table);
          }
          else
            $('#claimingList').html('<span>'+no_claims_in_the_list_message+'</span>');
        });
      },2000)
    });


  </script>
  <section class="about-wrapper">
    <main class="container">
      {{ partialCached "bread-crumb.html" . "my-claims-key"}}
       <div class="companies-lists">
          <select name="tenantDetails" id="tenantDetails" class="form-control company-select"
            style="display: none;"></select>
        </div>
        <div class="clearfix"></div>
      <div class=" search-results-row">
        <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }} min-height-auto">
          <header class="post-header">           
          </header>

          <h3 id="tokenMessage"></h3>
          <div class="entry-content entry-content-2 page-content">
            <div class="row">
              <div class="col-sm-12">

                <div class="alert alert-success claim-message" style="display:none;"></div>

                <article class="table-responsive" id="claimingList">
                  <!--<p> Please wait...</p>-->
                </article>


              </div>
            </div>





          </div>

        </article>

      </div>

    </main>
  </section>
{{ partialCached "footer.html" . }}
</body>

</html>