<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "my-offerings-key"}}
<script>
  
  var personid = getCookie('personid');
  if (personid == null) {
    setCookie('prevPage','/my-offerings');
      window.location.href = '/login';
  }
</script>  
<body class="list-body">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ partialCached "nav-bar.html" . "my-offerings-key" }}

  <input type="hidden" name="myOfferingStatus" id="myOfferingStatus" value="0" /> {{ urls.Parse "" }}
  <section class="about-wrapper">
    <main class="container ">
      {{ partialCached "bread-crumb.html" . }}
      <div class="companies-lists  insti-list-position">
          <select name="tenantDetails" id="tenantDetails" class="form-control company-select"
            style="display: none;"></select>
        </div>
        <div class = "clearfix"> </div>
   

        <div id="myOfferingsLoading" class="pt-2" role="status">
          <div> <span class="ph-load-default text-center pt-4 card-loading-box">Loading
           
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div></span> </div>
          </div>

          <div id="my-offering" class="search-results-row">


          </div>
        
    </main>
  </section>
  {{ partialCached "scripts.html" . "my-offerings-key"}}
   
  <div id="formContainer">
  </div>
  <!--<script src="https://clin-table-search.lhc.nlm.nih.gov/lforms-versions/13.1.0/lforms.min.js"></script>-->

  <script>
       // Collect all tenant of an user starts here
       var sessionId = getCookie('sessionId');
       if (sessionId != null) {
         //console.log("query{\n  getMyTenants(authorization:{\n    sessionID:\""+sessionId+"\"\n  }){\n    tenantId\n    name\n    displayName\n  }\n}");
         //console.log("query{\n  getMyTenants(authorization:{\n    sessionID:\"" + sessionId + "\"\n  }){\n    id\n    name\n    description\n created_at\n  }\n}");
         var serviceData = { "url": "{{ $.Site.Params.GraphQLUrl }}", "method": "GET", "query": "query{\n  getMyTenants(authorization:{\n    sessionID:\"" + sessionId + "\"\n  }){\n    id\n    name\n    description\n  displayName\n created_at\n }\n}" };
           ajaxPageServiceCall.serviceCall(serviceData).then(response => {
   
           var options = '';
           var selectStatus = 0;
          // console.log(response);
           for (var i = 0; i < response.data.getMyTenants.length; i++) {
   
             var opt = '';
           //  if (response.data.getMyTenants[i].tenantId != 'cb39d53a-1ef0-11e9-9d28-bb451ba91f54' && response.data.getMyTenants[i].tenantId != 'e8d7b61e-4f8b-11e9-b5be-c51857ed28a4' && response.data.getMyTenants[i].tenantId != 'e7dfc497-707f-11e9-8c9d-33682264df93' && response.data.getMyTenants[i].tenantId != null) {
               if (getCookie('tenantId') !== null && getCookie('tenantId') == response.data.getMyTenants[i].id) {
                 var opt = 'selected="selected"';
                 selectStatus = 1;
   
               } $('#tenantDetails').val() == getCookie('tenantId')
               /*
               else if(response.data.getMyTenants[i].tenantId == '7822da54-c0ba-11e8-85c1-6301a0c839d6')
                   var opt = 'selected="selected"';
                 */
               options += '<option value ="' + response.data.getMyTenants[i].id + '" ' + opt + '>' + response.data.getMyTenants[i].displayName + '</option>';
            // }
           }
           if (options != '') {
             $('#tenantDetails').html(options);
            // $('#tenantIdForClaim').html(options);
            // $('#tenantId').html(options);
             var tenantDetailsVal = $('#tenantDetails').val();
             urlId = tenantDetailsVal ? tenantDetailsVal : 0;
             var tenantURL = '/tenantid/' + urlId + '/';    
               callPaginationAjax(tenantURL);
             return false;
           }
           else{
              options += '<option value ="" > You are not a member of any institution, Please add your Institution </option>';
               $('#tenantDetails').html(options);
               //$('#tenantIdForClaim').html(options);
               //$('#tenantId').html(options);
               $('#myOfferingsLoading').hide();
               return false;
           }
         })
           .catch(error => {
             console.log(error);
           });
       }
       // Collect all tenant of an user ends here    
   
       $("#tenantDetails").on("change", function () {
         setCookie('tenantId', $("#tenantDetails").val());
         location.reload(true);
       });
     function upVoteCount(){
      var post_ids='';
      var updatedData;
      console.log("Test==>",$(".upVote > div "));
      $("#my-offering .upVote > div ").each(function() {            
        post_ids += $(this).attr("data-app")+'|';         
      });
      productIds = post_ids.slice(0,-1);
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "{{ $.Site.Params.GraphQLUrl }}",
        "method": "GET",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "cache-control": "no-cache"
        },
        "data": {
          "query": "query{\n  getPromData(metricName:\"medigy_qual_exp_upvote\",metricQuery:\"{offeringId=~\\\"" + productIds + "\\\"}[1y]\",groupByParam:[\"offeringId\",\"userId\"]){\n    prometheusData\n    status\n  }\n}"
        }
      }
      //console.log("query{\n  getPromData(metricName:\"medigy_qual_exp_upvote\",metricQuery:\"{offeringId=~\\\"" + productIds + "\\\"}[1y]\",groupByParam:[\"offeringId\",\"userId\"]){\n    prometheusData\n    status\n  }\n}");
      $.ajax(settings).done(function (response) {
        if(response.data.getPromData.status == "success")
          {
            var JSONData = JSON.parse(response.data.getPromData.prometheusData);
            var tempArray = [];
            var collArray = [];
            var duplicates = [];    

          var userArray = JSONData.filter(function (el) {
                    return el.userId == getCookie('personid')
                  });

            for(var i = 0; i < JSONData.length; i++) {
                var obj = JSONData[i];   
          collArray.push({id:obj.offeringId,count:1});

                if (!tempArray.includes(obj.offeringId)){
                  tempArray.push(obj.offeringId);
                }
                else{		// case -duplicate found			
            for(var a=0; a<duplicates.length; a++){
              var status = "";
              var updatedcount = 2;
              if (duplicates[a].id == obj.offeringId){  // entry case - count more than 2
              var currentcount = duplicates[a].count;
              var updatedcount = currentcount + 1;
              var status ="exist";
              var index = duplicates.indexOf(duplicates[a].id);
              duplicates.splice(index, 1);					
              break;
              }				  
            }			  
            if(status=="exist"){   
            duplicates.push({id:obj.offeringId,count:updatedcount});
            }else{				// entry case - count 2
            duplicates.push({id:obj.offeringId,count:2});
            }			  
                }      		
            }

        Array.prototype.push.apply(collArray,duplicates);				
        setTimeout( function(){            
          $(".upVote > div ").each(function() {               
            var this_var = $(this);       
            var post_id = $(this).attr("data-app");        
            var upvotecount = "";
            for(var i=0; i<collArray.length; i++){		
              if (collArray[i].id == post_id){			
                upvotecount = collArray[i].count;				
              } 	
            }              
            this_var.find(".b").html(upvotecount); 
                  for(var i=0; i<userArray.length; i++){		
              if (userArray[i].offeringId == post_id){			          
                          $("#upclick"+post_id).css('cursor','default');
                          $(this).attr('disabled' ,"disabled");       				
              } 	
            }                       
          });
          },800);    
        }
    }); 
  }
    function callPaginationAjax(pageUrl) {

      if (getCookie('tenantId') != '') {

        var settings = {
          "async": true,
          "crossDomain": true,
          "url": pageUrl,
          "method": "GET",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          }

        }
        // console.log(settings);

        $.ajax(settings).done(function (response) {  
          $('#myOfferingsLoading').hide();
  
          $('#my-offering').html('');
          if ($('#myOfferingStatus').val() == 0)
            $('#my-offering').html('<main><div id="myOfferingWarning"><div class="modal-header"><button type="button" class="close" id="myOfferingWarningClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><div class="alert-info" id="alert-info"><p>If you recently claimed your offering and is not showing up here means it maybe under evaluation by our reviewers. When the review is completed your offering will show on this page. It may take anywhere between 24 hrs. to 48 hrs. and so please bear with us. Please check back some time later.<br /> <br />And if your offering did not show up even after a long wait, please check your email or contact our team at <b>admin@medigy.com</b> to get it resolved.</p></div></div></main>');
          $('#my-offering').append(response);
          upVoteCount();
        }).fail(function (response) { 
          $('#myOfferingsLoading').hide();

        $('#my-offering').html('<main ><div id="myOfferingWarning"><div class="modal-header"></div><div class="alert-info" id="alert-info"><p class="mt-3">There is no offerings added to this institution</p></div></div></main>');
        });
      }
    }
    // To show corresponding Tenant Id ends here

    $(window).bind("load", function () {

      // To show corresponding Tenant Id strats here
     
      
      var post_ids = '';
      var updatedData;
      $(".upVote > div ").each(function () {
        post_ids += $(this).attr("data-app") + ',';
      });
      post_ids = post_ids.slice(0, -1);

      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "{{ $.Site.Params.GraphQLUrl }}",
        "method": "GET",
        "headers": {
          "Content-Type": "application/x-www-form-urlencoded",
          "cache-control": "no-cache"
        },
        "data": {
          "query": "query{\n  getPrometheusData(inputData:\"" + post_ids + "\",inputType:\"all\"){\n    status\n    data{\n      metric{\n        name\n        job\n        id\n        createdOn\n        updatedOn\n        status\n        source\n        personId\n        type\n        typeName\n      }\n      value\n    }\n  }\n}"

        }
      }

      $.ajax(settings).done(function (response) {
        updatedData = response;

      });

      setTimeout(function () {      

        $(".email-share-push").each(function () {
          var post_id = $(this).attr("data-app");
          //console.log(post_id);
          //$(this).find(".b").html(post_id);
          var this_var = $(this);
          var totalEmail = 0;
          for (key in updatedData.data.getPrometheusData.data) {
            //console.log(post_id);
            if (updatedData.data.getPrometheusData.data[key].metric.id == post_id && updatedData.data.getPrometheusData.data[key].metric.name == 'medigy_total_email_share_count') {
              totalEmail += parseInt(updatedData.data.getPrometheusData.data[key].value[1]);
            }

          }
          // this_var.find(".b").html(totalEmail);

        });
        $(".watchList > div ").each(function () {
          var post_id = $(this).attr("data-app");
          //console.log(post_id);
          //$(this).find(".b").html(post_id);
          var this_var = $(this);
          var totalWatch = 0;
          for (key in updatedData.data.getPrometheusData.data) {
            //console.log(post_id);
            if (updatedData.data.getPrometheusData.data[key].metric.id == post_id && updatedData.data.getPrometheusData.data[key].metric.name == 'medigy_watch_status') {
              totalWatch += parseInt(updatedData.data.getPrometheusData.data[key].value[1]);
            }

          }
          // this_var.find(".b").html(totalWatch);

        });
        $(".fb-share-push").each(function () {
          var post_id = $(this).attr("data-app");
          //console.log(post_id);
          //$(this).find(".b").html(post_id);
          var this_var = $(this);
          var totalFbShare = 0;
          for (key in updatedData.data.getPrometheusData.data) {
            //console.log(post_id);
            if (updatedData.data.getPrometheusData.data[key].metric.id == post_id && updatedData.data.getPrometheusData.data[key].metric.name == 'medigy_total_facebook_share_count') {
              totalFbShare += parseInt(updatedData.data.getPrometheusData.data[key].value[1]);
            }

          }
          // this_var.find(".b").html(totalFbShare);

        });

        $(".twitter-share-push").each(function () {
          var twitterUrl = $(this).attr("data-twitter");
          var this_var = $(this);
          if (twitterUrl != 'Nil') {
            var screenName = twitterUrl.split('twitter.com/');
            var screenName = screenName[1].replace(/\\/gi, '');
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "{{ $.Site.Params.GraphQLUrl }}",
              "method": "POST",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache",
                "Postman-Token": "ca46d151-5bda-4f5b-a138-d765f0c89f8f"
              },
              "data": {
                "query": "query{\n  getTwitterDetails(inputData:\"" + screenName + "\"){\n    id\n    name\n    screenName\n    followersCount\n status\n }\n}"
              }
            }
            $.ajax(settings).done(function (response) {
              if (response.data.getTwitterDetails.status == 'Success')
                this_var.find(".b").html(response.data.getTwitterDetails.followersCount);
            });

          }
        });

      }, 800);

    });
    /// Pagination throug Ajax starts here
    $(document).on("click", ".pagination-older", function (e) {
      e.preventDefault();
      var paginationUrl = $(this).attr('href');
      console.log(paginationUrl);
      callPaginationAjax(paginationUrl);
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
    $(document).on("click", ".pagination-newer", function (e) {
      e.preventDefault();
      var paginationUrl = $(this).attr('href');
      console.log(paginationUrl);
      callPaginationAjax(paginationUrl);
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });


    /// Pagination through Ajax ends here

    $(document).ready(function () {
      /// Closing warning Message strats here
      $(document).on("click", "#myOfferingWarningClose", function (e) {
        $('#myOfferingWarning').hide();
        $('#myOfferingStatus').val(1);

      });

      //// Closing warning message end here


      var personid = getCookie('personid');

      if (personid == null) {
        window.location.href = "/";
      }


      $('#tenantDetails').show();

      /// Push upvote to Prometheus via GrpahQl mutation starts here  
    $('body').on('click', '.upVote > div', function (e) {           
          var timestamp = Date.now();
        if($(this).attr('disabled') == "disabled")
        {
            console.log('exists');return false;
        }
        else
        {
            $(this).attr("disabled","disabled");
            $(this).css('cursor','default');
            var productId = $(this).attr("data-app");
            var source = "Attest-"+productId;
            var currentUpvote = $(this).find(".b").html();
            var personid = getCookie('personid');
            var this_var = $(this);            

            if (getCookie('personid') != null  && getCookie('sessionId')!= null && getCookie('sessionId')!= '' ) {
            var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
            },
            "data": {
                "query": "mutation {\n  addPrometheusData(\n    metricData: [\n    \t{\n        key: \"offeringId\", \n        value: \""+productId+"\"\n      }, \n      {\n        key: \"createdat\", \n        value: \""+timestamp+"\"\n      }, \n      {\n        key: \"source\", \n        value: \""+source+"\"\n      }, \n      {\n        key: \"userId\", \n        value: \""+personid+"\"\n      }\n    ], \n    pushGatewayPort: \"\", \n    prometheusJobName: \"medigy_qual_exp_upvote\", \n    metricName: \"medigy_qual_exp_upvote\") {\n    status\n    message\n    errorCode\n  }\n}"
            }
            }    
            console.log("mutation {\n  addPrometheusData(\n    metricData: [\n    \t{\n        key: \"offeringId\", \n        value: \""+productId+"\"\n      }, \n      {\n        key: \"createdat\", \n        value: \""+timestamp+"\"\n      }, \n      {\n        key: \"source\", \n        value: \""+source+"\"\n      }, \n      {\n        key: \"userId\", \n        value: \""+personid+"\"\n      }\n    ], \n    pushGatewayPort: \"\", \n    prometheusJobName: \"medigy_qual_exp_upvote\", \n    metricName: \"medigy_qual_exp_upvote\") {\n    status\n    message\n    errorCode\n  }\n}");
            $.ajax(settings).done(function (response) {
                if(response.data.addPrometheusData.status == "SUCCESS")
                {
                    if(currentUpvote != '')
                        var updatedCount = parseInt(currentUpvote)+1;           
                    else
                        updatedCount = 1;
                    this_var.find(".b").html(updatedCount);
                }
            });
        }
        else
        {
        if (getCookie('personid') == null)
        $('#loginModalCenter').modal('toggle');
        else
        $('#reLoginModalCenter').modal('toggle');
        }
        }
    });
      /// Push upvote to Prometheus via GrpahQl mutation ends here  



      /// Push email share to Prometheus via GrpahQl mutation starts here  

      $(".email-share-push ").on("click", function () {
        var post_id = $(this).attr("data-app");
        var post_name = $(this).attr("data-name");
        var this_var = $(this);
        var personid = getCookie('personid');
        var currentemailShare = this_var.find(".b").html();
        var updatedemailShare = parseInt(currentemailShare) + 1;

        if (personid != null) {
          var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "cache-control": "no-cache"
            },
            "data": {
              "query": "mutation{\n  updatePromCount(type:\"emailshare\",\n    inputData:\"{\\\"source\\\": \\\"http://medigy.com\\\",\\\"type\\\": \\\"Product\\\",\\\"identifier\\\": \\\"" + post_id + "\\\",\\\"emailShareCount\\\": \\\"1\\\",\\\"personId\\\": \\\"" + personid + "\\\",\\\"name\\\":\\\"" + post_name + "\\\",\\\"status\\\": \\\"1\\\"}\")\n}"

            }
          }

          $.ajax(settings).done(function (response) {
            console.log(response);
            // this_var.find(".b").html(updatedemailShare);
          });
          // this_var.find(".b").html(updatedemailShare);
        }
        else {
          $('#messageModal').html("");
          $('#messageModal').html("Please login to Upvote.");
          $('#loginModalCenter').modal();

        }
      });
      /// Push email share to Prometheus via GrpahQl mutation ends here



      /// Push watch to Prometheus via GrpahQl mutation starts here  

      $(".subscribe").on("click", function () {
        var post_id = $(this).attr("data-app");
        var next = $(this).next();
        var title = next.find("a").html();
        var this_var = $(this);
        var currentWatch = $(this).next().next().next().children().next().next().children().children().next().next().next().children().find('.b').html();
        var updatedWatch = parseInt(currentWatch) + 1;
        var personid = getCookie('personid');

        if (personid != null) {
          this_var.next().next().next().children().next().next().children().children().next().next().next().children().find('.b').html(updatedWatch);
          var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "cache-control": "no-cache"
            },
            "data": {
              "query": "mutation{\n  updatePromCount(type:\"watch\",inputData:\"{\\\"source\\\": \\\"http://medigy.com\\\",\\\"identifier\\\": \\\"" + post_id + "\\\",\\\"type\\\": \\\"Product\\\",\\\"personId\\\": \\\"" + personid + "\\\",\\\"name\\\": \\\"" + title + "\\\",\\\"status\\\": \\\"1\\\"}\")\n}"

            }
          }

          $.ajax(settings).done(function (response) {
            console.log(response);


          });
        }
        else {
          $('#messageModal').html("");
          $('#messageModal').html("Please login to Watch.");
          $('#loginModalCenter').modal();

        }
      });
      /// Push watch to Prometheus via GrpahQl mutation ends here  

      /// Push FacebookShare to Prometheus via GrpahQl mutation starts here  
      var personid = getCookie('personid');

      if (personid != null) {
        $(".fb-share-push").each(function () {
          var safeUrl = $(this).attr("data-safe-url");
          var shareUrl = "https://www.facebook.com/sharer/sharer.php?u={{ $.Site.Params.socialshare }}" + safeUrl;
          $(this).attr('href', shareUrl);
          $(this).addClass('fb-share');
        });
        $(".twitter-share-push").each(function () {
          var safeUrl = $(this).attr("data-safe-url");
          var shareUrl = "https://twitter.com/home?status={{ $.Site.Params.socialshare }}" + safeUrl;
          $(this).attr('href', shareUrl);
          $(this).addClass('fb-share');
        });
        $(".email-share-push").each(function () {
          var safeUrl = $(this).attr("data-safe-url");
          var shareUrl = "mailto:?subject={{ .Title }}&body={{ $.Site.Params.socialshare }}" + safeUrl;
          $(this).attr('href', shareUrl);
          $(this).addClass('fb-share');
        });

      }
      else {

        $(".twitter-share-push").each(function () {
          $(this).attr("data-toggle", 'modal');
          $(this).attr("data-target", '#loginModalCenter');
        });
        $(".email-share-push").each(function () {
          $(this).attr("data-toggle", 'modal');
          $(this).attr("data-target", '#loginModalCenter');
        });
      }
      $('body').on('click', '.fb-share-push', function () {

        var post_id = $(this).attr("data-app");
        var slug = $(this).attr("data-slug");
        var title = $(this).attr("data-name");
        var this_var = $(this);
        var personid = getCookie('personid');
        var currentfbShare = this_var.find(".b").html();
        var updatedfbShare = parseInt(currentfbShare) + 1;
        if (personid != null) {
          var settings = {
            "async": true,
            "crossDomain": true,
            "url": "{{ $.Site.Params.GraphQLUrl }}",
            "method": "POST",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "cache-control": "no-cache"
            },
            "data": {
              "query": 'mutation{\n  updatePromCount(type:"fbshare",inputData:"{\\"source\\": \\"http://medigy.com\\",\\"identifier\\": \\"' + post_id + '\\",\\"type\\": \\"Product\\",\\"personId\\": \\"e0900086-c153-11e8-9983-0d20fc029a28\\",\\"name\\": \\"HealtHIE Nevada\\",\\"status\\": \\"1\\",\\"productSlug\\": \\"healthie-nevada\\"}")\n}'

            }
          }
          console.log('mutation{\n  updatePromCount(type:"fbshare",inputData:"{\\"source\\": \\"http://medigy.com\\",\\"identifier\\": \\"' + post_id + '\\",\\"type\\": \\"Product\\",\\"personId\\": \\"e0900086-c153-11e8-9983-0d20fc029a28\\",\\"name\\": \\"HealtHIE Nevada\\",\\"status\\": \\"1\\",\\"productSlug\\": \\"healthie-nevada\\"}")\n}');
          $.ajax(settings).done(function (response) {
            console.log(response);

            // this_var.find(".b").html(updatedfbShare);
          });
          // this_var.find(".b").html(updatedfbShare);
        }
        else {
          $('#messageModal').html("");
          $('#messageModal').html("Please try to login!");
          $('#loginModalCenter').modal();

        }

      });
      /// Push FacebookShare to Prometheus via GrpahQl mutation ends here 

      //alert(window.location.href)


    });
    $(window).bind("load", function () {
      setTimeout(function () {
        $('.trendValue').hide();
      }, 30);

    });

$('body').on('click', '.fb-share',function(e) {
        e.preventDefault();
        window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
        return false;
});

    $('.card').on("click", function (e) {
      //e.preventDefault();
      document.cookie = 'activeTab=;expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/';
      console.log('activetab Issue');
    });
  </script>
  {{ partialCached "footer.html" . }}
</body>

</html>