<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "my-profile-key"}}
<script>
  var personid = getCookie('personid');
  if (personid == null) {
    setCookie('prevPage','/my-profile');
    window.location.href = '/login';
  }
</script>   
<body class="single-body">
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

{{ partialCached "nav-bar.html" . "my-profile-key"}}
<section class="about-wrapper">
  <main >
    <div class="container">
      {{ partialCached "bread-crumb.html" . "my-profile-key"}}
    </div>
    <div class="search-results-row pt-0">
      <article class="post mt-0 {{ if ne .Params.dropcap false }}dropcase{{ end }}">
          <div class="entry-content entry-content-2 page-content">
            <article class="my-profile-wrapper profile-data" >
              <div class="mp-banner-wrapper" style="background: url(/img/profile-banner.jpg)">
                <div class="container mp-banner-fix">
                <div class="my-profile-card">
                  <div class="row">
                    <div class="col-md-2 col-sm-3">
                      <img src="/img/noimage-200x200.png" alt="image" class="img-responsive my-profile-img" />
                    </div>
                    <div class="col-md-10 col-sm-9">
                      <h2 class="my-profile-title profilename"></h2>
                      <div class="my-profile-text-1  my-profile-grey-txt"> </div>
                      <div class="bio-text"></div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="container">
                <div class="my-profile-card mp-content-1">
                  <div class="row">
                    <div class="mp-ico-edit"><a id="edit-btn"  href="#"><i class="far fa-edit mp-ico-style"></i></a>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Email address:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileemail"> </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">User Name:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileUsername"> </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Mobile: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold mobile"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Organisation:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileOrganisation"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Skype: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileSkype"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Linkedin:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileLinkedin"> </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Twitter:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileTwitter"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Website: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileWebsite"></div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Location:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold profileLocation"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </article>
            <!-- form template starts -->
            <form name="profileform" id="profileform" action="#">  
            <article class="my-profile-wrapper" >
            <div class="container form-wrapper my-profile-wrapper" style="display:none">
              <div class="my-profile-card mp-content-1">
                <div id="profileMessage" class="alert alert-success" style="display: none;"></div>
                <div class="row">
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt  mt-2 mb-1">Name:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input class="form-control feedback " name="profilename" id = "profilename-form" type="text" required>
                      </div>
                    </div>
                  </div>                 
                  <div class="col-md-6 mp-card-body">
                    <div class="row">                
                      <div class="col-lg-3 col-md-12 pr-0 my-profile-grey-txt pt-2 pb-1">Profile Image:</div>            
                      <div class="col-lg-9 col-md-12 my-profile-grey-txt-bold">                   
                        <div class="row">                
                          <div class="col-md-2 col-sm-2 col-4 pr-0">
                          <img src="/img/noimage-200x200.png" alt="image" class="img-responsive my-profile-img">
                          </div>                 
                          <div class="col-md-10 col-sm-9 pt-lg-2 pt-md-2 pt-sm-2 pt-2">    
                          <a href="https://en.gravatar.com/" target="_blank">You can change your avatar at gravatar.com </a>
                          </div>                        
                        </div>                   
                      </div>                
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt  mt-2 mb-1">User Name:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input class="form-control feedback " name="profileUsername" id = "profileusername-form"  type="text" required>
                      </div>
                    </div>
                  </div> 
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt  mt-2 mb-1">Bio:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <textarea class="form-control feedback " maxlength = "250" name="profileBio" id = "profileBio-form" ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt mt-2 mb-1">Email address:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold"> 
                        <input readonly class="form-control feedback " name="profileemail" id = "profileemail-form" type="email" required>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt mt-2 mb-1">Mobile: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input class="form-control feedback " type = "text" name = "mobile" id = "mobile-form" required/>
                      </div>
                    </div>
                  </div>      
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Organisation:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input  class="form-control feedback " name="profileOrganisation" id = "profileOrganisation-form" type="text" >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Skype: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input  class="form-control feedback " name="profileSkype" id = "profileSkype-form" type="text" >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Linkedin:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold"> 
                        <input  class="form-control feedback " name="profileLinkedin" id = "profileLinkedin-form" type="text" >
                        <span class="errorCustomMessage validLinkLinkedin">Please enter a valid url</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Twitter:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">                  
                          <input class="form-control feedback " type = "text" name = "twitter" id = "twitter-form" />
                          <span class="errorCustomMessage validLinkTwitter">Please enter a valid url</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Website: </div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">                      
                        <input class="form-control feedback " type = "text" name = "website" id = "website-form" />
                        <span class="errorCustomMessage validLinkWeb">Please enter a valid url</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mp-card-body">
                    <div class="row">    
                      <div class="col-lg-3 col-md-4 pr-0 my-profile-grey-txt">Location:</div>
                      <div class="col-lg-9 col-md-8 my-profile-grey-txt-bold">
                        <input class="form-control feedback " type = "text" name = "location" id = "location-form" />
                      </div>
                    </div>
                  </div>           
                 <div class="col-md-12 my-profile-grey-txt text-center mb-3">
                  <input class="" type = "checkbox" checked="checked" name = "termsAndConditions" id = "termsAndConditions"  required/> I have read and understand the terms & conditions          
                  </div>
                <input type="hidden" name="statusField" id="statusField" />
                <hr>
                <div class="col-md-12 mb-0 text-center">
                  <input  value = "Update" type="submit" class="btn btn-primary add-new-bt" name="profileSubmit" id="profileSubmit">
                  <button value = "Cancel"  class="btn btn-primary add-new-bt grey-bg-bt" name="cancel" id="cancel">Cancel</button>
                </div>
              </div>
            </div>
            </div>
            </div>
              </article>
            </form>
            <!--  form  template ends -->
        </div>
      </article>
    </div>
  </main>
</section>
{{ partialCached "footer.html" . }}
</body>
</html>

<script>
  $(document).ready(function(){
    $("#edit-btn").click(function (e) {
      $('.form-wrapper').show();
      $('.profile-data').hide();
      $('#mobile-form').focus();
    });
    /* Gravtar image section starts */
    var profileImage = getCookie('profileImage');
    if (profileImage == 'null' || profileImage == 'undefined') {
      var email = getCookie('userEmail');
      if(email != null){
        if (email.length > 0) {
          var md5 = $.md5(email);
          var gravatar = 'https://gravatar.com/avatar/' + md5 + '?&d=404';
          $.ajax({
            url: gravatar,
            type: "HEAD",
            crossDomain: true,
            error: function () {
              $(".my-profile-img").attr("src", "/img/noimage-200x200.png");
            },
            success: function () {
              $(".my-profile-img").attr("src", gravatar);
            }
          });
        }
      }
    }
    else {
      $('.my-profile-img').attr('src', profileImage);
    }
    /* Gravtar image section ends */
    var currentDate = new Date(),
    maxDate = currentDate.toISOString().substring(0,10);
    $('.dob').prop('max', maxDate);
    $('#dob-form').prop('max', maxDate);
    $("#mobile-form").keypress(function (e) {
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}                              
          {{ range .items }}
            {{ if eq .questionCode "MyProfile_messages"}}
              {{ range .answers }}  
                {{ if eq .code "invalid_mobile_field_in_my_profile_message"}}
                    var invalid_mobile_field_in_my_profile_message = {{ .text }}
                {{ end }}                                          
                {{ end }}  
              {{ end }}
          {{ end }}
        {{ end }} 
        $("#errmsg").html(invalid_mobile_field_in_my_profile_message).show();
          return false;
      }
      else{
        $("#errmsg").hide();
      }
    });
    var personid = getCookie('personid');
    if (personid == null) {
      window.location.href = "/";
    }
  
    var sessionId = getCookie('sessionId');
    console.log("query{\n  getUserProfile(authorization:{\n    sessionID:\""+sessionId+"\"\n }){\n    name\n    email\n    contactPhone\n    bio\n    skype\n    linkedIn\n    location\n    website_url\n  twitter\n organization\n  userName\n }\n}");
    var serviceData = { "url": "{{ $.Site.Params.GraphQLUrl }}", "method": "GET", "query": "query{\n  getUserProfile(authorization:{\n    sessionID:\""+sessionId+"\"\n }){\n    name\n    email\n    contactPhone\n    bio\n    skype\n    linkedIn\n    location\n    website_url\n  twitter\n organization\n  userName\n }\n}" };
    ajaxPageServiceCall.serviceCall(serviceData).then(response => {
      if(response.data.getUserProfile.name != null){
        $('#profilename-form').val(response.data.getUserProfile.name);
        $('.profilename').text(response.data.getUserProfile.name);
      }
      else{
        $('#profilename-form').val(getCookie('firstname'));
        $('.profilename').text(getCookie('firstname'));
      }
      if(response.data.getUserProfile.email != null){
        $('#profileemail-form').val(response.data.getUserProfile.email);
        $('.profileemail').text(response.data.getUserProfile.email);
        $('#statusField').val('update');
      }
      else {
        $('#profileemail-form').val(getCookie('userEmail'));
        $('.profileemail').text(getCookie('userEmail'));
        $('#statusField').val('add');
      }  
      if(response.data.getUserProfile.contactPhone != null) {
        $('#mobile-form').val(response.data.getUserProfile.contactPhone);  
        $('.mobile').text(response.data.getUserProfile.contactPhone);          
      }
      if(response.data.getUserProfile.contactPhone != null) {
        $('#mobile-form').val(response.data.getUserProfile.contactPhone);  
        $('.mobile').text(response.data.getUserProfile.contactPhone);          
      }
      if(response.data.getUserProfile.bio != null) {
        $('#profileBio-form').val(response.data.getUserProfile.bio);  
        $('.bio-text').text(response.data.getUserProfile.bio);          
      }
      if(response.data.getUserProfile.linkedIn != null) {
        $('#profileLinkedin-form').val(response.data.getUserProfile.linkedIn);  
        $('.profileLinkedin').html('<a target="_blank" href="'+response.data.getUserProfile.linkedIn+'">'+response.data.getUserProfile.linkedIn+'</a>');            
      }
      if(response.data.getUserProfile.twitter != null) {
        $('#twitter-form').val(response.data.getUserProfile.twitter);  
        $('.profileTwitter').html('<a target="_blank" href="'+response.data.getUserProfile.twitter+'">'+response.data.getUserProfile.twitter+'</a>');       
      }
      if(response.data.getUserProfile.skype != null) {
        $('#profileSkype-form').val(response.data.getUserProfile.skype);  
        $('.profileSkype').text(response.data.getUserProfile.skype);          
      }
      if(response.data.getUserProfile.location != null) {
        $('#location-form').val(response.data.getUserProfile.location);  
        $('.profileLocation').text(response.data.getUserProfile.location);          
      }
      if(response.data.getUserProfile.website_url != null) {
        $('#website-form').val(response.data.getUserProfile.website_url);  
        $('.profileWebsite').html('<a target="_blank" href="'+response.data.getUserProfile.website_url+'">'+response.data.getUserProfile.website_url+'</a>');              
      }
      if(response.data.getUserProfile.organization != null) {
        $('#profileOrganisation-form').val(response.data.getUserProfile.organization);  
        $('.profileOrganisation').text(response.data.getUserProfile.organization);          
      }    
      if(response.data.getUserProfile.userName != null) {
        $('#profileusername-form').val(response.data.getUserProfile.userName);  
        $('.profileUsername').text(response.data.getUserProfile.userName);          
      }  
    })
    .catch(error => {
        console.log(error);
    });
    var personid = getCookie('personid');
    if (personid == null) {
      window.location.href = "/";
    }
    $("#cancel").on("click", function(e){
      e.preventDefault();
      $('.form-wrapper').hide();
      $('.profile-data').show();
    });
    $("#profileform").on("submit", function(e){     
      e.preventDefault();  
      var enableEdit =1;
      if (!is_url($('#website-form').val()) && $('#website-form').val()!='') {
        $('.validLinkWeb').show();
        enableEdit = 0;
        $('#validLinkWeb').addClass('utf-valid-red');   
      }
      if (!is_url($('#twitter-form').val()) && $('#twitter-form').val()!='') {
        $('.validLinkTwitter').show();
        enableEdit = 0;
        $('#validLinkTwitter').addClass('utf-valid-red');   
      }
      if (!is_url($('#profileLinkedin-form').val()) && $('#profileLinkedin-form').val()!='') {
        $('.validLinkLinkedin').show();
        enableEdit = 0;
        $('#validLinkLinkedin').addClass('utf-valid-red');   
      }

      if (enableEdit ==1){
      {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}                              
        {{ range .items }}
          {{ if eq .questionCode "MyProfile_messages"}}
            {{ range .answers }}  
              {{ if eq .code "processing_in_my_profile_message"}}
                  var processing_in_my_profile_message = {{ .text }}
              {{ end }} 
              {{ if eq .code "updated_successfully_in_my_profile_message"}}
                  var updated_successfully_in_my_profile_message = {{ .text }}
              {{ end }}                                         
              {{ end }}  
            {{ end }}
        {{ end }}
      {{ end }}
  
      $('#profileMessage').html("");
      $('#profileMessage').html(processing_in_my_profile_message);
      $('#profileMessage').removeClass('alert-danger');
      $('#profileMessage').removeClass('alert-success');
      $('#profileMessage').addClass('alert-primary');
      $('#profilename').focus();
      var sessionId = getCookie('sessionId');
      var name = $('#profilename-form').val();
      var userName = $('#profileusername-form').val();
      var termsAndCondition = $('#termsAndConditions').prop('checked');
      var mobile = $('#mobile-form').val();
      var bio =  $('#profileBio-form').val();
      var skype =  $('#profileSkype-form').val();
      var linkedIn =  $('#profileLinkedin-form').val();
      var website_url =  $('#website-form').val();
      var twitter =  $('#twitter-form').val();
      var organization =  $('#profileOrganisation-form').val();
      var location =  $('#location-form').val();
      var status = $('#statusField').val();
      if(status == 'update')
        var email = $('#profileemail-form').val();
      else
        var email = getCookie('userEmail');
      console.log( "mutation{\n  saveIndividualProfile(authorization:{\n    sessionID:\""+sessionId+"\"\n  },\n profile:{\n    name:\""+name+"\"\n    email:\""+email+"\"\n     contactMobilePhone:\""+mobile+"\"\n bio:\""+bio+"\"\n  skype:\""+skype+"\"\n  linkedIn:\""+linkedIn+"\"\n  website_url:\""+website_url+"\"\n  twitter:\""+twitter+"\"\n  organization:\""+organization+"\"\n  location:\""+location+"\"\n       status:\""+status+"\"\n  userName:\""+userName+"\"\n  }){\n    status\n    message\n  }\n}");
      if(sessionId !="" && sessionId != null){
        $('#profileMessage').show();
        var serviceData = { "url": "{{ $.Site.Params.GraphQLUrl }}", "method": "POST", "query":  "mutation{\n  saveIndividualProfile(authorization:{\n    sessionID:\""+sessionId+"\"\n  },\n  profile:{\n    name:\""+name+"\"\n    email:\""+email+"\"\n     contactMobilePhone:\""+mobile+"\"\n bio:\""+bio+"\"\n  skype:\""+skype+"\"\n  linkedIn:\""+linkedIn+"\"\n  website_url:\""+website_url+"\"\n  twitter:\""+twitter+"\"\n  organization:\""+organization+"\"\n  location:\""+location+"\"\n     status:\""+status+"\"\n  userName:\""+userName+"\"\n  }){\n    status\n    message\n  }\n}" };
        ajaxPageServiceCall.serviceCall(serviceData).then(response => {
          if(response.data.saveIndividualProfile.status == "SUCCESS"){
            $('#profileMessage').html(updated_successfully_in_my_profile_message);
            $('#profileMessage').removeClass('alert-danger');
            $('#profileMessage').removeClass('alert-primary');
            $('#profileMessage').addClass('alert-success');
            $('#profileMessage').show();
            $('#profilename').focus();
            $('#profileemail-form').val(getCookie('userEmail'));
            $('#profilename-form').val(getCookie('firstname'));
          }
          else if(response.data.saveIndividualProfile.status == "ERROR" && response.data.saveIndividualProfile.message == "Could not authenticate the session. Please try again."){
            $('#profileMessage').html("Unfortunately your session has expired and the user profile could not be updated. We require you to log in again and update the profile.");
              delete_cookie('firstname');
              delete_cookie('personid');  
              $('#userlogout').hide();
              $('#userlogin').show();
              $("#sessionname").html('');
              $("#sessionname").hide();
              $( ".addoffer-col" ).removeClass( "loggedinoffer" );
              callLogin();
          }
          else{
            $('#profileMessage').html(response.data.saveIndividualProfile.message);
            $('#profileMessage').removeClass('alert-success');
            $('#profileMessage').removeClass('alert-primary');
            $('#profileMessage').addClass('alert-danger');
            $('#profileMessage').show();   
            $('#profilename').focus();
          }
        })
        .catch(error => {
            console.log(error);
        });
      }
      else{
          $('#reLoginModalCenter').modal('toggle');
      }
    }
    else{
   }
  });
  
  $('#website-form').on('focusout', function (e) {
    if (!is_url($('#website-form').val()) && $('#website-form').val()!='') {
      $('.validLinkWeb').show();
      enableEdit = 0;
    }
    else{
      $('.validLinkWeb').hide();
    }
  });
  $('#twitter-form').on('focusout', function (e) {
    if (!is_url($('#twitter-form').val()) && $('#twitter-form').val()!='') {
      $('.validLinkTwitter').show();
      enableEdit = 0;
    }
    else{
      $('.validLinkTwitter').hide();
    }
  });
  $('#profileLinkedin-form').on('focusout', function (e) {
    if (!is_url($('#profileLinkedin-form').val()) && $('#profileLinkedin-form').val()!='') {
      $('.validLinkLinkedin').show();
      enableEdit = 0;
    }
    else{
      $('.validLinkLinkedin').hide();
    }    
  });
  });
  </script>  
  <script>
    function callLogin(){
        $('#reLoginModalCenter').modal('toggle');
        $('#userEmail').val(getCookie('userEmail'));
    }    
      
    function is_url(str) {
      regexp = /^(?:(?:https?):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
      if (regexp.test(str)) {
        return true;
      }
      else
        return false;
    }
  </script>  