<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "reset-password-key"}}

<script>
  $(document).ready(function(){
    $('#resetPassword').on('submit', function (e) {
      if (e.isDefaultPrevented()) {
          alert('form is not valid');
      } 
      else {
        e.preventDefault();
          {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}                              
            {{ range .items }}
              {{ if eq .questionCode "ForgotPassword_message"}}
                {{ range .answers }}  
                  {{ if eq .code "processing_wait_message"}}
                      var displayProcessingMessage = {{ .text }}
                  {{ end }} 
                  {{ if eq .code "link_sent_to_email_address"}}
                      var displayLinkSentMessage = {{ .text }}
                  {{ end }}                                         
                  {{ end }}  
                {{ end }}
            {{ end }}
          {{ end }}  
          $('#passwordMessage').html("");
          $('#passwordMessage').removeClass('alert-success');
          $('#passwordMessage').removeClass('alert-danger');
          $('#passwordMessage').addClass('alert-primary');      
          $('#passwordMessage').html(displayProcessingMessage);
          $('#passwordMessage').show();
          var email = $('#userEmailReset').val();
          var domain = "{{ $.Site.Params.siteUrl }}"
          var settings = {
              "async": true,
              "crossDomain": true,
              "url": "{{ $.Site.Params.GraphQLUrl }}",
              "method": "POST",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
              },
              "data": {   
                "query": "mutation{\n  forgotPassword(userName:\""+email+"\"\n domain:\""+domain+"\")\n}"
              }
            }
            $.ajax(settings).done(function (response) {
              $("#resetPassword")[0].reset();
              if(response.data.forgotPassword == "Success"){
                  $('#passwordMessage').html("");
                  $('#passwordMessage').html(displayLinkSentMessage);
                  $('#passwordMessage').removeClass('alert-danger');
                  $('#passwordMessage').removeClass('alert-primary');                  
                  $('#passwordMessage').addClass('alert-success');   
                  gtmResetRequest("Success",email);
              }
              else{
                  $('#passwordMessage').html("");
                  $('#passwordMessage').html("This email id is not registered with us. Please check the email id you provided.");
                  $('#passwordMessage').removeClass('alert-success');
                  $('#passwordMessage').removeClass('alert-primary');                   
                  $('#passwordMessage').addClass('alert-danger');   
                  gtmResetRequest("Not a registered email",email);                 
              }
              $('#passwordMessage').show();
            });
      }
    });
  }); 
</script>
<body class="single-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ partialCached "nav-bar.html" . "reset-password-key"}}
<script>
  $(document).ready(function(){
    var personid = getCookie('personid');
    if (personid != null) {
    window.location.href = "/";
    }  
  });
  function gtmResetRequest(status,userName){
    console.log(status+"-"+userName)
    window.dataLayer.push({
    'gtmUserName':userName,
    'gtmResetPasswordRequestStatus':status,
    'event': 'resetPasswordRequest'
    });
  }
</script>
  
<section class="container">
  <main>
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 content side-text-padding container single-blog-card">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }} min-height-auto">
        <div id="passwordMessage" class="alert alert-success" style="display: none;"></div>
        <header class="post-header">
          <h1 class="post-title">Reset Password</h1>
        </header>
        <h3 id="tokenMessage"></h3>
        <div class="entry-content entry-content-2 page-content">
          <div class="row">
            <div class="col-sm-12">
              <article class="add-new-product-row">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="profile" role="tabpanel">
                    <form name="resetPassword" id="resetPassword" action="#" >
                        <div class="text-left">
                            <span >Please enter your registered email address to reset your password</span>
                        </div>
                        <section class="add-new-product-col min-height-sec-2" >
                          <aside class="margin-top-aside" >
                            <div class="form-group row col-md-12">
                              <label class="col-md-5"><span class="replace-it">Email <span style="color:#F00;">*</span></label>
                              <div class="col-md-7">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="userEmailReset" id="userEmailReset"
                                  required>
                              </div>
                            </div>
                          </aside>
                        </section>
                        <div class="text-right">
                          <button type="submit" class="btn btn-primary add-new-bt full-width" name="passwordButton" id="passwordButton">
                          Submit </button>
                        </div>
                      </form>
                    </div>
                  </div>  
                </article>
              </div>
            </div>
          </div>
      </article>
    </div>
    <div class="col-lg-3 col-md-2"></div>
  </main>
</section>
{{ partialCached "footer.html" . }}
</body>
</html>