<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partialCached "head.html" . "search-institution-key"}}
<body class="single-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ partialCached "nav-bar.html" . "search-institution-key"}}
<script>
  var personid = getCookie('personid');
  if (personid == null) {
  window.location.href = "/";
  }
  $(document).ready(function(){
    //$('#tenantDetails').show();
    $('#tenantSearchKey').on('keyup',function(){
    if($('#tenantSearchKey').val().length >= 3)
    {
      $('#tenantSuggestList').html('Please wait.');
      $('#tenantSuggestList').show();
      var sessionId = getCookie('sessionId');
      var searchKey = $('#tenantSearchKey').val();
      console.log("query{\n  getAllTenants(authorization:{\n    sessionID:\""+sessionId+"\"\n  }keyword:\""+searchKey+"\"){\n    id\n    institutionSupportId\n    name\n  }\n}");
          var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
            "query": "query{\n  getAllTenants(authorization:{\n    sessionID:\""+sessionId+"\"\n  }keyword:\""+searchKey+"\"){\n    id\n    institutionSupportId\n    name\n  }\n}"
          }
        }      
        $.ajax(settings).done(function (response) {
          $('#tenantSuggestList').html('');
          listStatus = 0;
          var listDet = '';
           for(var i=0; i<response.data.getAllTenants.length;i++ ) 
           {
              if(response.data.getAllTenants[i].name != null  )
              {
                listDet += '<div class="suggestionList" data-id="'+response.data.getAllTenants[i].institutionSupportId +'"id="'+response.data.getAllTenants[i].institutionSupportId+'">'+response.data.getAllTenants[i].name+'</div></a>';
                listStatus = 1;
              }
           }
           if(listStatus)
           {
              $('#tenantSuggestList').html(listDet);
              $('#tenantSuggestList').show();
           }
           else
           {
            $('#tenantSuggestList').html("No result available.");
            setTimeout( function(){$('#tenantSuggestList').html('');$('#tenantSuggestList').hide(); },3000);
           }
        });
      }
    });     
    $(document).on("click","#tenantSuggestList .suggestionList",function() {
      $('#instituteSearchResult').html('');
      // var tenantId = $(this).attr('data-id');
      // var selctOption = "#tenantDetails option[value='"+tenantId+"']";
      // if($(selctOption).length > 0)
      //   var assignButtonProp = 'style="display:none;"';
      // else
        var assignButtonProp = '';
      var title = $(this).html()
      $('#tenantSearchKey').val(title);
      var sessionId = getCookie('sessionId');
      var companyId = $(this).attr('id'); 
      console.log("query{\n  getAllInstitutions(authorization:{\n    sessionID:\""+sessionId+"\"\n  },tenantId: "+companyId+"\n ){\n    id\n    institutionSupportId\n    name\n    email\n    contactPhone\n    ownerType\n    ownerJobTitle\n    companyLogo\n    companyName\n    incorporationDate\n    companySize\n    companyType\n    registrationNumber\n    industry\n    currency\n    netWorth\n    website\n    workEmail\n    workPhone\n    addressHouseBuilding\n    addressTownCity\n    addressStateProvince\n  addressZipPostalCode\n    addressCountryRegion\n    githubDetails{\n    githubUsername\n    githubPassword\n    githubClientId\n    githubClientSecret\n    githubOwner\n    githubRepo\n}\n}\n}");
      var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
          "query": "query{\n  getAllInstitutions(authorization:{\n    sessionID:\""+sessionId+"\"\n  },tenantId: "+companyId+"\n ){\n    id\n    institutionSupportId\n    name\n    email\n    contactPhone\n    ownerType\n    ownerJobTitle\n    companyLogo\n    companyName\n    incorporationDate\n    companySize\n    companyType\n    registrationNumber\n    industry\n    currency\n    netWorth\n    website\n    workEmail\n    workPhone\n    addressHouseBuilding\n    addressTownCity\n    addressStateProvince\n  addressZipPostalCode\n    addressCountryRegion\n    githubDetails{\n    githubUsername\n    githubPassword\n    githubClientId\n    githubClientSecret\n    githubOwner\n    githubRepo\n}\n}\n}"
          }
        }
        var searchResult ='';
        $.ajax(settings).done(function (response) {
          var tenantId = response.data.getAllInstitutions[0].id;
          $('#tenantSuggestList').html('');
          $('#tenantSuggestList').hide();
             searchResult += '<div class="row">';
             searchResult += '<div class="col-md-9">';
              searchResult += '<h4>'+response.data.getAllInstitutions[0].name+'</h4>';
              searchResult += '<div class="row">';
                searchResult += '<div class="col-md-6">';
                  searchResult += '<aside class="institute-results-col-1">';
                    //searchResult += '<p><span class="col-grey-1 inst-ttl-1">Headquarters</span> <span><b>Mountain View, CA</b></span></p>';
                    searchResult += '<p><span class="col-grey-1 inst-ttl-1">Company Size</span> <span><b>'+response.data.getAllInstitutions[0].companySize+' employees</b></span></p>';
                    searchResult += '</aside>';
                    searchResult += '<aside>';
                    var address = '';
                    if(response.data.getAllInstitutions[0].addressHouseBuilding != null)
                      address += response.data.getAllInstitutions[0].addressHouseBuilding+', ';
                    if(response.data.getAllInstitutions[0].addressTownCity != null)
                      address += response.data.getAllInstitutions[0].addressTownCity+', '; 
                    if(response.data.getAllInstitutions[0].addressStateProvince != null)
                      address += response.data.getAllInstitutions[0].addressStateProvince+', '; 
                    if(response.data.getAllInstitutions[0].addressZipPostalCode != null)
                      address += response.data.getAllInstitutions[0].addressZipPostalCode+', ';  
                    if(response.data.getAllInstitutions[0].addressCountryRegion != null)
                      address += response.data.getAllInstitutions[0].addressCountryRegion;                                                                 
                      searchResult+= '<b>'+address+'</b>';
                   searchResult += '</aside>';

             searchResult += '</div>';
             searchResult += '<div class="col-md-2">';
             if(response.data.getAllInstitutions[0].industry != null)
              searchResult += '<p><span class="col-grey-1 inst-ttl-2">Industry:</span> <span>'+response.data.getAllInstitutions[0].industry+'</span></p>';
              if(response.data.getAllInstitutions[0].incorporationDate != null)
              {
                var year = response.data.getAllInstitutions[0].incorporationDate.split('T');
                var splitedDate = year[0].split('-');
                searchResult += '<p><span class="col-grey-1 inst-ttl-2">Founded:</span> <span>'+splitedDate[0]+'</span></p>';
              }
              else
              searchResult += '<p><span class="col-grey-1 inst-ttl-2">Founded:</span> <span>Nil</span></p>';
              searchResult += '</div>';
              searchResult += '<div class="col-md-4">';
              if(response.data.getAllInstitutions[0].companyType != null)
                  searchResult += '<p><span class="col-grey-1 inst-ttl-2">Type:</span> <span>'+response.data.getAllInstitutions[0].companyType +'</span></p>';
              if(response.data.getAllInstitutions[0].website != null)
                searchResult += '<p><span class="col-grey-1 inst-ttl-2">Website:</span> <span><a href="'+response.data.getAllInstitutions[0].website+'" target="blank">'+response.data.getAllInstitutions[0].website+'</a></span></p>';
              searchResult += '</div>';      
              searchResult += '</div>';  
              searchResult += '</div>';
              searchResult += '<div class="col-md-3">';
              searchResult += '<a href="#." class="d-block"><button  data-app="'+tenantId+'" data-name="'+response.data.getAllInstitutions[0].name+'"  class="inst-bt-1 post-bt assignInstitute" '+assignButtonProp+'>Join</button></a>';
              searchResult += '<a href="#." class="d-block"><button class="inst-bt-2"><img src="/img/not-verified-ico.png"> Not Verified</button></a>';
              searchResult += '</div>';
              searchResult += '</div></div>';
              $('#instituteSearchResult').html(searchResult);
              $('#instituteSearchResult').show();
        });
    });
  $(document).on("click",".assignInstitute",function() {
    if (confirm('Are you sure you wish to join into this institution?')) 
    {  
      var tenantId = $(this).attr('data-app');
      var tenantName = $(this).attr('data-name');
      var sessionId = getCookie('sessionId');
      console.log("mutation{\n  joinInstitution(institutionDetails:{\n    institutionId:\""+tenantId+"\"\n  institutionName:\""+tenantName+"\"\n}\n authorization:{\n    sessionID:\""+sessionId+"\"\n  }\n  ){\n    status\n    message\n  errorCode\n }\n}");   
      var settings = {
          "async": true,
          "crossDomain": true,
          "url": "{{ $.Site.Params.GraphQLUrl }}",
          "method": "POST",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded",
            "cache-control": "no-cache"
          },
          "data": {
            "query": "mutation{\n  joinInstitution(institutionDetails:{\n    institutionId:\""+tenantId+"\"\n  institutionName:\""+tenantName+"\"\n}\n authorization:{\n    sessionID:\""+sessionId+"\"\n  }\n  ){\n    status\n    message\n  errorCode\n }\n}"
          }
        }
        var searchResult ='';
        $.ajax(settings).done(function (response) {
          //console.log(response);
          if(response.data.joinInstitution.status == 'ERROR')
          {
            $('#assignMessage').removeClass('alert-success');
            $('#assignMessage').removeClass('alert-primary');
            $('#assignMessage').html(response.data.joinInstitution.message);
            $('#assignMessage').addClass('alert-danger');  
            $('#assignMessage').show();  
          }
          else
          {
            $('#assignMessage').removeClass('alert-danger');
            $('#assignMessage').removeClass('alert-primary');
            $('#assignMessage').html(response.data.joinInstitution.message);
            $('#assignMessage').addClass('alert-success');  
            $('#assignMessage').show();              
          }
        });
      }
      else{
        return false;     
      }        
    });
  });
</script>
  <section class="about-wrapper">
  <main class="container">
      <div class="col-lg-12 content side-text-padding container single-blog-card">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }} min-height-auto">
        <header class="post-header">
          <h1 class="post-title">Institutional Profile</h1>
        </header>
        <h3 id="tokenMessage"></h3>
        <div class="entry-content entry-content-2 page-content">
          <div class="row">
            <div class="col-sm-12">
              <article class="add-new-product-row">
                <div class="tab-content searchinstitute" id="myTabContent">
                  <!-- Profile tab starts ::::::::::::::::::::::::::::::::::: -->
                  <div class="tab-pane fade show active" id="profile" role="tabpanel">
                    <form  name="searchform" id="searchform" action="#" >
                      <div class="text-left">
                          <h3>Your company is probably already on Medigy</h3>
                      </div>
                      <section class="add-new-product-col min-height-sec-2" >
                        <aside class="margin-top-aside" >
                          <div class="form-group row col-md-12">
                            <label class="col-md-3"> Search for it now. </label>
                            <div class="col-md-9">
                              <input type="text" autocomplete="off" class="form-control" placeholder="Institution Name" name="tenantSearchKey" id="tenantSearchKey"
                                required>
                                <div id="tenantSuggestList" style="display: none;">
                                </div>                              
                                <div class="tooltip-new-1">
                                  <span
                                    data-toggle="tooltip" title="Start typing in first three characters of your institution name to bring up an auto-suggest list of matching institutions.">
                                    <i class="fas fa-question-circle"></i> 
                                </span>
                                <span>Start typing in first three characters of your institution name to bring up an auto-suggest list of matching institutions.</span>
                                </div>
                                <!-- <button type="submit" class="btn btn-primary add-new-bt mt-3" name="passwordButton" id="passwordButton">Search </button>-->
                                <p class = "institute"> Didn't find your Institution? <span><a style = "color:#00c3f3!important;" href = "/institutional-profile/" > Add your Institution </a></span>  </p>                            
                                <div>
                                </div>                    
                            </div>
                          </div>                  
                        </aside>
                     </section>
                    <div class="text-right"></div>
                  </form>
                </div>
                <!-- profile tab ends ::::::::::::::::::::::::::::::::::: -->
            </div>
            <!-- search results -->
            <div id="assignMessage" class="alert alert-success" style="display: none;"></div>  
            <div class="institute-results-row bg-grey-1" id="instituteSearchResult"  ></div>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
</main>
</section>
{{ partialCached "footer.html" . }}
</body>
</html>
