<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  <body class="single-body">

<!-- Google Tag Manager (noscript) -->
<div id="g-tag-body">
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
</div>
    <!-- End Google Tag Manager (noscript) -->
      
    {{ partial "nav-bar.html" . }}
<section class="about-wrapper">
 <div class="container">
  <main class="">
    <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
        <header class="post-header">
         {{ partial "bread-crumb.html" . }}
        	<h1 class="post-title">Sitemap</h1>         
        </header>
        {{ if ne .Params.featuredimage "Nil" }}
          <!--  <div class=""><a href="https://thehcbiz.com/decision-support-for-selecting-digital-health-tools/" target="blank"><img src="/img/Medigy-Decision-Support-for-Selecting-Digital-Health-Tools-Podcast.png" class="img-responsive mb-2" /></a></div>-->
        {{ end }}
     <div class="entry-content entry-content-2 page-content">            
     <div class="row">
     <div class="col-sm-12">
      {{ if eq $.Site.Params.modules.profiles.offerings.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.profiles.offerings.htmlSiteMap.includeItemsCount }}   
        <h3>Offerings</h3>
        <ul class="section-one-and-two-pages">
          {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Section" "==" "offering") }}      
              <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>        
        {{ end }}
        </ul>
      {{ end }}

      {{ if eq $.Site.Params.modules.news.openProject.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.news.openProject.htmlSiteMap.includeItemsCount }}
        <h3>News</h3> 
        <ul class="section-one-and-two-pages">
          {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Section" "==" "news") }}      
              <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>        
          {{ end }}
        </ul>
      {{ end }}

    {{ if eq $.Site.Params.modules.events.prime.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.events.prime.htmlSiteMap.includeItemsCount }}   
      <h3>Events - Upcoming</h3>
      <ul class="section-one-and-two-pages">
        {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Section" "in" (slice "upcoming")) }}
                <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>      
        {{ end }}
      </ul>  
      <h3>Events - Past </h3>
      <ul class="section-one-and-two-pages">
        {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Section" "in" (slice "past")) }}
                <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>      
        {{ end }}
      </ul>  
    {{ end }}

    {{ if eq $.Site.Params.modules.communities.communitiesOfPractice.chronic_care_management.htmlSiteMap.includeInMap true }} 
    {{ $dataLimit := $.Site.Params.modules.communities.communitiesOfPractice.chronic_care_management.htmlSiteMap.includeItemsCount }}   
    <h3>Community - Chronic Care Management</h3>
    <ul class="section-one-and-two-pages">
      {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Params.type" "==" "communities/medigy-chronic-care-management-ccm") }}
          <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>  
      {{ end }}
    </ul>
    {{ end }}  

    {{ if eq $.Site.Params.modules.communities.communitiesOfPractice.femtech.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.communities.communitiesOfPractice.femtech.htmlSiteMap.includeItemsCount }}
        <h3>Community - Femtech</h3>
        <ul class="section-one-and-two-pages">
          {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Params.type" "==" "communities/medigy-femtech") }}
              <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>        
          {{ end }}
        </ul>
    {{ end }}

    {{ if eq $.Site.Params.modules.communities.communitiesOfPractice.covid_19_pandemic.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.communities.communitiesOfPractice.covid_19_pandemic.htmlSiteMap.includeItemsCount }}   
      <h3>Community - COVID-19 Pandemic</h3>
      <ul class="section-one-and-two-pages">
        {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Params.type" "==" "communities/medigy-pandemic") }}
            <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>  
        {{ end }}
      </ul>
    {{ end }}
    {{ if eq $.Site.Params.modules.communities.communitiesOfPractice.security.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.communities.communitiesOfPractice.security.htmlSiteMap.includeItemsCount }}   
      <h3>Community - Security</h3>
      <ul class="section-one-and-two-pages">
        {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Params.type" "==" "communities/medigy-security") }}
            <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>  
        {{ end }}
      </ul>
    {{ end }}
    {{ if eq $.Site.Params.modules.communities.communitiesOfPractice.risk_and_compliance.htmlSiteMap.includeInMap true }} 
      {{ $dataLimit := $.Site.Params.modules.communities.communitiesOfPractice.risk_and_compliance.htmlSiteMap.includeItemsCount }}   
      <h3>Community - Risk and Compliance</h3>
      <ul class="section-one-and-two-pages">
        {{ range first $dataLimit (where .Site.Pages.ByPublishDate.Reverse "Params.type" "==" "communities/medigy-risk-and-compliance") }}
            <li><a href = "{{ .Permalink }}"> {{.Title}}</a></li>  
        {{ end }}
      </ul>
    {{ end }} 
    </div>
    </div>
  </article>    
</main>
</div>
</section>
 {{ partial "footer.html" . }}  
</body>
</html>