<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<script>
  $(document).ready(function(){
    var token = getUrlVars()["token"];
    var id = getUrlVars()["id"]; 
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "{{ $.Site.Params.GraphQLUrl }}",
      "method": "POST",
      "headers": {
        "Content-Type": "application/x-www-form-urlencoded",
        "cache-control": "no-cache"
      },
      "data": {
        "query": "query{\n  getResetPasswordUser(key:\""+token+"\", id:\""+id+"\")\n}"
      }
    }
    console.log("query{\n  getResetPasswordUser(key:\""+token+"\", id:\""+id+"\")\n}");
    $.ajax(settings).done(function (response) {
      if(response.data.getResetPasswordUser == "1")
      {
        $('#changePassword').show();
        $('#=').hide();
      }
      else
      {
        $('#passwordMessage').html("You don't have any valid token at the moment or the link has been expired.");
        $('#changePassword').html("");
        $('#passwordMessage').addClass('alert-danger');
        $('#passwordMessage').show();   
        $('#reProcessArea').show();
      }
    }); 
    $('#changePassword').on('submit', function (e) {
      $('#passwordMessage').html("");
      $('#passwordMessage').removeClass('alert-success');
      $('#passwordMessage').removeClass('alert-danger');
      $('#passwordMessage').addClass('alert-primary');      
      $('#passwordMessage').html("Processing, please wait.");
      $('#passwordMessage').show();
      if (e.isDefaultPrevented()) {
          alert('form is not valid');
      } 
      else {
          {{ range last 1 .Site.Data.on_screen_messages_lhc_form.items }}                              
            {{ range .items }}
              {{ if eq .questionCode "ForgotPassword_message"}}
                {{ range .answers }}  
                  {{ if eq .code "invalid_password_in_create_password"}}
                      var invalid_password_in_create_password = {{ .text }}
                  {{ end }} 
                  {{ if eq .code "mismatch_password"}}
                      var mismatch_password = {{ .text }}
                  {{ end }}                                         
                  {{ end }}  
                {{ end }}
            {{ end }}
          {{ end }}
          e.preventDefault();
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
            var email = getCookie('userEmail');
            //var re = '^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$';
            //var patt = new RegExp("/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/");
            var validateResult = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!@#$%^&*()_+]{8,}$/.test(password);
            //var validateResult = patt.exec(password);
            //console.log(validateResult);
            if(!validateResult )
            {
              $('#passwordMessage').html(invalid_password_in_create_password);
              $('#passwordMessage').removeClass('alert-success');
              $('#passwordMessage').removeClass('alert-primary');
              $('#passwordMessage').addClass('alert-danger');
              return false;              
            }
            if(confirmPassword != password)
            {
              $('#passwordMessage').html(mismatch_password);
              $('#passwordMessage').removeClass('alert-success');
              $('#passwordMessage').removeClass('alert-primary');              
              $('#passwordMessage').addClass('alert-danger');
              return false;
            }
            var token = getUrlVars()["token"];
            var id = getUrlVars()["id"];
            //console.log("mutation{\n  updatePassword(userName:\""+email+"\",password:\""+password+"\",key:\""+token+"\"){\n    status\n    message\n    errorCode\n  }\n}");
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "{{ $.Site.Params.GraphQLUrl }}",
              "method": "POST",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
              },
              "data": {    
                "query": "mutation{\n  updatePassword(id:\""+id+"\",password:\""+password+"\",key:\""+token+"\"){\n    status\n    message\n    errorCode\n  }\n}"
              }
            }           
            $.ajax(settings).done(function (response) {
               $("#changePassword")[0].reset();
                if(response.data.updatePassword.message != "Password update failed" && response.data.updatePassword.status != "ERROR")
                {
                  $('#passwordMessage').html("");
                  $('#passwordMessage').html(response.data.updatePassword.message);
                  $('#passwordMessage').removeClass('alert-danger');
                  $('#passwordMessage').removeClass('alert-primary');                  
                  $('#passwordMessage').addClass('alert-success');   
                }
                else
                {
                  $('#passwordMessage').html("");
                  $('#passwordMessage').html("Password update failed");
                  $('#passwordMessage').removeClass('alert-success');
                  $('#passwordMessage').removeClass('alert-primary');                   
                  $('#passwordMessage').addClass('alert-danger');                    
                }
              $('#passwordMessage').show();
            });
          }
      });
  }); 
</script>

<body class="single-body">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ partial "nav-bar.html" . }}

<script>
  $(document).ready(function(){
    var personid = getCookie('personid');
    if (personid != null) {
    window.location.href = "/";
    }   
  });
</script>
  
  <section class="container">
    <main>
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 content side-text-padding container single-blog-card">
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }} min-height-auto">
        <div id="passwordMessage" class="alert alert-success" style="display: none;"></div>
        <header class="post-header">
          <h1 class="post-title">Create Password</h1>
        </header>

          <h3 id="tokenMessage"></h3>
        <div class="entry-content entry-content-2 page-content">
          <div class="row">
            <div class="col-sm-12">
              <article class="add-new-product-row">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="profile" role="tabpanel">
                    <form name="changePassword" id="changePassword" action="#" style="display: none;">
                      <section class="add-new-product-col min-height-sec" >
                        <aside class="margin-top-aside" >
                          <div class="form-group row col-md-12">
                            <label class="col-md-5"><span class="replace-it">Password <span style="color:#F00;">*</span></label>
                            <div class="col-md-7">
                              <input type="password" class="form-control" placeholder="Enter New Password" name="password" id="password"
                                required>
                            </div>
                          </div>
                          <div class="form-group row col-md-12">
                            <label class="col-md-5"><span class="replace-it">Confirm Password <span style="color:#F00;">*</span></label>
                            <div class="col-md-7">
                              <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"
                                required data-match="#password">
                            </div>
                          </div>                          
                        </aside>
                      </section>
                      <div class="text-right">
                        <button type="submit" class="btn btn-primary add-new-bt full-width" name="passwordButton" id="passwordButton">
                        Submit </button>
                      </div>
                  </form>
                </div>
            </div>
            <div id="reProcessArea" class="col-sm-12" style="display: none;">
              <a href="/" class="btn btn-link" class="btn btn-primary add-new-bt full-width" >
                      Go to Home </a>              
              <a href="/reset-password/" class="btn btn-link" class="btn btn-primary add-new-bt full-width" >
                Forgot Password </a>
            </div>         
            </article>
          </div>
        </div>
      </div>
      </article>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </main>
  </section>
</body>
</html>