{{ partial "communities-security-themeConfig.html" . }}
<!DOCTYPE html> 
<html   class=""   lang="{{ .Site.LanguageCode }}"   prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" >
{{ partial (print ($.Scratch.Get "head_community") ) . }}   
  <body lang="{{ .Site.LanguageCode }}" class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns" >
   <!-- Google Tag Manager (noscript) -->
   <div id="g-tag-body">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    </div>
    <!-- End Google Tag Manager (noscript) -->
  {{ partial (print ($.Scratch.Get "nav-bar") ) . }}
  <section class="about-wrapper">
    <div id="content" class="security-new">
      <div class="container">
        {{ partial (print ($.Scratch.Get "bread-crumb") ) . }}  
     </div>
    {{- block "main" . }}{{ end }}</div>
  </section>
  {{ partialCached (print ($.Scratch.Get "footer") ) . }}
  </body>
</html>