{{ define "main" }}
{{ partial (print ($.Scratch.Get "inner-top-banner") ) . }}
{{ $currentTag := index (last 2 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<section id="main">

	<div class="container">
		<div class="row">
			<div class="col-md-12 tableline">
				<!-- Nav tabs -->
				<!-- <ul class="nav nav-tabs justify-content-center" role="tablist">
					{{ with .Params.tabs }}					
						{{ range $i, $e := . }}
							{{ $tabs:=  replaceRE "(\\s)" "" $e.name }}						
							<li class="nav-item">
								<a class="nav-link {{if eq $i 0 }} active {{end}} " data-toggle="tab" href="#{{ lower  $tabs }}"><i class="{{ $e.icon }}"></i> {{ $e.name }} </a>
							</li>							
						{{ end }}
					{{ end }}
				</ul> -->
				<!-- Tab panes -->
				<div class="tab-content">
					{{ $curCat:=  .Params.contentcategories}}
					{{ if eq .Params.contentcategories "security-new-actionablecontent" }}
					{{ $.Scratch.Set "addClass" "actionableConent" }}
					{{ end }}
					{{ $valfiltered := (where .Site.RegularPages ".Params.contentcategories" "==" $curCat)  }}
					{{ range $i, $e := .Params.tabs }}
					{{ $tabs:=  replaceRE "(\\s)" "" $e.name }}
					<div id="{{ lower  $tabs }}" class=" tab-pane  {{if eq $i 0 }} active {{end}}">
						{{if  eq $e.name "Upcoming Events" }}
						<div class="row mt-3">
							{{ range $valfiltered }}
							{{ $eventDate := .Params.eventDate }}
							<div class="col-md-6">
								<div class="eventslist">
									<div class="datebatch">
										<div class="datecontent">
											<span
												class="month">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "Jan" }}</span>
											<span
												class="date">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "2" }}</span>
											<span
												class="day">{{ ((time $eventDate).Add (10 | duration "hour" )).Format "Monday" }}
											</span>
										</div>
										<div class="datebtm"><img src="/security-new/images/datebtm.jpg" alt=""></div>
									</div>
									<h3><a href="{{.Permalink}}">{{ .Params.title }}</a></h3>
									<div class="eventimg">
										{{ if .Params.featuredimage}}
										{{ $fpath:=  .File.Dir }}
										{{ $fileDir := replace $fpath "\\" "/"}}
										<img src="/{{$fileDir}}featuredDefault.png{{ .Params.featuredImage  }}"
											alt="{{ .Title }}"
											onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
										{{ else if  .Params.image }}
										{{ $fpath:=  .File.Dir }}
										{{ $fileDir := replace $fpath "\\" "/"}}
										<img src="/{{$fileDir}}{{ .Params.image  }}" alt="{{ .Title }}"
											onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
										{{ else }}
										<img src="{{ print ( $.Scratch.Get "default-image" )  }}" alt="{{ .Title }}">
										{{ end }}
									</div>
									<div class="eventcontent">
										<div class="eventlisttop"><i class="fas fa-calendar"></i>
											{{ ((time $eventDate).Add (10 | duration "hour" )).Format "Monday, Jan 2, 2006" }}
										</div>
										<div class="eventlocation"><span class="icon"><i
													class="fa fa-map-marker"></i></span> <span
												class="eventdesc">{{ .Params.location }}</span></div>
									</div>
								</div>
							</div>
							{{end }}
						</div>
						{{end}}
						{{if  eq $e.name "Past Events" }}
						<div class="row mt-3">

							<!-- Groups content by month according to the "date" field in front matter -->
							<div class="col-md-6">
								<div class="eventslist newlisting">
									<h3>PrecisionPoint Transperineal Access System Training Day -- {{ $e.name }}</h3>
									<div class="infolisting"><i class="fa fa-user-circle"></i> <span>Rema Deo</span> <i
											class="fas fa-calendar"></i> <span>Tue Feb 12, 2019</span></div>
									<div class="eventimg"><img src="/images/security-new/img2.jpg" alt=""></div>
									<div class="eventcontent">
										<p>Yes, they all ask for a risk assessment. If you, as a healthcare covered
											entity or a healthcare business associate, ever get audited by the Office of
											Civil Rights (OCR), or if you have already had the …</p>
									</div>
								</div>
							</div>
						</div>
						{{end}}
						{{if  eq $e.name "Latest" }}
						<div class="row mt-3">
							{{ range $valfiltered }}
							{{ $eventDate := .Params.eventDate }}
							<div class="col-md-6">
								{{ $addClass := $.Scratch.Get "addClass" }}
								<div class="eventslist newlisting {{ $addClass }}">
									<h3><a href="{{.Permalink}}" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': 'communities-{{ $currentTag }}','gtmTitle': '{{.Params.title}}', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})">{{ .Params.title }}</a></h3>
									{{ if ne .Params.contentcategories "security-new-actionablecontent" }}
									<div class="infolisting"><i class="fa fa-user-circle"></i>
										<span>{{ .Params.author }}</span>
										<i class="fas fa-calendar"></i> <span>
											{{ .Date.Format "Monday, Jan 2, 2006" }} </span></div>

									<a href="{{.Permalink}}">
										<div
											class=" {{if  eq .Params.contentcategories "medigy-security-infographics" }} infographicMedia {{ else }} eventimg {{ end }}">
											{{ if .Params.featuredimage.href}}
											{{ $fpath:=  .File.Dir }}
											{{ $fileDir := replace $fpath "\\" "/"}}
											<img src="/{{$fileDir}}{{ .Params.featuredImage.href  }}" alt="{{ .Title }}"
												onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
											{{ else if  .Params.featuredimage }}
											{{ $fpath:=  .File.Dir }}
											{{ $fileDir := replace $fpath "\\" "/"}}
											<img src="/{{$fileDir}}{{ .Params.featuredimage }}" alt="{{ .Title }}"
												onerror="this.onerror=null; this.src='{{ print ( $.Scratch.Get "default-image" )  }}'">
											{{ else }}
											<img src="{{ print ( $.Scratch.Get "default-image" )  }}"
												alt="{{ .Title }}">
											{{ end }}

										</div>
									</a>
									{{ end }}
									{{if  ne .Params.contentcategories "medigy-security-infographics" }}
									{{ $addClass := "" }}

									{{ $addClass := $.Scratch.Get "addClass" }}
									<a href="{{.Permalink}}">
										<div class="eventcontent {{ $addClass }}">
											<p>{{ .Params.description }}</p>
										</div>
									</a>
									{{ end }}
								</div>
							</div>
							{{end}}
						</div>
						{{end}}

					</div>
					{{ end }}



				</div>
			</div>
		</div>
		<!-- Tab panes Close-->
	</div>
</section>

{{end}}