<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<body class="single-body">
  <script>
    // data layer variable
    $(document).ready(function () {
      $('#Category_Offering_Invite').on("click", function () {

        var userEmail = getCookie('userEmail');
        var category = $('.category-heading').html();
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
          'gtmCategory': category,
          'gtmUseremailid': userEmail

        });

      });
    });

  </script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ partial "nav-bar.html" . }}
  <!-- community category strats here -->
  <section class="detail-wrapper">
    <h2 id="category-title" style="display:none">{{ .Title }} </h2>
    


    <article class="new-ofering-row-3 commun-content-row-3">
      <div class="container">
        <div id="breadcrumbs" class="new-ofer-breadcrumbs pl-2"><a href="/">Home</a> &gt; <a href="/hdo_types">HDO Types</a> &gt; {{.Title}}</div>

        <div class="row">
          <div class="col-lg-8">
            <div class="new-ofering-row-3-left-cell-1 no-border">
              <h2 class="category-heading">{{ replace .Title "Medigy: " ""}}</h2>
              <br />
              {{ $.Scratch.Set "title" .Title}}
              <p id="category-decription">
                              </p>
            
            </div>

          </div>

          <div class="col-lg-4">
            <div class="commun-right-row">
              <div class="commun-add-invite-cell">
            
                <div class="new-ofer-header-right-col-2 ">
                  <div class="new-ofer-q-1">
                    <p>Know anyone building innovative solutions for <b class="category-name">{{ replace .Title "Medigy: " ""}}?</b></p>
                    <a href="#" class="new-ofer-btn-1 green inviteProcess">
                      <div class="new-ofer-q-1-bt-l" id="Category_Offering_Invite">Invite them to submit their offerings
                      </div>
                      <div class="new-ofer-q-1-bt-r"><i class="fas fa-chevron-right"></i></div>
                      <div class="clearfix"></div>
                    </a>
                  </div>
                </div>
              </div><!-- commun-add-invite-cell ends -->
            </div>
          </div>

        </div>
      </div>
    </article>
    <hr>
    <article class="new-ofering-row-3 commun-content-row-3">
      <div class="container">
        <div class="new-ofering-row-3-left-cell-2 no-border">
          <div class="row">
            <div class="col-md-12">
              <div class="ofer-list-1-ttl"><b>Topic Community Insights</b></div>
              <ul class="row">

                {{ $posts := where .Site.Pages "Type" "post" }}
                {{ $.Scratch.Set "tagCounter" 0 }}
                {{ $.Scratch.Set "productCounter" 0 }}
                {{ $.Scratch.Set "serviceCounter" 0 }}
                {{ $.Scratch.Set "solutionCounter" 0 }}
                {{ $categoryName := .Title }}
                {{ range $posts}}
                {{ if (in .Params.categories $categoryName) }}
                {{ $.Scratch.Add "tagCounter" 1 }}
                {{ if (in .Params.offeringType "Product")}}
                {{ $.Scratch.Add "productCounter" 1 }}
                {{ end }}
                {{ if (in .Params.offeringType "Service")}}
                {{ $.Scratch.Add "serviceCounter" 1 }}
                {{ end }}
                {{ if (in .Params.offeringType "Solution")}}
                {{ $.Scratch.Add "solutionCounter" 1 }}
                {{ end }}
                {{ end }}
                {{ end }}
                <li class="col-md-2"><span class="insight-ttl-1">Total:</span> <span
                    class="green-txt insight-ttl-1"><strong>{{ $.Scratch.Get "tagCounter" }}</strong></span></li>
                <li class="col-md-2"><span class="insight-ttl-1">Product:</span> <span
                    class="green-txt insight-ttl-1"><strong>{{ $.Scratch.Get "productCounter" }}</strong></span></li>
                <li class="col-md-2"><span class="insight-ttl-1">Solution:</span> <span
                    class="green-txt insight-ttl-1"><strong>{{ $.Scratch.Get "solutionCounter" }}</strong></span></li>
                <li class="col-md-2"><span class="insight-ttl-1">Service:</span> <span
                    class="green-txt insight-ttl-1"><strong>{{ $.Scratch.Get "serviceCounter" }}</strong></span></li>

              </ul>
            </div>
            <div class="col-md-12">
              <div class="ofer-list-1-ttl"><b>Related Topic Community</b></div>
              <ul class="row" id="relatedCategories">
                               </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
<!--          categoryLink = categoryTitle.replace(/ /g, "-").toLowerCase().replace(':', '');-->
    <article class="new-ofering-row-3 commun-content-row-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="text-center">Top 5 Most Popular HDO having <span id="top5CategoryTitle">{{ replace .Title "Medigy: " ""}}</span>
            </h4>
            <div class="top-10-most-row">
              <div class="top-10-most-row-tab-ttl">
                <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active Category_Followed_Tab" id="followed-tab" data-toggle="tab"
                      href="#followed" role="tab" aria-controls="followed" aria-selected="true"><i
                        class="fas fa-eye"></i> Followed</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link Category_Starred_Tab" id="favorite-tab" data-toggle="tab" href="#favorite"
                      role="tab" aria-controls="favorite" aria-selected="false"><i class="fas fa-star"></i> Starred</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link Category_Used_by_Tab" id="usedby-tab" data-toggle="tab" href="#usedby" role="tab"
                      aria-controls="usedby" aria-selected="false"><i class="fas fa-box-open"></i> Used by</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link Category_Wishlisted_Tab" id="wishlisted-tab" data-toggle="tab" href="#wishlisted"
                      role="tab" aria-controls="wishlisted" aria-selected="false"><i class="fas fa-heart"></i>
                      Wishlisted</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="followed" role="tabpanel" aria-labelledby="followed-tab">
                  <!-- product listings starts -->
                  <div class="top-10-most-list">
                    <div>
                      <main class="fhir-list-row">
                        <!--<header class="list-header">
            <p class="list-header-subtext">{{ .Description }}</p>
            <h1 class="list-header-title">{{ .Title }}</h1>
          </header>-->

                        {{ range first 5  ( .Pages.ByParam "follow").Reverse }}
                        {{ .Render "li-regular-institution" }}
                        {{ end }}
                      </main>

                    </div>



                  </div>
                  <!-- product listings ends -->

                </div>
                <div class="tab-pane fade" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
                  <!-- product listings starts -->
                  <div class="top-10-most-list">
                    <div>
                      <main class="fhir-list-row">
                        {{ range first 5 ( .Pages.ByParam "favourite").Reverse }}
                        {{ .Render "li-regular-institution" }}
                        {{ end }}
                      </main>
                    </div>
                  </div>
                  <!-- product listings ends -->
                </div>
                <div class="tab-pane fade" id="usedby" role="tabpanel" aria-labelledby="usedby-tab">
                  <div class="top-10-most-list">
                    <!-- product listings starts -->
                    <div>
                      <main class="fhir-list-row">
                        <!--<header class="list-header">
                    <p class="list-header-subtext">{{ .Description }}</p>
                    <h1 class="list-header-title">{{ .Title }}</h1>
                  </header>-->
                        {{ range first 5 ( .Pages.ByParam "usedby").Reverse }}
                        {{ .Render "li-regular-institution" }}
                        {{ end }}
                      </main>

                    </div>
                  </div><!-- product listings ends -->
                </div>
                <div class="tab-pane fade" id="wishlisted" role="tabpanel" aria-labelledby="wishlisted-tab">
                  <!-- product listings starts -->
                  <div class="top-10-most-list">
                    <div>
                      <main class="fhir-list-row">
                        {{ range first 5 ( .Pages.ByParam "wishlisted" ).Reverse }}
                        {{ .Render "li-regular-institution" }}
                        {{ end }}
                      </main>
                    </div>
                  </div>
                  <!-- product listings ends -->
                </div>
              </div>
            </div><!-- top-10-most-row ends -->

            <div class="category-what-new-row">
              <h3>What is new in <span id="whatsNewCategory">{{ replace .Title "Medigy: " ""}}</span>?</h3>
              <div class="border-center-1"></div>
              <!-- product listings starts -->
              <div class="top-10-most-list ">

                <div>
                  <main class="fhir-list-row">
                    <!--<header class="list-header">
            <p class="list-header-subtext">{{ .Description }}</p>
            <h1 class="list-header-title">{{ .Title }}</h1>
          </header>-->

                    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Params.displayinlist" "!=" false ) }}

                    {{ range $paginator.Pages}}

                    {{ .Render "li-regular-institution" }}
                    {{ end }}
                  </main>
                  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
                  <nav class="pagination-nav side-padding">
                    {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL  }}" class="pagination-newer">&lt; Newer
                      Posts</a>{{ end }}
                    {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL  }}" class="pagination-older">Older Posts
                      &gt;</a>{{ end }}
                  </nav>
                  {{ end }}
                </div>

              </div>
              <!-- product listings ends -->

            </div><!-- category-what-new-row ends -->
          </div>

        </div>
      </div>
    </article>

  </section>

  {{ partial "footer.html" . }}
  <script src="/js/type-writer.js"></script>
 
</body>

</html>