<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}
{{ partial "award-hitmc-2020-themeConfig.html" . }}
<style>
  .lf-form-body .ng-scope .lf-form-table>div:first-child {
    display: none !important;
  }
</style>
<body class="single-body">
  <!-- Google Tag Manager (noscript) -->
  <div id="g-tag-body">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.GTMCode }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe>
  </noscript>
  </div>
  <!-- End Google Tag Manager (noscript) -->
{{ partial "nav-bar.html" . }}

<section class="about-wrapper">
  
<div id="my-offering" class="container">
  {{ partial "bread-crumb.html" . }}



  

   <main class="fhir-list-row search-results-row pt-1">

    <div class = "clearfix"></div>
 
       {{ range $key, $taxonomy := .Site.Taxonomies.recognitions }}

        

        
       {{ range where $taxonomy.Pages "Params.sub" "grouping"   }}
       {{ $img := strings.TrimLeft "/awards/hitmc-2020-awards" (.Params.featuredimage) }} 
       {{ $updateImg := print "/" $img }}
       {{ $strl := len ("/awards/hitmc-2020-awards/")}}
       {{ $path := len (.Params.featuredimage)}}
       {{ $slices := slicestr .Params.featuredimage $strl $path }}
       {{ $slices := print "/" $slices }}
       
       <div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)" class="card blog-card" rel="bookmark">{{ if isset .Params "featuredimage" }}<div class="card-img-container"> <img src="{{ $.Scratch.Get "staticPath" }}{{ $slices }}" class="card-img" alt ="2020-medigy-hitmc-awards" onerror="this.onerror=null; this.src='{{ $.Scratch.Get "staticPath" }}/img/featured/default.png'"> </div>{{ else }}   {{ end }}<article class="card-body"><h2 class="card-title"><a href="{{ $.Scratch.Get "staticPath" }}/recognition/award/{{.Params.award}}" class="gtm-award" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmPage': $('.nav-link.menu-selected').text(),'gtmTitle': '{{ .Params.Title }}','gtmPersonid':getCookie('userEmail')})">{{ .Params.Title }}</a></h2><p class="card-text ch-limit">{{ .Summary }}</p> <div class="metrix row count-bt-area">
 
      
    <div class="col-lg-3 count-col-1">
      
      
    </div>
   
      <div class="col-lg-5 count-col-2">
        
      </div> 
    
<div class="col-lg-4 count-col-3">
<div class="social-share social-count-display">  
      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://www.facebook.com/sharer/sharer.php?u=" $safeUrl "recognition/award/" .Params.award }}
      {{ $class := "fb-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Facebook" }}
      {{ $icon := "fab fa-facebook-square cl-f" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}
       
      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "https://twitter.com/intent/tweet?url=" $safeUrl "recognition/award/" .Params.award }}
      {{ $class := "twitter-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Twitter" }}
      {{ $icon := "fab fa-twitter-square cl-t" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "http://www.linkedin.com/shareArticle?url=" $safeUrl "recognition/award/" .Params.award }}
      {{ $class := "linkedin-share-push fb-share" }}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Linkedin" }}
      {{ $icon := "fab fa-linkedin cl-in" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }}

      {{$permaLink := .Permalink | safeURL}}
      {{ $safeUrl := $.Site.Params.siteUrl }}       
      {{ $href := print "mailto:?subject=Check out the post, '" .Params.title "' in medigy.com!&body=" .Params.title "\n" $safeUrl "recognition/award/" .Params.award }}
      {{ $class := "email-share-push"}}
      {{ $dataApp := .Params.id }}
      {{ $dataSlug := .Permalink }}
      {{ $dataName := .Title }}
      {{ $tooltip := "Email" }}
      {{ $icon := "fas fa-envelope cl-m" }}
      {{ partialCached "social-share-button.html" (dict "href" $href "class" $class "dataApp" $dataApp "dataSlug" $dataSlug "dataName" $dataName "icon" $icon "tooltip" $tooltip) $dataApp $tooltip }} 
      <div class="clearfix"></div>                 
     <div class="clearfix"></div>   
    </div>
    </div>
    </div>  </article></div> 
       
      {{ end }}
      {{ end }} 
   </main>
  </div>
</section>
   {{ partialCached "footer.html" . }}
</body>

</html>
