

{{- $spec := index .Site.Data (split (.Get "apiFile") "/") -}}
<div id="swagger-ui"></div>
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/swagger-ui.css">
<style>.information-container, .scheme-container { display: none !important; }</style>
<script src="{{ .Site.BaseURL }}/js/swagger-ui-bundle.js"></script>
<script>
  window.onload = function() {
    // Build a system
    const ui = SwaggerUIBundle({
      spec: {{ $spec }},
    dom_id: '#swagger-ui',
        deepLinking: true,
        validatorUrl: null,
        displayOperationId: true,
        showCommonExtensions: true,
        supportedSubmitMethods: [],
        presets: [
      SwaggerUIBundle.presets.apis
    ],
        plugins: [
    ],
        layout: "BaseLayout"
  });
    window.ui = ui
  }
</script>
