
{{ $htmlTable := .Inner | markdownify }}
{{ $class := .Get 0 }}

{{ $old := "<table>" }}
{{ $new := "<table class=\"slds-table slds-table_cell-buffer slds-table_bordered\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $old := "<thead>" }}
{{ $new := "<thead class=\"slds-thead\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}    

{{ $old := "<tbody>" }}
{{ $new := "<tbody class=\"slds-tbody\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $old := "<tr>" }}
{{ $new := "<tr class=\"slds-table tr\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $old := "<th>" }}
{{ $new := "<th  class=\"coral-table-headercell\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $old := "<td>" }}
{{ $new := "<td class=\"coral-table-cell\">" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $old := "<td rowspan" }}
{{ $new := "<td class=\"coral-table-cell\" rowspan" }}
{{ $htmlTable := replace $htmlTable $old $new }}

{{ $htmlTable | safeHTML }}


