<div ontouchstart="cardPressed.call(this)" ontouchend="cardReleased.call(this)" ontouchmove="cardReleased.call(this)"
  class="card blog-card" rel="bookmark">

  
  {{ with .Params.feedSource }}
  {{ $firstTab := index . 0 }}
  {{ $.Scratch.Set "firstTab" $firstTab }}
  {{ end }}
  {{ $source := $.Scratch.Get "firstTab" }}
  {{ $imagePath  := print "/feed/latest/" $source "/" .Params.icon.href }}
  <div class="feeds-box w-100 pl-3 pr-3">
    <div class="feeds-box-logo">{{ if .Params.icon.href }}<img src="{{ $imagePath }}"
        onerror="this.onerror=null; this.src='/feed/latest/feed.ico'" alt="{{ .Params.title }}" />{{ else }}<img src="/feed/latest/feed.ico"
        onerror="this.onerror=null; this.src='/feed/latest/feed.ico'" alt="{{ .Params.title }}" />{{ end }}</div>
    <div class="feeds-box-col-1"><a href="{{ .Params.link.href }}" target="_blank" data-toggle="tooltip"
        data-placement="top" title="{{.Title}}"> {{.Title}}</a></div>
    {{ $datenew := .Date.Format "2006-01-02" }}
    <div class="feeds-box-col-4 "><time class="timeago" datetime="{{ $datenew }}">{{ .Date }}</time></div>

    <div class="feeds-box-col-3"><span class="feed-color-bg-1">{{ .Params.feed.title }}</span></div>
    <div class="clearfix"></div>
  </div>

</div>