<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
{{ partial "head.html" . }}

<body class="single-body">


  {{ partial "nav-bar.html" . }}
  <!-- community category strats here -->
  <section class="detail-wrapper">
		<div class="container">
    <h2 id="category-title">{{ .Title }} -- ssdsdfdjnd </h2>
		{{ $currentCat:= .Title }} 
    <hr>
			<div class="row equal">
				{{ range $key, $value := .Site.Taxonomies.categories }}         
					{{if eq $key $currentCat }}
						{{ range $value.Pages }}
							<div class="col-sm-6 col-md-4 col-lg-3 ">
									<div class="card">
											<img class="card-img-top" src="{{ .Params.image }}">
											<div class="card-block p-2">
													<h6 class=""><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></h6>
											</div>
									</div>
							</div>
						{{ end }}
					{{end }}
				{{ end }}
			</div>
</div>
		
		


  </section>

  {{ partial "footer.html" . }}

    
</body>

</html>