<!-- Set the base path here -->
{{ $basePath := "communities/medigy-risk-and-compliance" }}
{{ $partialPath := "communities/medigy-risk-and-compliance" }}
{{ $staticPath := "/communities/medigy-risk-and-compliance/" }}
{{ $contentPath := "communities/risk-and-compliance/" }}


<!-- set varile to get on more scopes -->
{{ $.Scratch.Set "basePath"             $basePath }}
{{ $.Scratch.Set "partialPath"          $partialPath }}
{{ $.Scratch.Set "staticPath"           $staticPath }}
{{ $.Scratch.Set "contentPath"           $contentPath }}

<!-- Image Variables -->
{{ $.Scratch.Set "default-image"           "/communities/medigy-risk-and-compliance/images/featured-default.png" }}
{{ $.Scratch.Set "banner-image"           "/communities/medigy-risk-and-compliance/images/banner.jpg" }}
{{ $.Scratch.Set "related-image"           "/communities/medigy-risk-and-compliance/images/related.png" }}

<!-- Heading Variables -->
{{ $.Scratch.Set "banner-tittle"           "Risk and Compliance" }}
{{ $.Scratch.Set "banner-subTittle"           "Community of Practice" }}
{{ $.Scratch.Set "banner-desc"           "Built by cybersecurity practitioners, the Security CoP contains valuable resources such as curated articles, original contributions, news and events from the cybersecurity space." }}


{{ $.Scratch.Set "actionable-content"   (print $partialPath "/actionable-content.html")   }}
{{ $.Scratch.Set "bread-crumb"          "bread-crumb.html" }}
{{ $.Scratch.Set "body-knowledge"       (print $partialPath "/body-knowledge.html")   }}
{{ $.Scratch.Set "bundle"   (print $partialPath "/bundle.html")   }}
{{ $.Scratch.Set "categories-home"      (print $partialPath "/categories-home.html")  }}
{{ $.Scratch.Set "curatedJobDescription" (print $partialPath "/curatedJobDescription.html")   }}
{{ $.Scratch.Set "footer"               "footer.html" }}
{{ $.Scratch.Set "head"                 "head.html" }}
{{ $.Scratch.Set "head_community"        "head-communities.html" }}
{{ $.Scratch.Set "head_includes"        (print $partialPath "/head_includes.html")  }}
{{ $.Scratch.Set "inner-top-banner"     (print $partialPath "/inner-top-banner.html")  }}
{{ $.Scratch.Set "latest-news"          (print $partialPath "/latest-news.html")  }}
{{ $.Scratch.Set "members"              (print $partialPath "/members.html")  }}
{{ $.Scratch.Set "metaPartial"          (print $partialPath "/meta.html") }}
{{ $.Scratch.Set "nav-bar"              "nav-bar.html" }}
{{ $.Scratch.Set "pagination-np"        (print $partialPath "/pagination-np.html") }}
{{ $.Scratch.Set "related-post"         (print $partialPath "/related-post.html" ) }}
{{ $.Scratch.Set "share"           (print $partialPath "/share.html") }}
{{ $.Scratch.Set "top-banner"           (print $partialPath "/top-banner.html")  }}
{{ $.Scratch.Set "upcoming"             (print $partialPath "/upcoming.html")  }}
