<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "award-hitmc-2020-themeConfig.html" . }}

  {{ partial "head.html" . }}
  <body class="single-body">
    {{ partial "nav-bar.html" . }}
    <script>
    $(document).ready(function () {
      $("#imageThumb").click(function(){
         
        $("#featuredAwardImage").show();
        $("#youtubePlay").hide();
 
      });

      $("#youtubeThumb").click(function(){
         
         $("#youtubePlay").show();
         $("#featuredAwardImage").hide();
  
       });
    });

      </script>
    <div class="about-wrapper">
    <main class="container search-result-row">

<div itemscope itemtype = "http://schema.org/WebSite">
<div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/NewsArticle">

       
        {{ if isset .Params "featuredimage" }}
        
        <picture class="post-figure m-b-15">
            <a href="#" ></a><img itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}/recognition/2019-medigy-hitmc-awards.jpg" class="img-responsive" {{ if isset .Params "title" }}alt="{{.Params.title}}"{{end}} onerror="this.onerror=null; this.src='{{ $.Scratch.Get "staticPath" }}/news/no-image-article.jpg'"></a>
        </picture>
        {{ else }}
         <picture class="post-figure m-b-15">
             <img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}/news/no-image-article.jpg" class="img-responsive">
        </picture>
        {{ end }}
 
      <!-- Modal > Add to Project ends -->
      <article class="post {{ if ne .Params.dropcap false }}dropcase{{ end }}">
     
        <div class = "cover-content">
                   
            <header class="post-header row">
              {{ $img := strings.TrimLeft "/awards/hitmc-2019-awards" (.Params.profileimage) }} 
               {{ $strl := len ("/awards/hitmc-2019-awards/")}}
                {{ $path := len (.Params.featuredimage)}}
                {{ $slices := slicestr .Params.featuredimage $strl $path }}

                {{ $slices := print "/" $slices }}
              {{ $img := print "/" $img  }}

              <div class="col-md-3"><img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}{{ $slices }}" class="img-responsive"></div>
              <div class="col-md-9">
                          
                <h1 class="post-title" itemprop = "Headline">{{ .Params.title }} </h1>

                <!-- <h2 class = "profile-text-2"> {{ .Params.designation }} </h2> -->
                <hr>
                <div class = "profile-contact-text">
                  <div>

                    <p class="profile-description-1">
                      <a id = "addtoilm"   href="{{ .Params.winner_url }}" class="new-ofer-btn-1 pull-right ml-3 green-button" target="_blank">
                       View Profile</a>
                      <b> {{ .Params.recognized }}</b> - {{ .Params.about_winner }}</p>                       
                  </div>
                  
                </div>
                <hr>
                       
              </header>
              <div itemprop = "publishingPrinciples" itemscope itemtype = "https://schema.org/CreativeWork">
                     
                <!--<span itemprop = "publisher">medigy.com</span>-->
      
              </div>
                {{ .Content }}

                <div class="row">

                <div class="col-lg-8"><a href="{{ .Params.source_url }}" target="_blank" class="ofer-see-more Product_See_More_Button" role="button" aria-expanded="false">
                    Read More
                  </a></div>
                <div class="col-lg-4">
                <div class="social-share social-count-display">   
                  {{ $url := printf "%s" .URL | absLangURL }}
                  {{$basePath := printf "%s" $.Site.Params.siteUrl | safeURL }}
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ $basePath }}{{ .URL | safeURL }}" title="Facebook" class="fb-share-push fb-share" data-app="152" data-slug="" data-name="All for One: HTM, IT, and the Future of Medical Device Management" data-safe-url="" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTitle': 'All for One: HTM, IT, and the Future of Medical Device Management', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><div class="small-bt-row" data-app="152"><span class="col a"><i class="fab fa-facebook-square cl-f"></i></span><span class="col b"></span></div></a>
                   
                  <a href="https://twitter.com/intent/tweet?url={{ $basePath }}{{ .URL | safeURL }}" title="Twitter" class="twitter-share-push fb-share" data-app="152" data-slug="" data-name="All for One: HTM, IT, and the Future of Medical Device Management" data-safe-url="" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTitle': 'All for One: HTM, IT, and the Future of Medical Device Management', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><div class="small-bt-row" data-app="152"><span class="col a"><i class="fab fa-twitter-square cl-t"></i></span><span class="col b"></span></div></a>
            
                 
                  <a href="http://www.linkedin.com/shareArticle?url={{ $basePath }}{{ .URL | safeURL }}" title="Linkedin" class="linkedin-share-push fb-share" data-app="152" data-slug="" data-name="All for One: HTM, IT, and the Future of Medical Device Management" data-safe-url="" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTitle': 'All for One: HTM, IT, and the Future of Medical Device Management', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><div class="small-bt-row" data-app="152"><span class="col a"><i class="fab fa-linkedin cl-in"></i></span><span class="col b"></span></div></a>
            
                  <a href="mailto:?subject=Check%20out%20the%20post,%20%27All%20for%20One:%20HTM,%20IT,%20and%20the%20Future%20of%20Medical%20Device%20Management%27%20in%20medigy.com!&amp;body=All%20for%20One:%20HTM,%20IT,%20and%20the%20Future%20of%20Medical%20Device%20Management%0a{{ $basePath }}{{ .URL | safeURL }}" title="Email" class="email-share-push " data-app="152" data-slug="//10.10.10.120:1313/news/2019/12/02/24x7mag.com-all-for-one-htm-it-and-the-future-of-medical-device-management/" data-name="All for One: HTM, IT, and the Future of Medical Device Management" data-safe-url="" onclick="dataLayer.push({'event': 'sharebuttonclick','gtmTitle': 'All for One: HTM, IT, and the Future of Medical Device Management', 'gtmTab': $('.nav-tabs .active').text(),'gtmPersonid':getCookie('userEmail')})"><div class="small-bt-row" data-app="152"><span class="col a"><i class="fas fa-envelope cl-m"></i></span><span class="col b"></span></div></a>                                 
                 
                <div class="clearfix"></div>                 
                
                </div>
                </div>
                </div>
                {{ $img := strings.TrimLeft "/awards/hitmc-2019-awards" (.Params.featuredimage) }} 
                {{ $img := print "/" $img }}
                {{ $strl := len ("/awards/hitmc-2019-awards/")}}
                {{ $path := len (.Params.featuredimage)}}
                {{ $slices := slicestr .Params.featuredimage $strl $path }}

                {{ $slices := print "/" $slices }}
                {{ if isset .Params "youtube" }}
                <div class = "row">
                  <div class="col-md-8">
                    <div class="mt-3" id = "youtubePlay" > <iframe  width="100%" height="295" src="{{ .Params.youtube }}" frameborder="0" allow="autoplay" allowfullscreen></iframe> </div>
                    <div class="mt-3" id = "featuredAwardImage" style = "display:none;"><img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}{{ $slices }}" class="img-responsive"></div>

                  </div>

                  <div class="col-md-4">

                    <div class="mt-3" id = "youtubeThumb"> <img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}/Award-Youtube-Thumb-1-2-play-button.jpg" class="img-responsive"> </div>
                    <div class="mt-3" id = "imageThumb"><img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}{{ $slices }}" class="img-responsive"></div>
 
                  </div>

                  {{ else }}

                  <div class="mt-3"><img  itemprop = "image" src="{{ $.Scratch.Get "staticPath" }}{{ $slices }}" class="img-responsive"></div>

                  {{ end }}



                </div>
 
       
      </div>
      </article>
       
       
    
    </main>
    </div>
    </div>
    </div>
     
       
    {{ partialCached "footer.html" . }}
    {{ partialCached "scripts.html" . }}
    {{ $.Scratch.Set "uniqueCommentKey"  .Title }} 
  
  </body>
</html>
